<?xml version="1.0" encoding="utf-8"?>
<Media Key="f23b8d0a-a63e-43f3-bfc7-63344e89260c" Alias="0107200639Fountain.jpeg" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:06:34</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg" />
    <SortOrder>1756</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bsgdx2r4/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>