<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b6ba9f2-a8f3-4933-8fff-7f1e7c3e8e02" Alias="0107200639Fountain.jpeg (3)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:06:53</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg (3)" />
    <SortOrder>1743</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4suhwo5t/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>