<?xml version="1.0" encoding="utf-8"?>
<Media Key="87017a58-f58a-4714-b172-1f22d95b4811" Alias="0107200639Fountain.jpeg (56)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:10</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg (56)" />
    <SortOrder>2629</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lz3adb2k/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>