<?xml version="1.0" encoding="utf-8"?>
<Media Key="39a77c55-496d-418a-9183-ab6c60c71075" Alias="0107200639Fountain.jpeg (62)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:19:25</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg (62)" />
    <SortOrder>2810</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kn4kooln/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>