<?xml version="1.0" encoding="utf-8"?>
<Media Key="043499c4-bf8c-4323-9ab7-57ffb9c76d2c" Alias="0107200639Fountain.jpeg (28)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:14</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg (28)" />
    <SortOrder>1929</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ykmdibem/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>