<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2387a3-a610-4da5-a80a-5b4ab00e39a2" Alias="0107200639Fountain.jpeg (31)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/FountainJpeg31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:51</CreateDate>
    <NodeName Default="0107200639Fountain.jpeg (31)" />
    <SortOrder>2161</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uwddhlaq/0107200639fountain.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>