<?xml version="1.0" encoding="utf-8"?>
<Media Key="24849ba8-dd59-41ca-a5dc-89038e2d2053" Alias="010DA62B 891B 40BD 997B C6C7E9BDCF3F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DA62B891B40BD997BC6C7E9BDCF3F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T15:11:41</CreateDate>
    <NodeName Default="010DA62B 891B 40BD 997B C6C7E9BDCF3F" />
    <SortOrder>2035</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v0njijcz/010da62b-891b-40bd-997b-c6c7e9bdcf3f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>