<?xml version="1.0" encoding="utf-8"?>
<Media Key="a87f625a-c89f-49bd-ac42-2cfad4b05980" Alias="011114114060X100.jpg (6)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/X100Jpg6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:42:13</CreateDate>
    <NodeName Default="011114114060X100.jpg (6)" />
    <SortOrder>413</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lrrh5ke5/011114114060x100.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>