<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f9195af-01af-42ef-bbdf-ef586903dbf0" Alias="01122111544-12 arb inst.png" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/arbInstPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:55</CreateDate>
    <NodeName Default="01122111544-12 arb inst.png" />
    <SortOrder>2763</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vgkjc53p/01122111544-12-arb-inst.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>