<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d7bf16e-85c5-4c05-b675-48fb3f811584" Alias="0112211155rageh dawod.png" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ragehDawodPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:12:14</CreateDate>
    <NodeName Default="0112211155rageh dawod.png" />
    <SortOrder>2215</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ndyhw5of/0112211155rageh-dawod.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>