<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d0bed7d-cc5c-451b-8c4c-da4447cfba42" Alias="0112211158chris concert 12-12.png" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/chrisConcert1212Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:15:06</CreateDate>
    <NodeName Default="0112211158chris concert 12-12.png" />
    <SortOrder>2524</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ppwbxhk2/0112211158chris-concert-12-12.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>