<?xml version="1.0" encoding="utf-8"?>
<Media Key="f732ff57-fc71-437e-bd93-93a6b8e74492" Alias="01FAA57E 399D 4F27 9992 EB79D643EF34" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FAA57E399D4F279992EB79D643EF34</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T13:15:26</CreateDate>
    <NodeName Default="01FAA57E 399D 4F27 9992 EB79D643EF34" />
    <SortOrder>1533</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kh5df31r/01faa57e-399d-4f27-9992-eb79d643ef34.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>