<?xml version="1.0" encoding="utf-8"?>
<Media Key="85f1099b-4f7a-4e7d-9060-c8aff70a6fd8" Alias="0202211140yahia khalil.png (2)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/yahiaKhalilPng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:21:16</CreateDate>
    <NodeName Default="0202211140yahia khalil.png (2)" />
    <SortOrder>2904</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tuepdbl0/0202211140yahia-khalil.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>