<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b9b4720-ace0-4f4e-991d-f0edc361609e" Alias="0301230226rigoletto.png (1)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/rigolettoPng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:20:25</CreateDate>
    <NodeName Default="0301230226rigoletto.png (1)" />
    <SortOrder>2963</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ezdjww5a/0301230226rigoletto.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>