<?xml version="1.0" encoding="utf-8"?>
<Media Key="73d9bbdc-f6cf-4ce1-ad1e-3b360f725a14" Alias="0303210120bal masqué.png (2)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/balMasquePng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:11</CreateDate>
    <NodeName Default="0303210120bal masqué.png (2)" />
    <SortOrder>2032</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1k3ns24p/0303210120bal-masqué.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>