<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ec3cd54-1879-4d20-9783-2520ef2060a5" Alias="0608130455sayed.jpg (62)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/sayedJpg62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:43:07</CreateDate>
    <NodeName Default="0608130455sayed.jpg (62)" />
    <SortOrder>537</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/klgngltz/0608130455sayed.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>