<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c26b5be-0ce6-4e1a-b50e-f3c975d4b4fe" Alias="0608130455sayed.jpg (44)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/sayedJpg44</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:17</CreateDate>
    <NodeName Default="0608130455sayed.jpg (44)" />
    <SortOrder>397</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xc0dmphg/0608130455sayed.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>