<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab184ac3-9b3b-4adf-b0c5-f6668cc01934" Alias="0608130455sayed.jpg (23)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/sayedJpg23</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:31</CreateDate>
    <NodeName Default="0608130455sayed.jpg (23)" />
    <SortOrder>262</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yvfbrkz1/0608130455sayed.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>