<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aa6c502-a8dd-4971-b974-a86b1116c6bc" Alias="0608130455sayed.jpg (94)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/sayedJpg94</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:46:56</CreateDate>
    <NodeName Default="0608130455sayed.jpg (94)" />
    <SortOrder>834</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/atclmow3/0608130455sayed.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>