<?xml version="1.0" encoding="utf-8"?>
<Media Key="3162745d-465b-4ae2-a840-472a77169daa" Alias="0679089D 9326 41A2 A7AF 695E7C4C0854" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D932641A2A7AF695E7C4C0854</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:23:59</CreateDate>
    <NodeName Default="0679089D 9326 41A2 A7AF 695E7C4C0854" />
    <SortOrder>1363</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ln0gemk1/0679089d-9326-41a2-a7af-695e7c4c0854.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>