<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b8c2641-8487-404e-b030-3d8b40c27cb6" Alias="099138CA A7B8 4533 BE7E 6DC9A0E2612E" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CAA7B84533BE7E6DC9A0E2612E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T15:05:25</CreateDate>
    <NodeName Default="099138CA A7B8 4533 BE7E 6DC9A0E2612E" />
    <SortOrder>2125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i2tiyg2h/099138ca-a7b8-4533-be7e-6dc9a0e2612e.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>