<?xml version="1.0" encoding="utf-8"?>
<Media Key="f778e5a5-e2db-400e-8d3c-5960ebe639c8" Alias="0A678EBB C881 40AA B523 A4F402DB4CA8" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A678EBBC88140AAB523A4F402DB4CA8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-29T00:46:17</CreateDate>
    <NodeName Default="0A678EBB C881 40AA B523 A4F402DB4CA8" />
    <SortOrder>322</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/upshr341/0a678ebb-c881-40aa-b523-a4f402db4ca8.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>