<?xml version="1.0" encoding="utf-8"?>
<Media Key="005b1fd1-a49d-4717-834b-d74a281412a8" Alias="0A8DC0C1 76B7 4BE9 899A 80849E1BD8EB" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A8DC0C176B74BE9899A80849E1BD8EB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-03T09:14:36</CreateDate>
    <NodeName Default="0A8DC0C1 76B7 4BE9 899A 80849E1BD8EB" />
    <SortOrder>1240</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/02pfwae3/0a8dc0c1-76b7-4be9-899a-80849e1bd8eb.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>