<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cb2aaa2-56bc-4aa5-bf8c-c4edfa93beec" Alias="0AB21F4B 445E 458D AA51 20311CF2EE5D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AB21F4B445E458DAA5120311CF2EE5D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:59:27</CreateDate>
    <NodeName Default="0AB21F4B 445E 458D AA51 20311CF2EE5D" />
    <SortOrder>1622</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/usvlehf2/0ab21f4b-445e-458d-aa51-20311cf2ee5d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>