<?xml version="1.0" encoding="utf-8"?>
<Media Key="38ca06d5-6c5f-4da1-b3d3-bdc74758ed08" Alias="0AFED417 2D80 4F4E 9ADC 94044D662A4F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AFED4172D804F4E9ADC94044D662A4F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T16:16:44</CreateDate>
    <NodeName Default="0AFED417 2D80 4F4E 9ADC 94044D662A4F" />
    <SortOrder>1011</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0mdmuoc5/0afed417-2d80-4f4e-9adc-94044d662a4f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>