<?xml version="1.0" encoding="utf-8"?>
<Media Key="4df16e06-1cba-47da-aab9-a7435dd642af" Alias="1 . اليوم الاول Whatsapp Image 2020 10 23 At 5.13.32 PM" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//WhatsappImage20201023At51332PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-20T13:17:15</CreateDate>
    <NodeName Default="1 . اليوم الاول Whatsapp Image 2020 10 23 At 5.13.32 PM" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/abxpctn0/1-اليوم-الاول-whatsapp-image-2020-10-23-at-5-13-32-pm.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>