<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aa16882-b024-42a5-b4ea-10c20726aca4" Alias="1. بادية حسن .المسرح الغنائي العربي بين النشأة والازدهار والانحسار" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-14T08:21:44</CreateDate>
    <NodeName Default="1. بادية حسن .المسرح الغنائي العربي بين النشأة والازدهار والانحسار" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrukcwre/1-بادية-حسن-المسرح-الغنائي-العربي-بين-النشأة-والازدهار-والانحسار.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>