<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3522b86-f878-4ba8-a751-f8ce0bb53aad" Alias="1. د. نضال نصيرات إشكاليات جمع وتوثيق وإعادة تقديم تراث المسرح الغنائي" Level="4">
  <Info>
    <Parent Key="c16338dc-f9ee-479f-a36c-81b51c199491">2022</Parent>
    <Path>/Festival///</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-15T09:42:59</CreateDate>
    <NodeName Default="1. د. نضال نصيرات إشكاليات جمع وتوثيق وإعادة تقديم تراث المسرح الغنائي" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vavff21y/1-د-نضال-نصيرات-إشكاليات-جمع-وتوثيق-وإعادة-تقديم-تراث-المسرح-الغنائي.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>