<?xml version="1.0" encoding="utf-8"?>
<Media Key="6429f5e3-aefd-4582-9356-77a6bd00527e" Alias="1. السنيرة محمد المصمودي" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-12T09:07:27</CreateDate>
    <NodeName Default="1. السنيرة محمد المصمودي" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zx0dszh3/1-السنيرة_محمد-المصمودي.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>