<?xml version="1.0" encoding="utf-8"?>
<Media Key="73b1767b-f9db-4350-a105-e0982e1a34b0" Alias="112BD3C1 4BB0 4255 89AD 1380EBF57C56" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BD3C14BB0425589AD1380EBF57C56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-11T14:41:31</CreateDate>
    <NodeName Default="112BD3C1 4BB0 4255 89AD 1380EBF57C56" />
    <SortOrder>1740</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pv1lc241/112bd3c1-4bb0-4255-89ad-1380ebf57c56.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>