<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f8bd87c-1db5-4b15-bea5-3632d1b50a8c" Alias="117EE49C EE76 40AD 9773 BD705941F79D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EE49CEE7640AD9773BD705941F79D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:01:49</CreateDate>
    <NodeName Default="117EE49C EE76 40AD 9773 BD705941F79D" />
    <SortOrder>1085</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/plmiwp3v/117ee49c-ee76-40ad-9773-bd705941f79d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>