<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2e81801-5d5e-4fb5-8263-b378cfe689bf" Alias="123 (4)" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-17T16:31:45</CreateDate>
    <NodeName Default="123 (4)" />
    <SortOrder>188</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a2mor2s4/123.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>