<?xml version="1.0" encoding="utf-8"?>
<Media Key="7393525f-5671-4725-b964-c493b1a3b35d" Alias="12E85EA5 2783 4AFE 9BAF 7BBD2F77B2F4" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E85EA527834AFE9BAF7BBD2F77B2F4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:40:40</CreateDate>
    <NodeName Default="12E85EA5 2783 4AFE 9BAF 7BBD2F77B2F4" />
    <SortOrder>2008</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lfjjg21r/12e85ea5-2783-4afe-9baf-7bbd2f77b2f4.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>