<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdf70cce-ebec-4598-89fd-be5c1aeab721" Alias="130319042830-3فورى s copy.jpg" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/sCopyJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:01:44</CreateDate>
    <NodeName Default="130319042830-3فورى s copy.jpg" />
    <SortOrder>1426</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zagpp5pm/130319042830-3فورى-s-copy.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>