<?xml version="1.0" encoding="utf-8"?>
<Media Key="45b9377d-81ed-4b6d-9d28-6f25f9e49e27" Alias="1309210202main hall.png (20)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/mainHallPng20</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:12:47</CreateDate>
    <NodeName Default="1309210202main hall.png (20)" />
    <SortOrder>2365</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pm1lsrpn/1309210202main-hall.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>