<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d543715-b1a1-4953-9644-147fa8777ea7" Alias="1309210203small hall.png (30)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/smallHallPng30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:15:29</CreateDate>
    <NodeName Default="1309210203small hall.png (30)" />
    <SortOrder>2689</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cm1fipnb/1309210203small-hall.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>