<?xml version="1.0" encoding="utf-8"?>
<Media Key="63afba94-2aa5-440d-b082-396ae2e67491" Alias="1309210203small hall.png (16)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/smallHallPng16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:15:05</CreateDate>
    <NodeName Default="1309210203small hall.png (16)" />
    <SortOrder>2525</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sk3k4y3f/1309210203small-hall.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>