<?xml version="1.0" encoding="utf-8"?>
<Media Key="761b050e-5c0c-4bd3-900a-05205b30d128" Alias="1309210211damnhour.png (15)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/damnhourPng15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:27</CreateDate>
    <NodeName Default="1309210211damnhour.png (15)" />
    <SortOrder>2605</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bacbw3qm/1309210211damnhour.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>