<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe6bbfc2-f9b7-42a5-9e0e-73e4b0072db1" Alias="1309210204gomhouria.png (24)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/gomhouriaPng24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:13:42</CreateDate>
    <NodeName Default="1309210204gomhouria.png (24)" />
    <SortOrder>2468</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ys5hx5vx/1309210204gomhouria.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>