<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2919ed3-3c35-417a-a58c-bd394457a5ac" Alias="1309210204gomhouria.png (6)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/gomhouriaPng6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:13:07</CreateDate>
    <NodeName Default="1309210204gomhouria.png (6)" />
    <SortOrder>2328</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0wpjd2rv/1309210204gomhouria.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>