<?xml version="1.0" encoding="utf-8"?>
<Media Key="91e40f4f-1435-4659-bd92-7df213f0c33c" Alias="1309210204gomhouria.png (2)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/gomhouriaPng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:11:58</CreateDate>
    <NodeName Default="1309210204gomhouria.png (2)" />
    <SortOrder>2242</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jehpjejv/1309210204gomhouria.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>