<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e70b351-55cc-48a3-81f3-553198703742" Alias="1309210211damnhour.png (11)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/damnhourPng11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:20</CreateDate>
    <NodeName Default="1309210211damnhour.png (11)" />
    <SortOrder>2618</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k4zhahwm/1309210211damnhour.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>