<?xml version="1.0" encoding="utf-8"?>
<Media Key="d25529fc-477a-4524-9ed2-63129fcd77e0" Alias="1309210204gomhouria.png (15)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/gomhouriaPng15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:13:27</CreateDate>
    <NodeName Default="1309210204gomhouria.png (15)" />
    <SortOrder>2496</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5iuflut0/1309210204gomhouria.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>