<?xml version="1.0" encoding="utf-8"?>
<Media Key="34ff93c1-7ea5-4172-b1df-9e053242ba1a" Alias="13750305 9D03 4DB7 BD48 37D25AAC1044" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D034DB7BD4837D25AAC1044</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T11:41:03</CreateDate>
    <NodeName Default="13750305 9D03 4DB7 BD48 37D25AAC1044" />
    <SortOrder>1066</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y4jp4nff/13750305-9d03-4db7-bd48-37d25aac1044.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>