<?xml version="1.0" encoding="utf-8"?>
<Media Key="0eba636b-27ec-449c-9a61-281687c2c50e" Alias="1404160300National_resize.jpg (15)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/National_resizeJpg15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:23</CreateDate>
    <NodeName Default="1404160300National_resize.jpg (15)" />
    <SortOrder>281</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nvrludxm/1404160300national_resize.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>