<?xml version="1.0" encoding="utf-8"?>
<Media Key="06b3e051-ba2a-43da-a0c3-29817bb8bd5a" Alias="1404130147img2.jpg (4)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/img2Jpg4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:37:39</CreateDate>
    <NodeName Default="1404130147img2.jpg (4)" />
    <SortOrder>3102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k5qlgbrk/1404130147img2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>