<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a69dbe9-440c-420f-b8e7-04f8dded2e31" Alias="1404130147img2.jpg (13)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/img2Jpg13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:38:22</CreateDate>
    <NodeName Default="1404130147img2.jpg (13)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/35nhsgqm/1404130147img2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>