<?xml version="1.0" encoding="utf-8"?>
<Media Key="59f0ed9f-f237-4b89-a402-18479c11dd28" Alias="140997 احتفالات اكتوبر2" Level="3">
  <Info>
    <Parent Key="a94de089-1668-4c27-8ac0-ade87c52716f">old</Parent>
    <Path>/News/old/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T18:48:19</CreateDate>
    <NodeName Default="140997 احتفالات اكتوبر2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/thwpawjx/140997-احتفالات-اكتوبر2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>