<?xml version="1.0" encoding="utf-8"?>
<Media Key="297264a7-3473-4efa-b24d-83d4df1accb4" Alias="1410201030qawmia.png (8)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/qawmiaPng8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:16</CreateDate>
    <NodeName Default="1410201030qawmia.png (8)" />
    <SortOrder>2022</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufsheklt/1410201030qawmia.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>