<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bbd9af8-3fda-4a1d-a6c1-30da471ab0f5" Alias="1410201030qawmia.png (3)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/qawmiaPng3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:28</CreateDate>
    <NodeName Default="1410201030qawmia.png (3)" />
    <SortOrder>1908</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/50nl0k40/1410201030qawmia.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>