<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7773761-f53b-4d5f-a2b3-7bd3f4bf0389" Alias="147B5FCA FD85 4B72 BDB2 E2FFED2C36FD" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B5FCAFD854B72BDB2E2FFED2C36FD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-18T17:59:17</CreateDate>
    <NodeName Default="147B5FCA FD85 4B72 BDB2 E2FFED2C36FD" />
    <SortOrder>1135</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m21hpjz1/147b5fca-fd85-4b72-bdb2-e2ffed2c36fd.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>