<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4d3e3db-f13e-4cd2-9a58-c2a2b81488c3" Alias="1510201158om kolthoum.png (11)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/omKolthoumPng11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:22:10</CreateDate>
    <NodeName Default="1510201158om kolthoum.png (11)" />
    <SortOrder>3051</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1xrnhrb4/1510201158om-kolthoum.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>