<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9b5525c-462d-45f9-a4aa-ae2dee2277db" Alias="1510201100nwera.png (5)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/nweraPng5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:57</CreateDate>
    <NodeName Default="1510201100nwera.png (5)" />
    <SortOrder>2055</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ljjllwjn/1510201100nwera.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>