<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7c5733d-7b56-4d7c-978c-355b07edb3f2" Alias="1510201100nwera.png (4)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/nweraPng4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:52</CreateDate>
    <NodeName Default="1510201100nwera.png (4)" />
    <SortOrder>2063</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hnznlj0w/1510201100nwera.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>