<?xml version="1.0" encoding="utf-8"?>
<Media Key="070b9b22-a387-4191-b658-e6658f680c9b" Alias="157AAA68 2545 4404 89DD 0BFE1EBDE1E0" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AAA682545440489DD0BFE1EBDE1E0</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-02T14:27:55</CreateDate>
    <NodeName Default="157AAA68 2545 4404 89DD 0BFE1EBDE1E0" />
    <SortOrder>434</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/esnbwb2h/157aaa68-2545-4404-89dd-0bfe1ebde1e0.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>