<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ffb843-573f-438c-aa9f-13439197e94e" Alias="1610140724Cairo Symphony Orchestera.jpg" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/CairoSymphonyOrchesteraJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:26</CreateDate>
    <NodeName Default="1610140724Cairo Symphony Orchestera.jpg" />
    <SortOrder>376</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iw2p5ab5/1610140724cairo-symphony-orchestera.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>