<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a5e8240-876c-4211-b869-81cc99da98a6" Alias="1709130330orchestra.jpg (32)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/orchestraJpg32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:38:30</CreateDate>
    <NodeName Default="1709130330orchestra.jpg (32)" />
    <SortOrder>181</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0bf3gtm/1709130330orchestra.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>