<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe089373-0e93-4b0f-ba17-cab46379ff87" Alias="1709130534untitled.png (127)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/untitledPng127</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:51</CreateDate>
    <NodeName Default="1709130534untitled.png (127)" />
    <SortOrder>222</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/owjbr5ut/1709130534untitled.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>