<?xml version="1.0" encoding="utf-8"?>
<Media Key="a237f67d-ecb0-47d5-a1aa-34174e28515e" Alias="1709130330orchestra.jpg (78)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/orchestraJpg78</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:41</CreateDate>
    <NodeName Default="1709130330orchestra.jpg (78)" />
    <SortOrder>607</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pp1dpivq/1709130330orchestra.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>