<?xml version="1.0" encoding="utf-8"?>
<Media Key="1252a5cd-c0a9-4d8c-835f-cd709dfcfb65" Alias="1709130329nwera.jpg (21)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/nweraJpg21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:46:03</CreateDate>
    <NodeName Default="1709130329nwera.jpg (21)" />
    <SortOrder>891</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zosfeevj/1709130329nwera.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>