<?xml version="1.0" encoding="utf-8"?>
<Media Key="95019c8e-cf55-4aae-9dc2-028d0520d930" Alias="1709130330orchestra.jpg (55)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/orchestraJpg55</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:51</CreateDate>
    <NodeName Default="1709130330orchestra.jpg (55)" />
    <SortOrder>331</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rcoadfkv/1709130330orchestra.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>