<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1a018c2-9b0f-4de1-8482-5a6b313af47a" Alias="1709130534untitled.png (49)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/untitledPng49</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:37:56</CreateDate>
    <NodeName Default="1709130534untitled.png (49)" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yqmkbuip/1709130534untitled.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>