<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8e27076-e2dd-4aaa-9ffe-418d3387f1a9" Alias="1709130330orchestra.jpg (79)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/orchestraJpg79</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:42</CreateDate>
    <NodeName Default="1709130330orchestra.jpg (79)" />
    <SortOrder>602</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/obyofwg3/1709130330orchestra.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>