<?xml version="1.0" encoding="utf-8"?>
<Media Key="292ea056-572c-4d20-b07c-d92ae9777e3d" Alias="1709130330orchestra.jpg (56)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/orchestraJpg56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:54</CreateDate>
    <NodeName Default="1709130330orchestra.jpg (56)" />
    <SortOrder>326</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kcqc2kjm/1709130330orchestra.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>