<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4c2d284-8314-490e-90ad-2e7793c68419" Alias="1709130534untitled.png (123)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/untitledPng123</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:46</CreateDate>
    <NodeName Default="1709130534untitled.png (123)" />
    <SortOrder>231</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qljmf3au/1709130534untitled.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>