<?xml version="1.0" encoding="utf-8"?>
<Media Key="31cca726-3997-4e81-9174-8edd77f4a7a4" Alias="1709130534untitled.png (47)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/untitledPng47</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:37:54</CreateDate>
    <NodeName Default="1709130534untitled.png (47)" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ectnymmx/1709130534untitled.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>