<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bfaa341-15de-424d-abfb-917e12bcf125" Alias="1709130534untitled.png (186)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/untitledPng186</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:43:34</CreateDate>
    <NodeName Default="1709130534untitled.png (186)" />
    <SortOrder>692</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i4rpuw44/1709130534untitled.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>