<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d880c04-d87d-47db-a168-7d4eb8537445" Alias="1709130329nwera.jpg (5)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/nweraJpg5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:38:47</CreateDate>
    <NodeName Default="1709130329nwera.jpg (5)" />
    <SortOrder>144</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aigirhl3/1709130329nwera.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>