<?xml version="1.0" encoding="utf-8"?>
<Media Key="beef5d12-5200-4190-a5f0-39aa5955243c" Alias="17A387D6 7F34 48C8 9FF9 864DAC0E4F3B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A387D67F3448C89FF9864DAC0E4F3B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-11T14:44:32</CreateDate>
    <NodeName Default="17A387D6 7F34 48C8 9FF9 864DAC0E4F3B" />
    <SortOrder>1780</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/crop5pqa/17a387d6-7f34-48c8-9ff9-864dac0e4f3b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>