<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfd6db94-48e2-46b9-b474-447020e4533e" Alias="18D0DAE1 625D 41E4 87E2 A219E13BFFCD" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D0DAE1625D41E487E2A219E13BFFCD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-26T12:22:02</CreateDate>
    <NodeName Default="18D0DAE1 625D 41E4 87E2 A219E13BFFCD" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/slnnnx5c/18d0dae1-625d-41e4-87e2-a219e13bffcd.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>