<?xml version="1.0" encoding="utf-8"?>
<Media Key="220eb382-81c5-4deb-89fa-a8c9b282bd42" Alias="1909130345talents Development_3.jpg (28)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/talentsDevelopment_3Jpg28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:46:37</CreateDate>
    <NodeName Default="1909130345talents Development_3.jpg (28)" />
    <SortOrder>870</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qszb2iwf/1909130345talents-development_3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>