<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a0fa227-9c96-4d67-84e4-f7f4f33d9dfe" Alias="1909130514Recovered_JPEG_1316.jpg (9)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/Recovered_JPEG_1316Jpg9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:43:32</CreateDate>
    <NodeName Default="1909130514Recovered_JPEG_1316.jpg (9)" />
    <SortOrder>698</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/egra4kuw/1909130514recovered_jpeg_1316.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>