<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3fa2af5-8d8e-4059-a68c-46361e9dba14" Alias="1909130455alexandria ensemble.jpg (45)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/alexandriaEnsembleJpg45</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:46:57</CreateDate>
    <NodeName Default="1909130455alexandria ensemble.jpg (45)" />
    <SortOrder>831</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4mvpvq2o/1909130455alexandria-ensemble.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>