<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f62a1c4-7250-4ff8-bedf-82e18b4a46bd" Alias="1909130345talents Development_3.jpg (19)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/talentsDevelopment_3Jpg19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:59</CreateDate>
    <NodeName Default="1909130345talents Development_3.jpg (19)" />
    <SortOrder>774</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ykqhel0q/1909130345talents-development_3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>