<?xml version="1.0" encoding="utf-8"?>
<Media Key="57ed31ac-7949-4f93-8d2a-e9d8d7aaee9e" Alias="19091303401.jpg (5)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:21</CreateDate>
    <NodeName Default="19091303401.jpg (5)" />
    <SortOrder>387</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/viyp0v0j/19091303401.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>