<?xml version="1.0" encoding="utf-8"?>
<Media Key="496181f8-f1e6-4672-8fbf-20da1879f0c6" Alias="1909130343photo_4.jpg (14)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/photo_4Jpg14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:27</CreateDate>
    <NodeName Default="1909130343photo_4.jpg (14)" />
    <SortOrder>627</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/50ahcspg/1909130343photo_4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>