<?xml version="1.0" encoding="utf-8"?>
<Media Key="df9be054-7385-4019-95fa-97a48ab3e580" Alias="1909130455alexandria ensemble.jpg (59)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/alexandriaEnsembleJpg59</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:47:29</CreateDate>
    <NodeName Default="1909130455alexandria ensemble.jpg (59)" />
    <SortOrder>999</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/klqjxx2f/1909130455alexandria-ensemble.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>