<?xml version="1.0" encoding="utf-8"?>
<Media Key="6991208a-82cd-42b2-abfa-fc59167334b6" Alias="1909130510national Arab music.jpg (19)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/nationalArabMusicJpg19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:46:52</CreateDate>
    <NodeName Default="1909130510national Arab music.jpg (19)" />
    <SortOrder>841</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rqqjc0on/1909130510national-arab-music.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>