<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcb75b54-aa28-43a3-b263-d97354920d8a" Alias="1B. د. يوسف طنوس. المسرح الغنائي اللبناني، تجربة رائدة في الإبداع الموسيقي" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//B</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-14T08:26:05</CreateDate>
    <NodeName Default="1B. د. يوسف طنوس. المسرح الغنائي اللبناني، تجربة رائدة في الإبداع الموسيقي" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjnlppbi/1b-د-يوسف-طنوس-المسرح-الغنائي-اللبناني-تجربة-رائدة-في-الإبداع-الموسيقي.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>