<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7aa3a72-62dc-43a3-8a7a-864c48f250cc" Alias="1D6CCBF8 36AB 43ED B6C7 28B9E08B28D1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D6CCBF836AB43EDB6C728B9E08B28D1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T20:21:46</CreateDate>
    <NodeName Default="1D6CCBF8 36AB 43ED B6C7 28B9E08B28D1" />
    <SortOrder>1691</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oq3kv342/1d6ccbf8-36ab-43ed-b6c7-28b9e08b28d1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>