<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d508540-9e1f-4a92-b307-d19a87c55d73" Alias="1E087C9A BAC1 4A24 9CB9 1C2DFAEF80F6" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E087C9ABAC14A249CB91C2DFAEF80F6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:15:19</CreateDate>
    <NodeName Default="1E087C9A BAC1 4A24 9CB9 1C2DFAEF80F6" />
    <SortOrder>1320</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0cfati5/1e087c9a-bac1-4a24-9cb9-1c2dfaef80f6.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>