<?xml version="1.0" encoding="utf-8"?>
<Media Key="77d1cf7a-23a2-4a56-b860-ccaf28ebf746" Alias="1E1ED9AC 2ED1 46BA 9976 60D245B9EF36" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E1ED9AC2ED146BA997660D245B9EF36</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T07:40:37</CreateDate>
    <NodeName Default="1E1ED9AC 2ED1 46BA 9976 60D245B9EF36" />
    <SortOrder>664</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pthnc33c/1e1ed9ac-2ed1-46ba-9976-60d245b9ef36.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>