<?xml version="1.0" encoding="utf-8"?>
<Media Key="15b9384d-e387-4808-9226-1694480995f4" Alias="1E8E517E B696 4DD1 80CA CB6C20FDBD82" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E8E517EB6964DD180CACB6C20FDBD82</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:28</CreateDate>
    <NodeName Default="1E8E517E B696 4DD1 80CA CB6C20FDBD82" />
    <SortOrder>1169</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jm2lsfmh/1e8e517e-b696-4dd1-80ca-cb6c20fdbd82.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>