<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d5e0564-6acf-4ce8-9e1c-09b1b71c6718" Alias="1EA49F4F 9E9A 44D7 892D 6DA9FBB158AC" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EA49F4F9E9A44D7892D6DA9FBB158AC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T12:51:17</CreateDate>
    <NodeName Default="1EA49F4F 9E9A 44D7 892D 6DA9FBB158AC" />
    <SortOrder>2120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/micf2top/1ea49f4f-9e9a-44d7-892d-6da9fbb158ac.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>