<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac1a4a61-a65c-4eeb-9059-d8262ef244a9" Alias="1EE5331C 554B 42AF 9EE2 3FFD951FFA0D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EE5331C554B42AF9EE23FFD951FFA0D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-13T00:16:45</CreateDate>
    <NodeName Default="1EE5331C 554B 42AF 9EE2 3FFD951FFA0D" />
    <SortOrder>1812</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m3fbvlc2/1ee5331c-554b-42af-9ee2-3ffd951ffa0d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>