<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c3d40c7-5b18-4404-bc62-5d4b3aaebec4" Alias="2. د. كمال يوسف اليوم الأول الثلاثاء 2 11 2021 الجلسة الثانية" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-15T13:53:34</CreateDate>
    <NodeName Default="2. د. كمال يوسف اليوم الأول الثلاثاء 2 11 2021 الجلسة الثانية" />
    <SortOrder>287</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3fad0lay/2-د-كمال-يوسف-اليوم-الأول-الثلاثاء-2-11-2021-الجلسة-الثانية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>