<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2fd3c09-b933-4001-b5c8-351ef3813966" Alias="2. أحمد الواصل اليوم الثانى الأربعاء 3 11 2021 الجلسة الأولى" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-15T14:55:40</CreateDate>
    <NodeName Default="2. أحمد الواصل اليوم الثانى الأربعاء 3 11 2021 الجلسة الأولى" />
    <SortOrder>293</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e24p1irt/2-أحمد-الواصل-اليوم-الثانى-الأربعاء-3-11-2021-الجلسة-الأولى.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>