<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1029c96-9e5a-4753-926b-5b1cdc208784" Alias="2. د عبد المنعم حامد الفيسبوك فضاء تواصل مع الفنانين كيف يجمع فنّانو الموسيقى العربية بين الترويج والتفاعل في علاقتهم مع جمهورهم" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-21T10:23:08</CreateDate>
    <NodeName Default="2. د عبد المنعم حامد الفيسبوك فضاء تواصل مع الفنانين كيف يجمع فنّانو الموسيقى العربية بين الترويج والتفاعل في علاقتهم مع جمهورهم" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xcoafqk0/2-د-عبد-المنعم-حامد-الفيسبوك-فضاء-تواصل-مع-الفنانين-كيف-يجمع-فن-انو-الموسيقى-العربية-بين-الترويج-والتفاعل-في-علاقتهم-مع-جمهورهم.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>