<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f8fbc6e-a2f7-4b3e-8c8b-4aaf96313b05" Alias="2. عزيز الورتانى يوم الثلاثاء 2 11 2021الجلسة الأولى" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-15T10:38:56</CreateDate>
    <NodeName Default="2. عزيز الورتانى يوم الثلاثاء 2 11 2021الجلسة الأولى" />
    <SortOrder>283</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ic4i5h5x/2-عزيز-الورتانى-يوم-الثلاثاء-2-11-2021الجلسة-الأولى.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>