<?xml version="1.0" encoding="utf-8"?>
<Media Key="85faf873-6396-4358-84eb-20f90d575e25" Alias="2. منير الوسيمي تجربتي الفنية فى تأليف أوبرا طرح البحر" Level="4">
  <Info>
    <Parent Key="c16338dc-f9ee-479f-a36c-81b51c199491">2022</Parent>
    <Path>/Festival///</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-14T09:39:07</CreateDate>
    <NodeName Default="2. منير الوسيمي تجربتي الفنية فى تأليف أوبرا طرح البحر" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lx2pvbmw/2-منير-الوسيمي-تجربتي-الفنية-فى-تأليف-أوبرا-طرح-البحر.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>