<?xml version="1.0" encoding="utf-8"?>
<Media Key="c85f17de-be9b-4dce-b3ae-1de80e388826" Alias="2009220653yehia khalil.png (1)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/yehiaKhalilPng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:18:33</CreateDate>
    <NodeName Default="2009220653yehia khalil.png (1)" />
    <SortOrder>2848</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1alf5se1/2009220653yehia-khalil.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>