<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f22dd31-6367-4c0d-b8b8-0cb9175e29a4" Alias="2010201132elhamy.png" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/elhamyPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:07:43</CreateDate>
    <NodeName Default="2010201132elhamy.png" />
    <SortOrder>1882</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g5odfd1h/2010201132elhamy.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>