<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2abc46c-f2da-4a67-b670-d44f58ec2357" Alias="203B750D 3E94 4658 BCF6 3C19DFE533A3" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B750D3E944658BCF63C19DFE533A3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T20:22:26</CreateDate>
    <NodeName Default="203B750D 3E94 4658 BCF6 3C19DFE533A3" />
    <SortOrder>1692</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nlckxqw0/203b750d-3e94-4658-bcf6-3c19dfe533a3.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>