<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ccd999f-b117-4516-81c7-49ecc38f6e54" Alias="20B24F83 D627 4912 966C 537B146EA7B2" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B24F83D6274912966C537B146EA7B2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T16:30:36</CreateDate>
    <NodeName Default="20B24F83 D627 4912 966C 537B146EA7B2" />
    <SortOrder>731</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tgmn0pax/20b24f83-d627-4912-966c-537b146ea7b2.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>