<?xml version="1.0" encoding="utf-8"?>
<Media Key="efd62dce-88c8-4bf6-b74e-e382b4388036" Alias="21232356D4b320 0Bba 4F10 82D0 Cef1e41ea390 (1)" Level="2">
  <Info>
    <Parent Key="93160232-777d-45d3-bf69-efe575194a92">Collection</Parent>
    <Path>/Collection/D4b3200Bba4F1082D0Cef1e41ea3901</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T20:38:58</CreateDate>
    <NodeName Default="21232356D4b320 0Bba 4F10 82D0 Cef1e41ea390 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zawnn14i/21232356d4b320-0bba-4f10-82d0-cef1e41ea390.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>