<?xml version="1.0" encoding="utf-8"?>
<Media Key="32f1acfd-e988-4d5e-be34-53b72e47f68e" Alias="2141B5AF 2159 496C BA86 0EF3FCB15F10" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B5AF2159496CBA860EF3FCB15F10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:51</CreateDate>
    <NodeName Default="2141B5AF 2159 496C BA86 0EF3FCB15F10" />
    <SortOrder>1179</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5owpcmui/2141b5af-2159-496c-ba86-0ef3fcb15f10.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>