<?xml version="1.0" encoding="utf-8"?>
<Media Key="f12ad5dd-7fc8-4bc6-aa68-f64a7065d769" Alias="21883368 4D82 422B A40F 4F6ABC62FE69" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D82422BA40F4F6ABC62FE69</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-28T15:56:31</CreateDate>
    <NodeName Default="21883368 4D82 422B A40F 4F6ABC62FE69" />
    <SortOrder>1230</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1pkdv2oi/21883368-4d82-422b-a40f-4f6abc62fe69.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>