<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a60c72a-a038-40a5-8b18-312b1b2517ae" Alias="22022 9 24 13 50 24 265 Copy" Level="2">
  <Info>
    <Parent Key="ed103914-3b11-4292-b703-d59bffb7090a">ART</Parent>
    <Path>/ART/Copy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-22T12:44:31</CreateDate>
    <NodeName Default="22022 9 24 13 50 24 265 Copy" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ftdhasry/22022_9_24_13_50_24_265-copy.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>