<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e01ebd4-6057-49c5-9b7a-172420a24d41" Alias="22BEC888 6A92 4670 87BD EBEE9680E945" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BEC8886A92467087BDEBEE9680E945</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:57:54</CreateDate>
    <NodeName Default="22BEC888 6A92 4670 87BD EBEE9680E945" />
    <SortOrder>1605</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0lvbcxsx/22bec888-6a92-4670-87bd-ebee9680e945.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>