<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b344c5d-e699-448f-94a4-d3f04586ab5e" Alias="23C5cover3 Copy 65" Level="2">
  <Info>
    <Parent Key="ed103914-3b11-4292-b703-d59bffb7090a">ART</Parent>
    <Path>/ART/C5cover3Copy65</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-19T10:58:30</CreateDate>
    <NodeName Default="23C5cover3 Copy 65" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lngdjg2z/23c5cover3-copy-65.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>