<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c0ca61b-0169-4164-9df5-8e4011f245bb" Alias="240CBC48 B51B 4DE1 8579 5411C63542FF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CBC48B51B4DE185795411C63542FF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-26T12:44:32</CreateDate>
    <NodeName Default="240CBC48 B51B 4DE1 8579 5411C63542FF" />
    <SortOrder>273</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dwtayhdj/240cbc48-b51b-4de1-8579-5411c63542ff.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>