<?xml version="1.0" encoding="utf-8"?>
<Media Key="954524fe-ba8f-4f8d-b4c9-1112477d5f0e" Alias="243C8796 FB36 46AB BC8C 74CB17804E11" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C8796FB3646ABBC8C74CB17804E11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T14:44:56</CreateDate>
    <NodeName Default="243C8796 FB36 46AB BC8C 74CB17804E11" />
    <SortOrder>506</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5aselfmp/243c8796-fb36-46ab-bc8c-74cb17804e11.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>