<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a91ebfa-90cb-42ef-abbf-c7e96320a8f4" Alias="2609130501omar khairat.jpg (3)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/omarKhairatJpg3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:47</CreateDate>
    <NodeName Default="2609130501omar khairat.jpg (3)" />
    <SortOrder>794</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5tvjcwwl/2609130501omar-khairat.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>