<?xml version="1.0" encoding="utf-8"?>
<Media Key="4146f90f-857b-425a-9929-3903f9494e0c" Alias="26091305279.jpg (32)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:44:39</CreateDate>
    <NodeName Default="26091305279.jpg (32)" />
    <SortOrder>612</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bh2fmql1/26091305279.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>