<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b01ebd3-ccea-445b-90c8-2369de0eb5d5" Alias="2609130533Recovered_JPEG_1331.jpg (31)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/Recovered_JPEG_1331Jpg31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:43:57</CreateDate>
    <NodeName Default="2609130533Recovered_JPEG_1331.jpg (31)" />
    <SortOrder>649</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0xvbcs5k/2609130533recovered_jpeg_1331.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>