<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eb95ffc-ea5d-4314-9ada-ad0a3ac3a84d" Alias="2609130500goumhoria.jpg (56)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/goumhoriaJpg56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:43:29</CreateDate>
    <NodeName Default="2609130500goumhoria.jpg (56)" />
    <SortOrder>501</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5jplsls3/2609130500goumhoria.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>