<?xml version="1.0" encoding="utf-8"?>
<Media Key="4897ee5e-3294-460c-88e9-de2e4eb86e0b" Alias="26091305279.jpg (12)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:37</CreateDate>
    <NodeName Default="26091305279.jpg (12)" />
    <SortOrder>356</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ldxjoseu/26091305279.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>