<?xml version="1.0" encoding="utf-8"?>
<Media Key="96881842-b85b-432f-b180-544d7af947e2" Alias="26091305279.jpg (9)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:04</CreateDate>
    <NodeName Default="26091305279.jpg (9)" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iqmirfs1/26091305279.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>