<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2beffd-e5c7-4f55-8fd0-7c70f42d6936" Alias="2609130500goumhoria.jpg (54)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/goumhoriaJpg54</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:42:46</CreateDate>
    <NodeName Default="2609130500goumhoria.jpg (54)" />
    <SortOrder>576</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5pxdxlgh/2609130500goumhoria.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>