<?xml version="1.0" encoding="utf-8"?>
<Media Key="94f13c65-10a7-4169-a4c7-ff7606586256" Alias="2609130533Recovered_JPEG_1331.jpg (7)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/Recovered_JPEG_1331Jpg7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:41:20</CreateDate>
    <NodeName Default="2609130533Recovered_JPEG_1331.jpg (7)" />
    <SortOrder>490</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mm4pdffh/2609130533recovered_jpeg_1331.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>