<?xml version="1.0" encoding="utf-8"?>
<Media Key="2caa1b49-9a23-4d23-b716-c4f252323b87" Alias="2609130457113229959.jpg (8)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:41:04</CreateDate>
    <NodeName Default="2609130457113229959.jpg (8)" />
    <SortOrder>310</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j2nlulbd/2609130457113229959.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>