<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c37c765-6752-4407-b39f-18b90cd27cd5" Alias="2609130457113229959.jpg (4)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:40:39</CreateDate>
    <NodeName Default="2609130457113229959.jpg (4)" />
    <SortOrder>352</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mpddo5cs/2609130457113229959.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>