<?xml version="1.0" encoding="utf-8"?>
<Media Key="f312d783-f9d1-41cc-a3b7-a66c5fbb4bd0" Alias="260913052385284619.jpg" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:45:01</CreateDate>
    <NodeName Default="260913052385284619.jpg" />
    <SortOrder>772</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qxlbf24r/260913052385284619.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>