<?xml version="1.0" encoding="utf-8"?>
<Media Key="39156690-1b99-4107-b3fa-79e1a361f869" Alias="26091305279.jpg (1)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:37:33</CreateDate>
    <NodeName Default="26091305279.jpg (1)" />
    <SortOrder>3111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sztbkomz/26091305279.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>