<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa4c8dc7-748b-438b-862b-30f97f8ed4d6" Alias="2609130500goumhoria.jpg (47)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/goumhoriaJpg47</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:42:02</CreateDate>
    <NodeName Default="2609130500goumhoria.jpg (47)" />
    <SortOrder>434</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yggfz4ul/2609130500goumhoria.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>