<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3d3f809-4731-4c06-93ad-ded79b9d6525" Alias="2711170400Alex.jpg (257)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg257</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:20:43</CreateDate>
    <NodeName Default="2711170400Alex.jpg (257)" />
    <SortOrder>2937</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/b52nhmzr/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>