<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e513840-41f2-4c37-b182-d79648a57a00" Alias="2711170400Alex.jpg (64)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg64</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:00:44</CreateDate>
    <NodeName Default="2711170400Alex.jpg (64)" />
    <SortOrder>1334</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iy2fc1xs/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>