<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bf06a2f-e52f-4e70-a2cb-13d49bce05aa" Alias="2711170400Alex.jpg (57)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg57</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:58:57</CreateDate>
    <NodeName Default="2711170400Alex.jpg (57)" />
    <SortOrder>1393</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ffvpaszp/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>