<?xml version="1.0" encoding="utf-8"?>
<Media Key="47b97a54-8825-4d3d-90fd-e97d7169c5b4" Alias="2711170400Alex.jpg (111)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg111</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:04:28</CreateDate>
    <NodeName Default="2711170400Alex.jpg (111)" />
    <SortOrder>1694</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kj3lsrzf/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>