<?xml version="1.0" encoding="utf-8"?>
<Media Key="f80c7acf-4ac3-4404-9af6-b3dc1a2bb119" Alias="2711170400Alex.jpg (163)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg163</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:40</CreateDate>
    <NodeName Default="2711170400Alex.jpg (163)" />
    <SortOrder>2177</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zf3az4gd/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>