<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9e610d0-25a6-412d-9207-2f0058a92e2f" Alias="2711170400Alex.jpg (147)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg147</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:08:30</CreateDate>
    <NodeName Default="2711170400Alex.jpg (147)" />
    <SortOrder>1805</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0yionwng/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>