<?xml version="1.0" encoding="utf-8"?>
<Media Key="63f95150-693e-4f6b-9ea6-4eaac18cbd28" Alias="2711170400Alex.jpg (255)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg255</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:20:32</CreateDate>
    <NodeName Default="2711170400Alex.jpg (255)" />
    <SortOrder>2953</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kzipsyz4/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>