<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdf22939-8eab-40de-ba67-6be97bdce940" Alias="2711170400Alex.jpg (104)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg104</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:04:15</CreateDate>
    <NodeName Default="2711170400Alex.jpg (104)" />
    <SortOrder>1510</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/h2upftnl/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>