<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1decbc6-30b6-4ac3-8554-1ae79b22c129" Alias="2711170400Alex.jpg (15)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:54:21</CreateDate>
    <NodeName Default="2711170400Alex.jpg (15)" />
    <SortOrder>1092</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ydfn3qnw/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>