<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b7ea1e2-ea2f-4f07-b875-c066a0c1a824" Alias="2711170400Alex.jpg (22)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:55:32</CreateDate>
    <NodeName Default="2711170400Alex.jpg (22)" />
    <SortOrder>1031</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2sqh2ozp/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>