<?xml version="1.0" encoding="utf-8"?>
<Media Key="37003155-1c88-4dff-a585-728b052c8bd7" Alias="2711170400Alex.jpg (249)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/AlexJpg249</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:19:48</CreateDate>
    <NodeName Default="2711170400Alex.jpg (249)" />
    <SortOrder>2998</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kmyban2i/2711170400alex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>