<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c09b49a-2856-486a-85c0-f7b3d2add685" Alias="2712EB45 6B1E 412E B967 D27EFBE8A8C7" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EB456B1E412EB967D27EFBE8A8C7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-03T14:31:04</CreateDate>
    <NodeName Default="2712EB45 6B1E 412E B967 D27EFBE8A8C7" />
    <SortOrder>1040</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ts0astcw/2712eb45-6b1e-412e-b967-d27efbe8a8c7.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>