<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0771999-28ff-4d11-9725-5c5e1328fbde" Alias="2810130635fathi.jpg" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/fathiJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:39:09</CreateDate>
    <NodeName Default="2810130635fathi.jpg" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t2mhpyh5/2810130635fathi.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>