<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eaf2d51-19f2-49e5-b30a-36725c0d4123" Alias="2811170123Main Hall.jpg (281)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg281</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:22:37</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (281)" />
    <SortOrder>3019</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k2wl4txs/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>