<?xml version="1.0" encoding="utf-8"?>
<Media Key="48ee4c8a-e9e0-428b-91c8-26f60841506d" Alias="2811170135Small Hall.jpg (215)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg215</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:15:27</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (215)" />
    <SortOrder>2691</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rrgo2sha/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>