<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6e921f1-430f-4221-903e-b1d76cb090e0" Alias="2811170135Small Hall.jpg (160)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg160</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:36</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (160)" />
    <SortOrder>2094</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/42qptjqp/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>