<?xml version="1.0" encoding="utf-8"?>
<Media Key="07eb4314-3920-486d-8bd5-caf262ac22c4" Alias="2811170128Arab Music Institute.jpg (85)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg85</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:04:04</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (85)" />
    <SortOrder>1514</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cjbpwbza/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>