<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cf2ccdd-bc7b-485c-9d67-d6ac28d0a593" Alias="2811170144Gomhouria Theatre.jpg (198)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg198</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:58</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (198)" />
    <SortOrder>2758</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1pgpedd1/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>