<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6133818-b088-4b80-8a17-67e749a7b709" Alias="2811170123Main Hall.jpg (95)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg95</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:59:17</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (95)" />
    <SortOrder>1380</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dy2bhnui/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>