<?xml version="1.0" encoding="utf-8"?>
<Media Key="b140b0af-a6ed-47b7-92da-5b588e06b63e" Alias="2811170144Gomhouria Theatre.jpg (225)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg225</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:20:43</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (225)" />
    <SortOrder>2938</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vgyebmpn/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>