<?xml version="1.0" encoding="utf-8"?>
<Media Key="43f5391c-a6dd-4544-96da-63a23d00ef95" Alias="2811170123Main Hall.jpg (219)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg219</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:14:13</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (219)" />
    <SortOrder>2420</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/di2pkq43/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>