<?xml version="1.0" encoding="utf-8"?>
<Media Key="b979d12a-9e52-42e8-97f2-e5106c6563d5" Alias="2811170128Arab Music Institute.jpg (9)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:53:03</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (9)" />
    <SortOrder>942</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ftihtoks/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>