<?xml version="1.0" encoding="utf-8"?>
<Media Key="82f2267f-7b62-430d-b6d6-f266231caf8f" Alias="2811170144Gomhouria Theatre.jpg (200)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg200</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:17:03</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (200)" />
    <SortOrder>2749</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/petpfatc/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>