<?xml version="1.0" encoding="utf-8"?>
<Media Key="08bb00ac-408a-4f50-b45e-40fd225daff5" Alias="2811170123Main Hall.jpg (152)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg152</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:06:12</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (152)" />
    <SortOrder>1767</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vialwcek/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>