<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ac5f2ac-fc39-48f0-bc95-d216533286e1" Alias="2811170128Arab Music Institute.jpg (102)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg102</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:05:51</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (102)" />
    <SortOrder>1611</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vlzmlcrz/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>