<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c057958-985b-4f93-b21d-729cb9cdc30f" Alias="2811170133Open Air Theater.jpg (124)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/OpenAirTheaterJpg124</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:25</CreateDate>
    <NodeName Default="2811170133Open Air Theater.jpg (124)" />
    <SortOrder>2608</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lz2bklc1/2811170133open-air-theater.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>