<?xml version="1.0" encoding="utf-8"?>
<Media Key="d009091d-f155-4c59-a0bb-677167bd5beb" Alias="2811170128Arab Music Institute.jpg (148)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg148</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:15:55</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (148)" />
    <SortOrder>2655</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dmebtucv/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>