<?xml version="1.0" encoding="utf-8"?>
<Media Key="1858fcc8-3e1b-464b-8bb6-8f898192eadb" Alias="2811170128Arab Music Institute.jpg (162)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg162</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:18:46</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (162)" />
    <SortOrder>2840</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z14fqga1/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>