<?xml version="1.0" encoding="utf-8"?>
<Media Key="e348538a-d113-4a51-a076-890267b66a6a" Alias="2811170135Small Hall.jpg (114)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg114</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:04:16</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (114)" />
    <SortOrder>1509</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rrjfryyt/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>