<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f7afe7e-eecc-406a-8978-1a82442c1acc" Alias="2811170135Small Hall.jpg (102)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg102</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:02:27</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (102)" />
    <SortOrder>1568</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pd5hvd4m/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>