<?xml version="1.0" encoding="utf-8"?>
<Media Key="55c53d77-490d-45c3-98e8-884c3b9091bd" Alias="2811170135Small Hall.jpg (71)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg71</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:00:51</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (71)" />
    <SortOrder>1320</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oe4nkvin/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>