<?xml version="1.0" encoding="utf-8"?>
<Media Key="a48e9537-1ee9-4dc2-9c14-d5d272271395" Alias="2811170133Open Air Theater.jpg (43)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/OpenAirTheaterJpg43</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:00:32</CreateDate>
    <NodeName Default="2811170133Open Air Theater.jpg (43)" />
    <SortOrder>1348</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ggkj3jhj/2811170133open-air-theater.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>