<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae12d83-ccd5-414a-b596-ee73a1a76d97" Alias="2811170144Gomhouria Theatre.jpg (49)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg49</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:58:44</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (49)" />
    <SortOrder>1203</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/quwpdkwv/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>