<?xml version="1.0" encoding="utf-8"?>
<Media Key="790dbb61-4c57-412c-81e5-a2b039ab1297" Alias="2811170144Gomhouria Theatre.jpg (125)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg125</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:08:54</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (125)" />
    <SortOrder>1964</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m43b04kx/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>