<?xml version="1.0" encoding="utf-8"?>
<Media Key="58a04046-6f22-4a7f-8209-296f3c781d6c" Alias="2811170123Main Hall.jpg (53)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg53</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:57:34</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (53)" />
    <SortOrder>1290</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ibakawbc/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>