<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a760b5c-feb9-4297-acc4-caf9a34eda3b" Alias="2811170123Main Hall.jpg (77)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg77</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:58:13</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (77)" />
    <SortOrder>1237</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lifhncvz/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>