<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbeee023-20c9-4f28-8c7a-ce4dc09edf4b" Alias="2811170144Gomhouria Theatre.jpg (214)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg214</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:18:17</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (214)" />
    <SortOrder>2860</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/exqo3o4j/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>