<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d560cbc-aee3-483b-af3b-37bddba999a7" Alias="2811170123Main Hall.jpg (19)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:53:57</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (19)" />
    <SortOrder>912</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xigfmhpd/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>