<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1eb0af5-d732-4358-a64e-91a15a75aff7" Alias="2811170144Gomhouria Theatre.jpg (38)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg38</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:56:13</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (38)" />
    <SortOrder>1167</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4mfoxqjs/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>