<?xml version="1.0" encoding="utf-8"?>
<Media Key="27fbb498-7afa-4af3-8827-3c5b5361085f" Alias="2811170123Main Hall.jpg (153)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg153</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:06:57</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (153)" />
    <SortOrder>1736</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t00pwj50/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>