<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9f6137a-a969-46af-ae9d-4f2ef7d3c9b6" Alias="2811170123Main Hall.jpg (185)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg185</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:51</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (185)" />
    <SortOrder>2160</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pqjpn0lj/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>