<?xml version="1.0" encoding="utf-8"?>
<Media Key="30c82f91-551a-4c4d-873f-727df1129c1e" Alias="2811170144Gomhouria Theatre.jpg (32)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:56:06</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (32)" />
    <SortOrder>1181</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s2xnqma0/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>