<?xml version="1.0" encoding="utf-8"?>
<Media Key="f42d21f1-3ad5-4bca-9a51-258b80920711" Alias="2811170123Main Hall.jpg (129)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg129</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:04:54</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (129)" />
    <SortOrder>1682</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/42qd13gv/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>