<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1468d07-de46-4ee7-909f-0be55bfaecdc" Alias="2811170135Small Hall.jpg (42)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:56:31</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (42)" />
    <SortOrder>1139</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aggfn2kg/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>