<?xml version="1.0" encoding="utf-8"?>
<Media Key="08ecc8d6-237a-47ab-9367-62207c6b6577" Alias="2811170135Small Hall.jpg (157)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:32</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (157)" />
    <SortOrder>1901</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0deoycd0/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>