<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1ed4f47-aa86-4293-a4af-74f8195e4057" Alias="2811170135Small Hall.jpg (163)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg163</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:40</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (163)" />
    <SortOrder>2084</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ifhp12mg/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>