<?xml version="1.0" encoding="utf-8"?>
<Media Key="cccf7290-c522-4dd7-9bc5-62e40298f10d" Alias="2811170144Gomhouria Theatre.jpg (140)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg140</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:09:51</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (140)" />
    <SortOrder>2065</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/szzm5tbc/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>