<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bb85a03-5fb2-4e39-9d6d-8fe5bf600d55" Alias="2811170133Open Air Theater.jpg (13)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/OpenAirTheaterJpg13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:55:07</CreateDate>
    <NodeName Default="2811170133Open Air Theater.jpg (13)" />
    <SortOrder>1052</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/avnlqg3s/2811170133open-air-theater.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>