<?xml version="1.0" encoding="utf-8"?>
<Media Key="430ef887-70b5-47d1-a923-48313c521d0a" Alias="2811170144Gomhouria Theatre.jpg (142)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg142</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:03</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (142)" />
    <SortOrder>2049</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qh2a2q3v/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>