<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9da3a3f-1e21-4765-9edf-c0edf5756ea3" Alias="2811170133Open Air Theater.jpg (103)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/OpenAirTheaterJpg103</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:10:38</CreateDate>
    <NodeName Default="2811170133Open Air Theater.jpg (103)" />
    <SortOrder>2182</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/he3nv4jb/2811170133open-air-theater.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>