<?xml version="1.0" encoding="utf-8"?>
<Media Key="fefbcf05-d49b-4808-8101-a3d079f145b2" Alias="2811170135Small Hall.jpg (67)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/SmallHallJpg67</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:00:43</CreateDate>
    <NodeName Default="2811170135Small Hall.jpg (67)" />
    <SortOrder>1338</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aphpx5u1/2811170135small-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>