<?xml version="1.0" encoding="utf-8"?>
<Media Key="15554df2-0358-4ae7-a0f5-299a81f0fd1e" Alias="2811170128Arab Music Institute.jpg (75)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg75</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:01:56</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (75)" />
    <SortOrder>1410</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4rgfkfky/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>