<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b13c42e-b4be-449c-b42b-cccd488dfa24" Alias="2811170144Gomhouria Theatre.jpg (119)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg119</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:08:37</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (119)" />
    <SortOrder>1994</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fdcbg434/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>