<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7b8ed18-21f7-4c43-a09b-082e1ef99a94" Alias="2811170123Main Hall.jpg (233)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/MainHallJpg233</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:16:42</CreateDate>
    <NodeName Default="2811170123Main Hall.jpg (233)" />
    <SortOrder>2788</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d1wlrn5x/2811170123main-hall.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>