<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed780fa0-373a-4d9e-8448-81e2a37ca65e" Alias="2811170144Gomhouria Theatre.jpg (114)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg114</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:07:30</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (114)" />
    <SortOrder>1899</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uyhhr1j0/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>