<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f8ec6e3-def6-4775-bbd5-27becb891297" Alias="2811170128Arab Music Institute.jpg (181)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/ArabMusicInstituteJpg181</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:22:22</CreateDate>
    <NodeName Default="2811170128Arab Music Institute.jpg (181)" />
    <SortOrder>3032</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2xdi2x5w/2811170128arab-music-institute.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>