<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a8c22b1-a92b-43dd-b25c-38a23c460e6c" Alias="2811170133Open Air Theater.jpg (75)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/OpenAirTheaterJpg75</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:05:40</CreateDate>
    <NodeName Default="2811170133Open Air Theater.jpg (75)" />
    <SortOrder>1632</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w2riy4rl/2811170133open-air-theater.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>