<?xml version="1.0" encoding="utf-8"?>
<Media Key="82816831-8822-4271-b1e0-df1dcffadf67" Alias="2811170144Gomhouria Theatre.jpg (40)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/GomhouriaTheatreJpg40</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:56:15</CreateDate>
    <NodeName Default="2811170144Gomhouria Theatre.jpg (40)" />
    <SortOrder>1163</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g3uidarc/2811170144gomhouria-theatre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>