<?xml version="1.0" encoding="utf-8"?>
<Media Key="e03f33cf-6fe0-452a-a461-fabf58f4a7fa" Alias="2910210424sharara.png" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/shararaPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:14:35</CreateDate>
    <NodeName Default="2910210424sharara.png" />
    <SortOrder>2580</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zezd5yha/2910210424sharara.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>