<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a709eae-2ff9-4188-aeb9-45bc95cb222d" Alias="2911170220Damanhour.jpg (160)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/DamanhourJpg160</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T19:19:31</CreateDate>
    <NodeName Default="2911170220Damanhour.jpg (160)" />
    <SortOrder>2808</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vcphagxz/2911170220damanhour.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>