<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4569b6b-fb38-4f1c-9951-f05fbb6c845f" Alias="2911170220Damanhour.jpg (17)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/DamanhourJpg17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:55:19</CreateDate>
    <NodeName Default="2911170220Damanhour.jpg (17)" />
    <SortOrder>1040</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nwnfnvby/2911170220damanhour.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>