<?xml version="1.0" encoding="utf-8"?>
<Media Key="5484b60d-d35a-45b9-a11e-2741da2bbc7d" Alias="2911170220Damanhour.jpg (42)" Level="3">
  <Info>
    <Parent Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf">MigratedEvents</Parent>
    <Path>/Calendar/MigratedEvents/DamanhourJpg42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T18:57:42</CreateDate>
    <NodeName Default="2911170220Damanhour.jpg (42)" />
    <SortOrder>1283</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bo1iivc0/2911170220damanhour.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>