<?xml version="1.0" encoding="utf-8"?>
<Media Key="5578adc6-31bc-426f-b74b-4edf408e6086" Alias="2E28077A 6D48 4199 B7EF C3120791C552" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//E28077A6D484199B7EFC3120791C552</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T15:09:07</CreateDate>
    <NodeName Default="2E28077A 6D48 4199 B7EF C3120791C552" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ycwhqvn2/2e28077a-6d48-4199-b7ef-c3120791c552.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>