<?xml version="1.0" encoding="utf-8"?>
<Media Key="210f9b35-5cc2-48dd-a11a-987b4449bcae" Alias="3. د. محمد السيوفي أثر المسرح الغنائي على القوالب الغنائيةفي الموسيقى العربية الطقطوقة نموذجاً" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-15T09:26:03</CreateDate>
    <NodeName Default="3. د. محمد السيوفي أثر المسرح الغنائي على القوالب الغنائيةفي الموسيقى العربية الطقطوقة نموذجاً" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/donb4ioc/3-د-محمد-السيوفي-أثر-المسرح-الغنائي-على-القوالب-الغنائيةفي-الموسيقى-العربية-الطقطوقة-نموذجا.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>