<?xml version="1.0" encoding="utf-8"?>
<Media Key="dce6663d-5c9d-4abe-8ad6-ad456ada5b85" Alias="3. د. ميشال الشمالى اليوم الثانى الأربعاء 3 11 الجلسة الثانية" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-17T22:06:53</CreateDate>
    <NodeName Default="3. د. ميشال الشمالى اليوم الثانى الأربعاء 3 11 الجلسة الثانية" />
    <SortOrder>301</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cntonxe3/3-د-ميشال-الشمالى-اليوم-الثانى-الأربعاء-3-11-الجلسة-الثانية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>