<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fa210a9-cd58-4a80-93dd-970bd2928e9a" Alias="3. د. الفاتح حسين المسرح الغنائي في السودان" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-15T08:39:18</CreateDate>
    <NodeName Default="3. د. الفاتح حسين المسرح الغنائي في السودان" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q2ikfd0y/3-د-الفاتح-حسين-المسرح-الغنائي-في-السودان.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>