<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1878f9-555a-4380-964d-c411ad1240ee" Alias="3. د. أحلام أكبر اليوم الأول الجلسة الأولى الثلاثاء 2 11 2021" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-15T10:40:58</CreateDate>
    <NodeName Default="3. د. أحلام أكبر اليوم الأول الجلسة الأولى الثلاثاء 2 11 2021" />
    <SortOrder>284</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/032br4s0/3-د-أحلام-أكبر-اليوم-الأول-الجلسة-الأولى-الثلاثاء-2-11-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>