<?xml version="1.0" encoding="utf-8"?>
<Media Key="23836c43-c39a-4aee-8a52-ad1b94230129" Alias="3. عدنان ساهي اليوم الخامس السبت 6 11 2021 الجلسة الأولى" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-02T09:57:38</CreateDate>
    <NodeName Default="3. عدنان ساهي اليوم الخامس السبت 6 11 2021 الجلسة الأولى" />
    <SortOrder>330</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvwigi20/3-عدنان-ساهي-اليوم-الخامس-السبت-6-11-2021-الجلسة-الأولى.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>