<?xml version="1.0" encoding="utf-8"?>
<Media Key="11c5dd99-3b35-4964-aff9-0d1fe21169da" Alias="3. ورقة الدّراسة لمؤتمر الموسيقى العربيّة 2020 ريم كيروز" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-12T09:11:11</CreateDate>
    <NodeName Default="3. ورقة الدّراسة لمؤتمر الموسيقى العربيّة 2020 ريم كيروز" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w5onkejv/3-ورقة-الد-راسة-لمؤتمر-الموسيقى-العربي-ة-2020-ريم-كيروز.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>