<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cde6ff1-0ef0-4142-9713-cc690c8dec79" Alias="305A3FD4 81A9 4FF8 A928 4F07AC69711C" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A3FD481A94FF8A9284F07AC69711C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:28</CreateDate>
    <NodeName Default="305A3FD4 81A9 4FF8 A928 4F07AC69711C" />
    <SortOrder>1171</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/43xn21hq/305a3fd4-81a9-4ff8-a928-4f07ac69711c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>