<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbc1a89b-4e8e-4c59-b59f-8438d91ce69d" Alias="313BEAAF A7F4 4534 B5AA AC4382DFDD99" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BEAAFA7F44534B5AAAC4382DFDD99</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:29</CreateDate>
    <NodeName Default="313BEAAF A7F4 4534 B5AA AC4382DFDD99" />
    <SortOrder>1172</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/twumdo2o/313beaaf-a7f4-4534-b5aa-ac4382dfdd99.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>