<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccac05e4-c22a-48c8-adbd-85dbb79a8b82" Alias="330C95C4 46A5 4EC2 B136 579323BEC255" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C95C446A54EC2B136579323BEC255</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-04T01:05:13</CreateDate>
    <NodeName Default="330C95C4 46A5 4EC2 B136 579323BEC255" />
    <SortOrder>472</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2iclztbk/330c95c4-46a5-4ec2-b136-579323bec255.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>