<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa4b33f8-d49e-4389-b9db-90552fef8561" Alias="34898438 F59E 4AC7 9618 FF24D5F1B9C5" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F59E4AC79618FF24D5F1B9C5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:58:57</CreateDate>
    <NodeName Default="34898438 F59E 4AC7 9618 FF24D5F1B9C5" />
    <SortOrder>1612</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5yzfxku4/34898438-f59e-4ac7-9618-ff24d5f1b9c5.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>