<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8a1c074-dc97-46f3-8421-354ced227f08" Alias="3510F842 7B3B 407E 8A7D 50CCA784A862" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F8427B3B407E8A7D50CCA784A862</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T02:36:02</CreateDate>
    <NodeName Default="3510F842 7B3B 407E 8A7D 50CCA784A862" />
    <SortOrder>831</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/olakd0ex/3510f842-7b3b-407e-8a7d-50cca784a862.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>