<?xml version="1.0" encoding="utf-8"?>
<Media Key="624b9eea-aac9-4882-bb71-65de018d98e0" Alias="3704C155 0CE8 48E3 8A19 CCBB6B556B8D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C1550CE848E38A19CCBB6B556B8D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:08:44</CreateDate>
    <NodeName Default="3704C155 0CE8 48E3 8A19 CCBB6B556B8D" />
    <SortOrder>1099</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3spewywj/3704c155-0ce8-48e3-8a19-ccbb6b556b8d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>