<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfd30009-40d9-4116-8549-d5eefc182d4f" Alias="37990D92 9E4F 47BB A610 1EC22A5EE6BA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D929E4F47BBA6101EC22A5EE6BA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-20T13:48:16</CreateDate>
    <NodeName Default="37990D92 9E4F 47BB A610 1EC22A5EE6BA" />
    <SortOrder>198</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/b2anht4z/37990d92-9e4f-47bb-a610-1ec22a5ee6ba.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>