<?xml version="1.0" encoding="utf-8"?>
<Media Key="c66051ea-2ed5-4435-b3a4-b463f300ee3e" Alias="39B36D8F 6CD1 48E7 A894 BCE19232FDC2" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B36D8F6CD148E7A894BCE19232FDC2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T17:02:56</CreateDate>
    <NodeName Default="39B36D8F 6CD1 48E7 A894 BCE19232FDC2" />
    <SortOrder>536</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3rihbrwv/39b36d8f-6cd1-48e7-a894-bce19232fdc2.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>