<?xml version="1.0" encoding="utf-8"?>
<Media Key="581111b6-6318-4647-979b-03f780486b10" Alias="3A9EF679 FF9C 4654 99A2 21741A225672" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A9EF679FF9C465499A221741A225672</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T18:07:44</CreateDate>
    <NodeName Default="3A9EF679 FF9C 4654 99A2 21741A225672" />
    <SortOrder>1210</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/waibcway/3a9ef679-ff9c-4654-99a2-21741a225672.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>