<?xml version="1.0" encoding="utf-8"?>
<Media Key="91227ee1-686e-432b-bf61-737d7992d7f5" Alias="3AB84BE5 A641 4EC5 AA95 1FFFE871B2DC" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AB84BE5A6414EC5AA951FFFE871B2DC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T19:05:30</CreateDate>
    <NodeName Default="3AB84BE5 A641 4EC5 AA95 1FFFE871B2DC" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/235cfelo/3ab84be5-a641-4ec5-aa95-1fffe871b2dc.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>