<?xml version="1.0" encoding="utf-8"?>
<Media Key="92f3ebaa-3121-453b-b353-7c7a290c8d65" Alias="3DF5A1FC 40AC 45A5 B22B 8EFFF958C4D0" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DF5A1FC40AC45A5B22B8EFFF958C4D0</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:57:26</CreateDate>
    <NodeName Default="3DF5A1FC 40AC 45A5 B22B 8EFFF958C4D0" />
    <SortOrder>1601</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vtvpherb/3df5a1fc-40ac-45a5-b22b-8efff958c4d0.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>