<?xml version="1.0" encoding="utf-8"?>
<Media Key="74a37dc5-8a51-4353-a04b-59c76d6c4672" Alias="3E8C7DB8 17DC 42F3 ABF1 1BECC90AB55A" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//E8C7DB817DC42F3ABF11BECC90AB55A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T10:19:40</CreateDate>
    <NodeName Default="3E8C7DB8 17DC 42F3 ABF1 1BECC90AB55A" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yn4lg3cr/3e8c7db8-17dc-42f3-abf1-1becc90ab55a.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>