<?xml version="1.0" encoding="utf-8"?>
<Media Key="3156e2ba-9391-4cc8-87a8-30a1ec8f0b8e" Alias="3FB58234 AB56 495A 9028 A113BFFC4DEA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FB58234AB56495A9028A113BFFC4DEA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:57:56</CreateDate>
    <NodeName Default="3FB58234 AB56 495A 9028 A113BFFC4DEA" />
    <SortOrder>1608</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xtrfmmmr/3fb58234-ab56-495a-9028-a113bffc4dea.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>