<?xml version="1.0" encoding="utf-8"?>
<Media Key="14f6d5c6-c191-446b-917e-6c50bfca526e" Alias="4 (2)" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-20T23:56:39</CreateDate>
    <NodeName Default="4 (2)" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ydkpmfer/4.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>