<?xml version="1.0" encoding="utf-8"?>
<Media Key="bad8e757-950d-4354-b9fa-8f78c06ec6aa" Alias="4. ج. مسعودة القرش اليوم الثالث الخميس 4 11 2021 الجلسة الأولى" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-17T23:40:09</CreateDate>
    <NodeName Default="4. ج. مسعودة القرش اليوم الثالث الخميس 4 11 2021 الجلسة الأولى" />
    <SortOrder>309</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/phtnroqn/4-ج-مسعودة-القرش-اليوم-الثالث-الخميس-4-11-2021-الجلسة-الأولى.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>