<?xml version="1.0" encoding="utf-8"?>
<Media Key="44f8c4b5-ec1a-4468-b39e-63ae1887fb09" Alias="40328675 CA62 417D A981 DD3C94D963E8" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CA62417DA981DD3C94D963E8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T21:56:45</CreateDate>
    <NodeName Default="40328675 CA62 417D A981 DD3C94D963E8" />
    <SortOrder>1188</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wpcpqra0/40328675-ca62-417d-a981-dd3c94d963e8.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>