<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fd6cfa3-4b3a-44ef-9606-b0dfc212287f" Alias="407E215A EDFB 47AC BA69 7749DD7B086F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E215AEDFB47ACBA697749DD7B086F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:01:35</CreateDate>
    <NodeName Default="407E215A EDFB 47AC BA69 7749DD7B086F" />
    <SortOrder>1030</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uxhnmhz0/407e215a-edfb-47ac-ba69-7749dd7b086f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>