<?xml version="1.0" encoding="utf-8"?>
<Media Key="b307556b-b0d1-4c2c-b625-4519e111b153" Alias="425FA028 7DC1 4816 92B1 4A38569853FF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FA0287DC1481692B14A38569853FF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:22:54</CreateDate>
    <NodeName Default="425FA028 7DC1 4816 92B1 4A38569853FF" />
    <SortOrder>1352</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nvkbpm4r/425fa028-7dc1-4816-92b1-4a38569853ff.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>