<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ec9ed7e-1360-4fa0-8c4f-e6294f570e5a" Alias="4302A1D8 F481 4284 A33A 3CD6EC01C274" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A1D8F4814284A33A3CD6EC01C274</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-10T09:28:39</CreateDate>
    <NodeName Default="4302A1D8 F481 4284 A33A 3CD6EC01C274" />
    <SortOrder>1711</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pdwnsxta/4302a1d8-f481-4284-a33a-3cd6ec01c274.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>