<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2216c31-1c3a-4ea7-ac0e-433a2a5db7ff" Alias="4399D65B B839 48CA 975A 976243687BEF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D65BB83948CA975A976243687BEF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T16:23:23</CreateDate>
    <NodeName Default="4399D65B B839 48CA 975A 976243687BEF" />
    <SortOrder>886</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g3wcdur0/4399d65b-b839-48ca-975a-976243687bef.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>