<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d16d9fc-8312-49cb-b605-95543db1abce" Alias="442A1D0E AEE0 4A12 AEB3 E011A6DC5612" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A1D0EAEE04A12AEB3E011A6DC5612</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T18:04:09</CreateDate>
    <NodeName Default="442A1D0E AEE0 4A12 AEB3 E011A6DC5612" />
    <SortOrder>1203</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5lmbndis/442a1d0e-aee0-4a12-aeb3-e011a6dc5612.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>