<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe684eb0-c3a6-43be-b370-297d4488d69c" Alias="446B8FEA 40A9 43BD B260 5F8B4226621D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B8FEA40A943BDB2605F8B4226621D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T10:38:57</CreateDate>
    <NodeName Default="446B8FEA 40A9 43BD B260 5F8B4226621D" />
    <SortOrder>1057</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wzhgr5vg/446b8fea-40a9-43bd-b260-5f8b4226621d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>