<?xml version="1.0" encoding="utf-8"?>
<Media Key="c69a0548-9114-467e-bc4a-8ec6fa234aa7" Alias="46E09F45 5043 49A6 A362 0CF6D137B379" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E09F45504349A6A3620CF6D137B379</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T18:05:48</CreateDate>
    <NodeName Default="46E09F45 5043 49A6 A362 0CF6D137B379" />
    <SortOrder>1205</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jycjvrqu/46e09f45-5043-49a6-a362-0cf6d137b379.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>