<?xml version="1.0" encoding="utf-8"?>
<Media Key="d25745b3-d14b-4b15-a868-24104c860dcf" Alias="48BFA26A 5666 4F59 AEE9 7824C7542629" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BFA26A56664F59AEE97824C7542629</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-11T14:44:29</CreateDate>
    <NodeName Default="48BFA26A 5666 4F59 AEE9 7824C7542629" />
    <SortOrder>1778</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wvcfpusl/48bfa26a-5666-4f59-aee9-7824c7542629.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>