<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddc208c2-1159-4bf6-ad7c-0c1ebd1414e2" Alias="4BAC0CBC 964B 4E15 AD6E 7C28438DD710" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BAC0CBC964B4E15AD6E7C28438DD710</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-10T09:29:22</CreateDate>
    <NodeName Default="4BAC0CBC 964B 4E15 AD6E 7C28438DD710" />
    <SortOrder>1725</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yqemfxkz/4bac0cbc-964b-4e15-ad6e-7c28438dd710.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>