<?xml version="1.0" encoding="utf-8"?>
<Media Key="a56156e6-f7cb-48d4-8959-04d78af4e3ea" Alias="4D3FF14A FCC2 4340 99A5 63FF4A9AE999" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D3FF14AFCC2434099A563FF4A9AE999</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-08T20:50:29</CreateDate>
    <NodeName Default="4D3FF14A FCC2 4340 99A5 63FF4A9AE999" />
    <SortOrder>607</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2blgdjol/4d3ff14a-fcc2-4340-99a5-63ff4a9ae999.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>