<?xml version="1.0" encoding="utf-8"?>
<Media Key="0730433b-3152-4967-bde1-45c70af96dd9" Alias="4EFCFF21 6AD9 4501 972B 69B950A20F43" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EFCFF216AD94501972B69B950A20F43</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:00:26</CreateDate>
    <NodeName Default="4EFCFF21 6AD9 4501 972B 69B950A20F43" />
    <SortOrder>1024</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hvbdab0s/4efcff21-6ad9-4501-972b-69b950a20f43.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>