<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd314c7b-fbce-4dee-9f15-bb63ae60eaca" Alias="4FDE092D 7569 4E88 A5EA ECF4A974405C" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//FDE092D75694E88A5EAECF4A974405C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-08T11:45:50</CreateDate>
    <NodeName Default="4FDE092D 7569 4E88 A5EA ECF4A974405C" />
    <SortOrder>201</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pvgddxoo/4fde092d-7569-4e88-a5ea-ecf4a974405c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>