<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8ad9cec-1333-428f-8d44-9e15e9332d6d" Alias="5. اد. اشرف عبد الرحمن البحث بعد التعديل دورة 29 2020" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-21T10:37:41</CreateDate>
    <NodeName Default="5. اد. اشرف عبد الرحمن البحث بعد التعديل دورة 29 2020" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykok10bt/5-اد-اشرف-عبد-الرحمن-البحث-بعد-التعديل-دورة-29-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>