<?xml version="1.0" encoding="utf-8"?>
<Media Key="f15968bd-bdab-49b9-9a14-b2930c7840c0" Alias="5. بحث أسماء الماجد الموسيقى التحديات الراهنة واستشراف المستقبل" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-11T20:46:55</CreateDate>
    <NodeName Default="5. بحث أسماء الماجد الموسيقى التحديات الراهنة واستشراف المستقبل" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/snuft2nl/5-بحث-أسماء-الماجد-الموسيقى-التحديات-الراهنة-واستشراف-المستقبل.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>