<?xml version="1.0" encoding="utf-8"?>
<Media Key="3520013a-d5c8-4356-b251-be7a3c1e6421" Alias="5. بحث محمد جمال اليوم الخامس السبت 6 11 2021 الجلسة الأولى" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-02T10:00:21</CreateDate>
    <NodeName Default="5. بحث محمد جمال اليوم الخامس السبت 6 11 2021 الجلسة الأولى" />
    <SortOrder>332</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cqadanoi/5-بحث-محمد-جمال-اليوم-الخامس-السبت-6-11-2021-الجلسة-الأولى.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>