<?xml version="1.0" encoding="utf-8"?>
<Media Key="cad0bd3c-c802-4037-b986-68a89e42eb52" Alias="517F47FB 6387 4325 B7BC D87D4AE298E9" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F47FB63874325B7BCD87D4AE298E9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T05:07:32</CreateDate>
    <NodeName Default="517F47FB 6387 4325 B7BC D87D4AE298E9" />
    <SortOrder>458</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hk4nbsqc/517f47fb-6387-4325-b7bc-d87d4ae298e9.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>