<?xml version="1.0" encoding="utf-8"?>
<Media Key="51ca4968-7c37-47a7-a9a5-5d7a370b9628" Alias="553" Level="3">
  <Info>
    <Parent Key="a94de089-1668-4c27-8ac0-ade87c52716f">old</Parent>
    <Path>/News/old/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T18:58:39</CreateDate>
    <NodeName Default="553" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nzenuujx/553.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>