<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f90fc6-a393-4355-8432-cc5fe48bee11" Alias="5597D3BE 1366 4360 8D4B EE024A690DB6" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D3BE136643608D4BEE024A690DB6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-23T10:37:29</CreateDate>
    <NodeName Default="5597D3BE 1366 4360 8D4B EE024A690DB6" />
    <SortOrder>1148</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yahpt3et/5597d3be-1366-4360-8d4b-ee024a690db6.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>