<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e081741-fb1f-48ac-bcf7-deec443545f6" Alias="5822A1B3 7FFD 4329 ADC3 11D5048E28A3" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A1B37FFD4329ADC311D5048E28A3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-10T09:24:43</CreateDate>
    <NodeName Default="5822A1B3 7FFD 4329 ADC3 11D5048E28A3" />
    <SortOrder>624</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i2lbq1q5/5822a1b3-7ffd-4329-adc3-11d5048e28a3.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>