<?xml version="1.0" encoding="utf-8"?>
<Media Key="60de5234-eb16-488b-a56a-0214b00cacf9" Alias="58908482 861A 41F9 B6d7 21A9111d3b9b" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//A41F9B6d721A9111d3b9b</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T17:51:36</CreateDate>
    <NodeName Default="58908482 861A 41F9 B6d7 21A9111d3b9b" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gjjn2yaw/58908482-861a-41f9-b6d7-21a9111d3b9b.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>