<?xml version="1.0" encoding="utf-8"?>
<Media Key="169b400f-9984-4696-a61c-8d58ad9743f6" Alias="59B0D64E 51E3 426E B700 1EDBB0800D4A" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B0D64E51E3426EB7001EDBB0800D4A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-12T13:11:52</CreateDate>
    <NodeName Default="59B0D64E 51E3 426E B700 1EDBB0800D4A" />
    <SortOrder>945</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bfajwfue/59b0d64e-51e3-426e-b700-1edbb0800d4a.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>