<?xml version="1.0" encoding="utf-8"?>
<Media Key="9396596b-e367-4673-8261-5031f318346a" Alias="5E34bc8c C658 4531 92De 358A2da6096e" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//E34bc8cC658453192De358A2da6096e</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T14:46:28</CreateDate>
    <NodeName Default="5E34bc8c C658 4531 92De 358A2da6096e" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nvmjne1h/5e34bc8c-c658-4531-92de-358a2da6096e.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>