<?xml version="1.0" encoding="utf-8"?>
<Media Key="02d208c4-abf1-4f57-a88f-de76704483bb" Alias="61E2498F F922 4954 90D4 CDCEF0974921" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E2498FF922495490D4CDCEF0974921</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T16:53:20</CreateDate>
    <NodeName Default="61E2498F F922 4954 90D4 CDCEF0974921" />
    <SortOrder>815</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yieneaxr/61e2498f-f922-4954-90d4-cdcef0974921.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>