<?xml version="1.0" encoding="utf-8"?>
<Media Key="70553950-7fc1-4446-ac82-05bd8cc0006b" Alias="6250C37B 2B9F 42BA BABE A6213918A4DE" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C37B2B9F42BABABEA6213918A4DE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T02:36:07</CreateDate>
    <NodeName Default="6250C37B 2B9F 42BA BABE A6213918A4DE" />
    <SortOrder>838</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ky2fk2gb/6250c37b-2b9f-42ba-babe-a6213918a4de.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>