<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6a314c9-311e-44c7-88e4-1d0d5c1a21ab" Alias="6A66E824 FC0D 4732 951C 61234714FA55" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A66E824FC0D4732951C61234714FA55</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T16:24:11</CreateDate>
    <NodeName Default="6A66E824 FC0D 4732 951C 61234714FA55" />
    <SortOrder>891</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z2kkhvq4/6a66e824-fc0d-4732-951c-61234714fa55.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>