<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e4c02a1-25f7-4e95-bfae-46e9505627c8" Alias="6AF16CBE 2658 4A75 86AE BAC69ED6AFAF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AF16CBE26584A7586AEBAC69ED6AFAF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T15:44:53</CreateDate>
    <NodeName Default="6AF16CBE 2658 4A75 86AE BAC69ED6AFAF" />
    <SortOrder>2046</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u2beyxxx/6af16cbe-2658-4a75-86ae-bac69ed6afaf.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>