<?xml version="1.0" encoding="utf-8"?>
<Media Key="80e0b87b-ea4b-49e7-b2de-764ae52d2070" Alias="6B58E369 8A26 4893 A502 EBCBC403D658" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B58E3698A264893A502EBCBC403D658</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:06:13</CreateDate>
    <NodeName Default="6B58E369 8A26 4893 A502 EBCBC403D658" />
    <SortOrder>1097</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pw2obacl/6b58e369-8a26-4893-a502-ebcbc403d658.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>