<?xml version="1.0" encoding="utf-8"?>
<Media Key="efc7b57e-2272-4df1-b08f-e12a4ce8a269" Alias="6D5667C9 2E8B 4E7E 91F3 09631F49F420" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D5667C92E8B4E7E91F309631F49F420</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:29</CreateDate>
    <NodeName Default="6D5667C9 2E8B 4E7E 91F3 09631F49F420" />
    <SortOrder>1173</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pc0np11s/6d5667c9-2e8b-4e7e-91f3-09631f49f420.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>