<?xml version="1.0" encoding="utf-8"?>
<Media Key="a803403b-eeab-4163-8f1c-b7642ba7fb48" Alias="6EE77F2B 4EBB 4DA7 9697 CA7640934229" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//EE77F2B4EBB4DA79697CA7640934229</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T15:11:15</CreateDate>
    <NodeName Default="6EE77F2B 4EBB 4DA7 9697 CA7640934229" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hvaahkfl/6ee77f2b-4ebb-4da7-9697-ca7640934229.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>