<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee45bd7c-8287-401b-815e-2345de81cf1b" Alias="6F9e35ba 0155 4426 8D77 555A8c38e3f9" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//F9e35ba015544268D77555A8c38e3f9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T17:51:30</CreateDate>
    <NodeName Default="6F9e35ba 0155 4426 8D77 555A8c38e3f9" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pk4fl1uh/6f9e35ba-0155-4426-8d77-555a8c38e3f9.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>