<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b08699e-e899-4fdd-b744-8e508db5a292" Alias="700" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:07:54</CreateDate>
    <NodeName Default="700" />
    <SortOrder>251</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tbubqo2z/700.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>