<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c3071a7-09d8-4d0d-84e4-0a4cc83c68fe" Alias="71A76EA8 160C 4C59 BAD2 227C084D44D1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A76EA8160C4C59BAD2227C084D44D1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T01:23:24</CreateDate>
    <NodeName Default="71A76EA8 160C 4C59 BAD2 227C084D44D1" />
    <SortOrder>558</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufyda1gy/71a76ea8-160c-4c59-bad2-227c084d44d1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>