<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b19dddc-6d89-4f72-b365-48815dc993a4" Alias="7223045A 46FC 4104 923A CB2E081CADCB" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A46FC4104923ACB2E081CADCB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T15:26:15</CreateDate>
    <NodeName Default="7223045A 46FC 4104 923A CB2E081CADCB" />
    <SortOrder>704</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1lobsg2j/7223045a-46fc-4104-923a-cb2e081cadcb.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>