<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2d46987-6386-46f4-a836-e5ea23320ee3" Alias="729A7B5C 575E 453A A87E 44ED0A0BE8AA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A7B5C575E453AA87E44ED0A0BE8AA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-13T00:17:50</CreateDate>
    <NodeName Default="729A7B5C 575E 453A A87E 44ED0A0BE8AA" />
    <SortOrder>1825</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qfunjuug/729a7b5c-575e-453a-a87e-44ed0a0be8aa.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>