<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3809caa-89eb-42c2-9a0f-59aa3804ce94" Alias="744C7BC2 BE6C 4BB5 89C2 801D460403EA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C7BC2BE6C4BB589C2801D460403EA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:42:01</CreateDate>
    <NodeName Default="744C7BC2 BE6C 4BB5 89C2 801D460403EA" />
    <SortOrder>2019</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vsoib25l/744c7bc2-be6c-4bb5-89c2-801d460403ea.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>