<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d157341-af4f-44ce-8f00-de2c6a9f0e87" Alias="748EA4C3 652A 4ED8 A20E 349F4EF3789F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EA4C3652A4ED8A20E349F4EF3789F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T15:00:28</CreateDate>
    <NodeName Default="748EA4C3 652A 4ED8 A20E 349F4EF3789F" />
    <SortOrder>1630</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i3zbk1kp/748ea4c3-652a-4ed8-a20e-349f4ef3789f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>