<?xml version="1.0" encoding="utf-8"?>
<Media Key="80814ef4-a277-41fc-af6f-afb545a6e2ac" Alias="791FA105 5A24 468B A907 4877A90FCF36" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FA1055A24468BA9074877A90FCF36</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-20T13:05:21</CreateDate>
    <NodeName Default="791FA105 5A24 468B A907 4877A90FCF36" />
    <SortOrder>1142</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4jhidadx/791fa105-5a24-468b-a907-4877a90fcf36.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>