<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d2816a-ada0-4e0f-b8d6-c2efe2002ef3" Alias="7A2A2886 E7F8 4734 8C4C 4EB42065F63B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A2A2886E7F847348C4C4EB42065F63B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T10:21:11</CreateDate>
    <NodeName Default="7A2A2886 E7F8 4734 8C4C 4EB42065F63B" />
    <SortOrder>380</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nsanefna/7a2a2886-e7f8-4734-8c4c-4eb42065f63b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>