<?xml version="1.0" encoding="utf-8"?>
<Media Key="5abd8590-9bd5-4c8f-a6bb-2af1d155df7d" Alias="7A8E58F7 53A0 4E65 B141 A590EC94A20C" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A8E58F753A04E65B141A590EC94A20C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T13:15:25</CreateDate>
    <NodeName Default="7A8E58F7 53A0 4E65 B141 A590EC94A20C" />
    <SortOrder>1529</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s0cl0wwv/7a8e58f7-53a0-4e65-b141-a590ec94a20c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>