<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7fbf71e-f3c4-41ec-b7e7-9f0d39fc9ad6" Alias="7E536B1E BFFC 424A 892F 9DD1184A6EC9" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E536B1EBFFC424A892F9DD1184A6EC9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T16:46:30</CreateDate>
    <NodeName Default="7E536B1E BFFC 424A 892F 9DD1184A6EC9" />
    <SortOrder>799</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dd1pxv4e/7e536b1e-bffc-424a-892f-9dd1184a6ec9.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>