<?xml version="1.0" encoding="utf-8"?>
<Media Key="6adf7715-e487-4864-9750-d98918ad6812" Alias="8" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-14T13:11:18</CreateDate>
    <NodeName Default="8" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bv1n40uh/8.jfif]]></Value>
    </umbracoFile>
  </Properties>
</Media>