<?xml version="1.0" encoding="utf-8"?>
<Media Key="79645775-6e25-45fe-b16f-59209794da2f" Alias="8070F697 511A 4898 8ED2 756182BBDC69" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F697511A48988ED2756182BBDC69</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:26:04</CreateDate>
    <NodeName Default="8070F697 511A 4898 8ED2 756182BBDC69" />
    <SortOrder>1937</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/onlhi4jf/8070f697-511a-4898-8ed2-756182bbdc69.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>