<?xml version="1.0" encoding="utf-8"?>
<Media Key="afcf360c-43fa-4c40-b70b-ca7fd2553177" Alias="8234AE06 B2ED 44C5 BCDB DC591A600C90" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AE06B2ED44C5BCDBDC591A600C90</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T14:55:46</CreateDate>
    <NodeName Default="8234AE06 B2ED 44C5 BCDB DC591A600C90" />
    <SortOrder>1594</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bi1m5l50/8234ae06-b2ed-44c5-bcdb-dc591a600c90.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>