<?xml version="1.0" encoding="utf-8"?>
<Media Key="87bfcda0-e1e0-4c41-9ecd-699a37d1460f" Alias="853622F1 E542 4C85 9560 93E6934F35EC" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F1E5424C85956093E6934F35EC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-28T02:02:45</CreateDate>
    <NodeName Default="853622F1 E542 4C85 9560 93E6934F35EC" />
    <SortOrder>308</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u1gl5b5a/853622f1-e542-4c85-9560-93e6934f35ec.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>