<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb8c7954-b60a-44b0-824e-1d4f561509e1" Alias="86DA4FEC 98E9 400B 8428 FEBA12625E3C" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DA4FEC98E9400B8428FEBA12625E3C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-14T10:22:16</CreateDate>
    <NodeName Default="86DA4FEC 98E9 400B 8428 FEBA12625E3C" />
    <SortOrder>1447</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kj2jzoyk/86da4fec-98e9-400b-8428-feba12625e3c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>