<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf5a4086-e121-488b-946a-e74c7821cdfb" Alias="88139598 EC57 437C 94DA 9B020A011268" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EC57437C94DA9B020A011268</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-24T15:08:30</CreateDate>
    <NodeName Default="88139598 EC57 437C 94DA 9B020A011268" />
    <SortOrder>228</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qbafvpzb/88139598-ec57-437c-94da-9b020a011268.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>