<?xml version="1.0" encoding="utf-8"?>
<Media Key="e076d0a1-0b58-4a43-b04b-7a6fa3c9107d" Alias="892CC480 F8DE 4C87 8423 16653B46132C" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CC480F8DE4C87842316653B46132C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T05:07:37</CreateDate>
    <NodeName Default="892CC480 F8DE 4C87 8423 16653B46132C" />
    <SortOrder>462</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u5ihnycy/892cc480-f8de-4c87-8423-16653b46132c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>