<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceab0890-4e08-4e17-bfbb-3044d9468061" Alias="89345C75 7115 47DC A7BE 48947AFC8C1F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C75711547DCA7BE48947AFC8C1F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-26T13:39:44</CreateDate>
    <NodeName Default="89345C75 7115 47DC A7BE 48947AFC8C1F" />
    <SortOrder>779</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/syekxtqi/89345c75-7115-47dc-a7be-48947afc8c1f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>