<?xml version="1.0" encoding="utf-8"?>
<Media Key="11fa4f23-23d8-4b92-a464-6fb14806475d" Alias="8A9481D9 55F5 470F 9C25 8D4307D90C22" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A9481D955F5470F9C258D4307D90C22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-02T14:27:59</CreateDate>
    <NodeName Default="8A9481D9 55F5 470F 9C25 8D4307D90C22" />
    <SortOrder>437</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/evhpueoy/8a9481d9-55f5-470f-9c25-8d4307d90c22.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>