<?xml version="1.0" encoding="utf-8"?>
<Media Key="ede52ece-b480-449c-8ee7-0e5fd87ac45d" Alias="8C2ECA0F A807 4249 8A66 0463F2CD107D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C2ECA0FA80742498A660463F2CD107D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T16:53:44</CreateDate>
    <NodeName Default="8C2ECA0F A807 4249 8A66 0463F2CD107D" />
    <SortOrder>816</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zaxol1ma/8c2eca0f-a807-4249-8a66-0463f2cd107d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>