<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f9eabff-75d4-478c-b210-9c59a11f5235" Alias="8CBD41BD 7F71 4269 8CCA 8BDFF7C36807" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//CBD41BD7F7142698CCA8BDFF7C36807</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T15:16:03</CreateDate>
    <NodeName Default="8CBD41BD 7F71 4269 8CCA 8BDFF7C36807" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5gvj3h4u/8cbd41bd-7f71-4269-8cca-8bdff7c36807.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>