<?xml version="1.0" encoding="utf-8"?>
<Media Key="a362182e-85b6-4651-a5f3-1b2ac3229b1d" Alias="8CC51666 C9C7 4C73 BB36 6628BF9B42A2" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CC51666C9C74C73BB366628BF9B42A2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T11:58:58</CreateDate>
    <NodeName Default="8CC51666 C9C7 4C73 BB36 6628BF9B42A2" />
    <SortOrder>879</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/famgfi3w/8cc51666-c9c7-4c73-bb36-6628bf9b42a2.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>