<?xml version="1.0" encoding="utf-8"?>
<Media Key="99128793-d858-4c8c-ac3f-b4a3cade599a" Alias="8D238DBE 485B 4F15 B9FD 5CA983C1A14D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D238DBE485B4F15B9FD5CA983C1A14D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T21:56:15</CreateDate>
    <NodeName Default="8D238DBE 485B 4F15 B9FD 5CA983C1A14D" />
    <SortOrder>1186</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/swdbfgky/8d238dbe-485b-4f15-b9fd-5ca983c1a14d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>