<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa53378d-61b0-4b59-a08f-d62d8d82600b" Alias="8Db6b346 1F42 4Ad4 9F08 43E9ca78fe27" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//Db6b3461F424Ad49F0843E9ca78fe27</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T17:51:32</CreateDate>
    <NodeName Default="8Db6b346 1F42 4Ad4 9F08 43E9ca78fe27" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rm1fhkvq/8db6b346-1f42-4ad4-9f08-43e9ca78fe27.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>