<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdab28f6-d33d-4fe7-8846-f6bb4cb4de58" Alias="8DB9B5EF 7308 4BCF B19A C5E15B37C2FD" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DB9B5EF73084BCFB19AC5E15B37C2FD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-26T17:16:57</CreateDate>
    <NodeName Default="8DB9B5EF 7308 4BCF B19A C5E15B37C2FD" />
    <SortOrder>1578</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4aukxpj3/8db9b5ef-7308-4bcf-b19a-c5e15b37c2fd.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>