<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f42e8f7-f576-4f7e-ac21-cd57df4dd67d" Alias="933DC740 8F74 4394 B5A4 DE5F43523F6F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DC7408F744394B5A4DE5F43523F6F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-14T23:53:12</CreateDate>
    <NodeName Default="933DC740 8F74 4394 B5A4 DE5F43523F6F" />
    <SortOrder>173</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4huee51w/933dc740-8f74-4394-b5a4-de5f43523f6f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>