<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fe4dbbb-96a1-403a-b042-d2cc8653aeae" Alias="94D5E03F 7DB3 44ED A85A DA60C62C5E38" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D5E03F7DB344EDA85ADA60C62C5E38</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-10T09:24:29</CreateDate>
    <NodeName Default="94D5E03F 7DB3 44ED A85A DA60C62C5E38" />
    <SortOrder>621</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xxnpip3b/94d5e03f-7db3-44ed-a85a-da60c62c5e38.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>