<?xml version="1.0" encoding="utf-8"?>
<Media Key="e17b29b6-b124-4caf-b520-cc0790d4657e" Alias="97DF9804 F906 4C60 883E 3395DC277A76" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DF9804F9064C60883E3395DC277A76</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-28T15:56:32</CreateDate>
    <NodeName Default="97DF9804 F906 4C60 883E 3395DC277A76" />
    <SortOrder>1233</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wauhxyje/97df9804-f906-4c60-883e-3395dc277a76.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>