<?xml version="1.0" encoding="utf-8"?>
<Media Key="965590be-aee3-46df-9ac1-7fc271f439f2" Alias="97EED541 9E8A 417D BE6A 903F504A6F10" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EED5419E8A417DBE6A903F504A6F10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-27T14:44:15</CreateDate>
    <NodeName Default="97EED541 9E8A 417D BE6A 903F504A6F10" />
    <SortOrder>792</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xciflfxd/97eed541-9e8a-417d-be6a-903f504a6f10.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>