<?xml version="1.0" encoding="utf-8"?>
<Media Key="add4efba-e557-4bc1-b09e-cefea01d697c" Alias="9AAF0842 C908 4BD8 B782 214C8901FB30" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AAF0842C9084BD8B782214C8901FB30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:30:50</CreateDate>
    <NodeName Default="9AAF0842 C908 4BD8 B782 214C8901FB30" />
    <SortOrder>1176</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xtxnjlkx/9aaf0842-c908-4bd8-b782-214c8901fb30.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>