<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa765784-3456-483b-9cb6-1a100963e777" Alias="9B9C7725 F90D 4E8B A848 782B184A28EB" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B9C7725F90D4E8BA848782B184A28EB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-26T13:11:00</CreateDate>
    <NodeName Default="9B9C7725 F90D 4E8B A848 782B184A28EB" />
    <SortOrder>1555</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qjlhn4sw/9b9c7725-f90d-4e8b-a848-782b184a28eb.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>