<?xml version="1.0" encoding="utf-8"?>
<Media Key="e81e37ad-1042-4a3c-8da3-3385d4b59a04" Alias="9EEC4300 7C46 475A B706 6DE4527D846D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EEC43007C46475AB7066DE4527D846D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T18:05:12</CreateDate>
    <NodeName Default="9EEC4300 7C46 475A B706 6DE4527D846D" />
    <SortOrder>1204</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vm1b30cc/9eec4300-7c46-475a-b706-6de4527d846d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>