<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dac63f6-d01d-4419-b04a-9b272bd10179" Alias="9F9FAF99 2A52 4548 BC60 9DADE76BA44F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F9FAF992A524548BC609DADE76BA44F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:01:26</CreateDate>
    <NodeName Default="9F9FAF99 2A52 4548 BC60 9DADE76BA44F" />
    <SortOrder>1080</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4brlzhi3/9f9faf99-2a52-4548-bc60-9dade76ba44f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>