<?xml version="1.0" encoding="utf-8"?>
<Media Key="2000e53f-ae12-4224-b167-22faa73396d4" Alias="A0257270 4073 4384 BB31 B7377F84AA40" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A025727040734384BB31B7377F84AA40</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-02T14:26:46</CreateDate>
    <NodeName Default="A0257270 4073 4384 BB31 B7377F84AA40" />
    <SortOrder>426</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hhsbaias/a0257270-4073-4384-bb31-b7377f84aa40.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>