<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad787a2c-2f58-4ca7-b4b3-96196bb100dd" Alias="A135F6CF F559 427D BFD5 643897F42877" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A135F6CFF559427DBFD5643897F42877</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T09:37:59</CreateDate>
    <NodeName Default="A135F6CF F559 427D BFD5 643897F42877" />
    <SortOrder>862</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fj3hrlky/a135f6cf-f559-427d-bfd5-643897f42877.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>