<?xml version="1.0" encoding="utf-8"?>
<Media Key="9befb9c5-834c-4263-8789-13ad1e916b03" Alias="A1F3B7B3 FF7D 43CC 9E81 D0CA14F0170C" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A1F3B7B3FF7D43CC9E81D0CA14F0170C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:02:07</CreateDate>
    <NodeName Default="A1F3B7B3 FF7D 43CC 9E81 D0CA14F0170C" />
    <SortOrder>1090</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yo2p5g0m/a1f3b7b3-ff7d-43cc-9e81-d0ca14f0170c.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>