<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc7824d7-15c7-4204-95e3-fe5c43919153" Alias="A206B83A 0B5F 4EDA A864 C6F067AAF439" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A206B83A0B5F4EDAA864C6F067AAF439</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-10T09:27:55</CreateDate>
    <NodeName Default="A206B83A 0B5F 4EDA A864 C6F067AAF439" />
    <SortOrder>1704</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0eshrxgh/a206b83a-0b5f-4eda-a864-c6f067aaf439.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>