<?xml version="1.0" encoding="utf-8"?>
<Media Key="b43ee7f6-5d62-4860-8403-cb1311fbff86" Alias="A25919E0 3C0F 4DDB B20B 11797C24BEEF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A25919E03C0F4DDBB20B11797C24BEEF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-03T09:24:36</CreateDate>
    <NodeName Default="A25919E0 3C0F 4DDB B20B 11797C24BEEF" />
    <SortOrder>1279</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4dtd3ndc/a25919e0-3c0f-4ddb-b20b-11797c24beef.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>