<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea3c8b6b-1d02-49f0-9f7e-7c327106195a" Alias="A2FD3644 C251 4A28 A20C 1580AA76661B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A2FD3644C2514A28A20C1580AA76661B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-14T12:47:34</CreateDate>
    <NodeName Default="A2FD3644 C251 4A28 A20C 1580AA76661B" />
    <SortOrder>1456</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nwfdz0qc/a2fd3644-c251-4a28-a20c-1580aa76661b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>