<?xml version="1.0" encoding="utf-8"?>
<Media Key="dba12312-ae72-4acf-b107-8f148a5932ec" Alias="A43C8BB6 F857 40B0 B112 56360B004C48" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A43C8BB6F85740B0B11256360B004C48</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-04T01:05:20</CreateDate>
    <NodeName Default="A43C8BB6 F857 40B0 B112 56360B004C48" />
    <SortOrder>477</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cqrldw1s/a43c8bb6-f857-40b0-b112-56360b004c48.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>