<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0880a86-a073-48d3-abc9-01f65af28185" Alias="A4F8F3C1 BA5F 4468 8FAC E2053EA68157" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A4F8F3C1BA5F44688FACE2053EA68157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-03T09:21:05</CreateDate>
    <NodeName Default="A4F8F3C1 BA5F 4468 8FAC E2053EA68157" />
    <SortOrder>1264</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qafirydt/a4f8f3c1-ba5f-4468-8fac-e2053ea68157.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>