<?xml version="1.0" encoding="utf-8"?>
<Media Key="30bd59c6-9d86-4a11-9cc3-df0ef0d8ddfb" Alias="A5C339C0 0F4B 4371 A233 F8C240DB12CF" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A5C339C00F4B4371A233F8C240DB12CF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-26T12:44:13</CreateDate>
    <NodeName Default="A5C339C0 0F4B 4371 A233 F8C240DB12CF" />
    <SortOrder>268</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ybml0meg/a5c339c0-0f4b-4371-a233-f8c240db12cf.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>