<?xml version="1.0" encoding="utf-8"?>
<Media Key="07330597-cd33-4eec-a104-f77c008935f2" Alias="A7629C00 41D6 4CF2 989C C05DC63AF6F6" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/A7629C0041D64CF2989CC05DC63AF6F6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:26:32</CreateDate>
    <NodeName Default="A7629C00 41D6 4CF2 989C C05DC63AF6F6" />
    <SortOrder>1941</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/secdgbzt/a7629c00-41d6-4cf2-989c-c05dc63af6f6.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>