<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1338cc2-221d-4445-a847-8fe34980d6fa" Alias="AB67F32D 2AEA 4BD6 8DA8 36F6DEC40CB1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AB67F32D2AEA4BD68DA836F6DEC40CB1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-27T15:07:20</CreateDate>
    <NodeName Default="AB67F32D 2AEA 4BD6 8DA8 36F6DEC40CB1" />
    <SortOrder>1640</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ysgdhyi3/ab67f32d-2aea-4bd6-8da8-36f6dec40cb1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>