<?xml version="1.0" encoding="utf-8"?>
<Media Key="84bd1771-19fa-432b-b5f3-1c7dc940f1f4" Alias="AB701403 D0A8 47CA 94A3 9C655C1E574D" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AB701403D0A847CA94A39C655C1E574D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T19:05:30</CreateDate>
    <NodeName Default="AB701403 D0A8 47CA 94A3 9C655C1E574D" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o2ll1bh0/ab701403-d0a8-47ca-94a3-9c655c1e574d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>