<?xml version="1.0" encoding="utf-8"?>
<Media Key="006e8832-ddb9-43b8-b4b8-b2bdf571613d" Alias="Abdel Halim" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/AbdelHalim</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T17:32:24</CreateDate>
    <NodeName Default="Abdel Halim" />
    <SortOrder>190</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gseg2afz/abdel-halim.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>