<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ce8e768-6aa1-46db-8226-1615a130252e" Alias="AC97CF2F E0A0 48A0 B3B5 A8DD4E6FE897" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//AC97CF2FE0A048A0B3B5A8DD4E6FE897</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T15:09:12</CreateDate>
    <NodeName Default="AC97CF2F E0A0 48A0 B3B5 A8DD4E6FE897" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n1tprdfb/ac97cf2f-e0a0-48a0-b3b5-a8dd4e6fe897.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>