<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3b05bb1-af75-46e5-b571-f7d6529b786e" Alias="AD941771 F5EA 4A3D 955A 774D6F323588" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AD941771F5EA4A3D955A774D6F323588</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T14:08:05</CreateDate>
    <NodeName Default="AD941771 F5EA 4A3D 955A 774D6F323588" />
    <SortOrder>467</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w3nlbm1v/ad941771-f5ea-4a3d-955a-774d6f323588.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>