<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4d00620-2473-49bb-92ff-8729c571601f" Alias="AE267D7F 48C9 4D47 97DA 43AA4495E850" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AE267D7F48C94D4797DA43AA4495E850</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:22:38</CreateDate>
    <NodeName Default="AE267D7F 48C9 4D47 97DA 43AA4495E850" />
    <SortOrder>1345</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eydnbzdt/ae267d7f-48c9-4d47-97da-43aa4495e850.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>