<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdc5299a-adab-45ff-8b1d-ee04740432d1" Alias="AE8C5061 E5AF 4A80 911B 35041EB97A6B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AE8C5061E5AF4A80911B35041EB97A6B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:23:31</CreateDate>
    <NodeName Default="AE8C5061 E5AF 4A80 911B 35041EB97A6B" />
    <SortOrder>1921</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tqunl5nl/ae8c5061-e5af-4a80-911b-35041eb97a6b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>