<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdf542b8-127e-49a2-8dd6-17bc8e397166" Alias="AF5F49A5 DEBB 4E4D 906D AF0CA17A0654" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/AF5F49A5DEBB4E4D906DAF0CA17A0654</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T01:32:32</CreateDate>
    <NodeName Default="AF5F49A5 DEBB 4E4D 906D AF0CA17A0654" />
    <SortOrder>568</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xzbpltl4/af5f49a5-debb-4e4d-906d-af0ca17a0654.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>