<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f998a2f-54c9-4ba3-ae17-86926e217275" Alias="B0122A44 5D9A 4991 B94B 5606E9617D20" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B0122A445D9A4991B94B5606E9617D20</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-07T00:00:18</CreateDate>
    <NodeName Default="B0122A44 5D9A 4991 B94B 5606E9617D20" />
    <SortOrder>903</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fgfjtd4j/b0122a44-5d9a-4991-b94b-5606e9617d20.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>