<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5110bd5-ddd9-4a88-9393-603ca76084b1" Alias="B0399DD0 656C 4135 829F EDF4ADA3530E" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B0399DD0656C4135829FEDF4ADA3530E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T15:49:36</CreateDate>
    <NodeName Default="B0399DD0 656C 4135 829F EDF4ADA3530E" />
    <SortOrder>2051</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0mfbdjoz/b0399dd0-656c-4135-829f-edf4ada3530e.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>