<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4da8f4c-6400-4ceb-b3cc-fb762a9db9d0" Alias="B4E455E2 0C72 48C8 8136 6EC7108E67A4" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/B4E455E20C7248C881366EC7108E67A4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-28T02:02:47</CreateDate>
    <NodeName Default="B4E455E2 0C72 48C8 8136 6EC7108E67A4" />
    <SortOrder>310</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jkhnvvaa/b4e455e2-0c72-48c8-8136-6ec7108e67a4.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>