<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc3b47dc-5263-46ac-a7c9-fe991d1bcd83" Alias="BA49045A 466E 42DA AEB6 EB1BA97889C3" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BA49045A466E42DAAEB6EB1BA97889C3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T07:27:53</CreateDate>
    <NodeName Default="BA49045A 466E 42DA AEB6 EB1BA97889C3" />
    <SortOrder>653</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1jddxxdd/ba49045a-466e-42da-aeb6-eb1ba97889c3.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>