<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aa79e12-8c3a-40ab-9d7a-822df9942329" Alias="BC38828D C667 4A5A AA0A 900C71200372" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BC38828DC6674A5AAA0A900C71200372</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T16:51:06</CreateDate>
    <NodeName Default="BC38828D C667 4A5A AA0A 900C71200372" />
    <SortOrder>814</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cspkoor0/bc38828d-c667-4a5a-aa0a-900c71200372.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>