<?xml version="1.0" encoding="utf-8"?>
<Media Key="013b31b1-4278-4e70-89f8-1a38d71f9f3c" Alias="BC5EBB1D DAF1 4C9C B0F1 960C0B113B0E" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BC5EBB1DDAF14C9CB0F1960C0B113B0E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T13:00:26</CreateDate>
    <NodeName Default="BC5EBB1D DAF1 4C9C B0F1 960C0B113B0E" />
    <SortOrder>1023</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w2ydwaly/bc5ebb1d-daf1-4c9c-b0f1-960c0b113b0e.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>