<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a2bb342-6b09-45b9-a8aa-d772d3644a51" Alias="BD13028C 2006 435B A3A0 D0D415A3AB24" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/BD13028C2006435BA3A0D0D415A3AB24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T17:02:21</CreateDate>
    <NodeName Default="BD13028C 2006 435B A3A0 D0D415A3AB24" />
    <SortOrder>1368</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iszdwwqj/bd13028c-2006-435b-a3a0-d0d415a3ab24.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>