<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b210115-83a7-49b8-91de-0ca2adc8a07e" Alias="Bf6dc433 453E 4E53 8024 76863A3c97c6" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//Bf6dc433453E4E53802476863A3c97c6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T15:12:58</CreateDate>
    <NodeName Default="Bf6dc433 453E 4E53 8024 76863A3c97c6" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cmaddc3h/bf6dc433-453e-4e53-8024-76863a3c97c6.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>