<?xml version="1.0" encoding="utf-8"?>
<Media Key="23413f22-baed-49a2-a764-8a13b0dc68d9" Alias="C1C418A8 31E5 4D4A 9FD5 E94766C8B189" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C1C418A831E54D4A9FD5E94766C8B189</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T19:07:01</CreateDate>
    <NodeName Default="C1C418A8 31E5 4D4A 9FD5 E94766C8B189" />
    <SortOrder>2061</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eq5fci5n/c1c418a8-31e5-4d4a-9fd5-e94766c8b189.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>