<?xml version="1.0" encoding="utf-8"?>
<Media Key="660daf74-a02d-481f-8173-0ca41ca3d07c" Alias="C1C74683 F8B0 43B5 9A88 3CE2EBDB8021" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//C1C74683F8B043B59A883CE2EBDB8021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-02T14:10:39</CreateDate>
    <NodeName Default="C1C74683 F8B0 43B5 9A88 3CE2EBDB8021" />
    <SortOrder>181</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/okxb0zrn/c1c74683-f8b0-43b5-9a88-3ce2ebdb8021.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>