<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff1e824b-aa53-49cc-95ea-5292821d924f" Alias="C242A4F3 4302 46D8 B3B7 08DF40DB9767" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C242A4F3430246D8B3B708DF40DB9767</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T11:59:33</CreateDate>
    <NodeName Default="C242A4F3 4302 46D8 B3B7 08DF40DB9767" />
    <SortOrder>881</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jwbb350t/c242a4f3-4302-46d8-b3b7-08df40db9767.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>