<?xml version="1.0" encoding="utf-8"?>
<Media Key="114f16a0-5ec2-439c-8c45-2d9098b8e8a5" Alias="C331822F 9323 4587 B9A2 4D8C4863D414" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C331822F93234587B9A24D8C4863D414</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T16:27:51</CreateDate>
    <NodeName Default="C331822F 9323 4587 B9A2 4D8C4863D414" />
    <SortOrder>718</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uyle4eoc/c331822f-9323-4587-b9a2-4d8c4863d414.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>