<?xml version="1.0" encoding="utf-8"?>
<Media Key="45d16666-5ff7-4741-9088-1c7e57b92542" Alias="C36E628F CCB3 4ECE 879C D06CC3114F2F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C36E628FCCB34ECE879CD06CC3114F2F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:30:36</CreateDate>
    <NodeName Default="C36E628F CCB3 4ECE 879C D06CC3114F2F" />
    <SortOrder>1979</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mbtncrpx/c36e628f-ccb3-4ece-879c-d06cc3114f2f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>