<?xml version="1.0" encoding="utf-8"?>
<Media Key="73f9f4cc-35eb-4821-bbdf-3f0ae7707f7e" Alias="C7918F83 9A9F 42D4 A580 AA9A9F430F62" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C7918F839A9F42D4A580AA9A9F430F62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T17:02:20</CreateDate>
    <NodeName Default="C7918F83 9A9F 42D4 A580 AA9A9F430F62" />
    <SortOrder>1366</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zl0ps25l/c7918f83-9a9f-42d4-a580-aa9a9f430f62.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>