<?xml version="1.0" encoding="utf-8"?>
<Media Key="50b1458b-686e-4c8b-8b4c-816b1cfba595" Alias="C8B541EC EFCD 4480 A978 17DCF6FFE4B9" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C8B541ECEFCD4480A97817DCF6FFE4B9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T15:34:16</CreateDate>
    <NodeName Default="C8B541EC EFCD 4480 A978 17DCF6FFE4B9" />
    <SortOrder>579</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rvclcudo/c8b541ec-efcd-4480-a978-17dcf6ffe4b9.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>