<?xml version="1.0" encoding="utf-8"?>
<Media Key="03c4d06b-5f9c-4d15-b75f-efefe6c47ff4" Alias="C9429156 9AED 46E3 937C 2B0EB0DB86C6" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C94291569AED46E3937C2B0EB0DB86C6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T19:08:31</CreateDate>
    <NodeName Default="C9429156 9AED 46E3 937C 2B0EB0DB86C6" />
    <SortOrder>2072</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nximia22/c9429156-9aed-46e3-937c-2b0eb0db86c6.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>