<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e574586-b615-415b-8ce0-444a1caa4ce0" Alias="C96FF05A EE7C 4857 A69B 82B4A15D9BDA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/C96FF05AEE7C4857A69B82B4A15D9BDA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T07:40:39</CreateDate>
    <NodeName Default="C96FF05A EE7C 4857 A69B 82B4A15D9BDA" />
    <SortOrder>666</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qbcfphqv/c96ff05a-ee7c-4857-a69b-82b4a15d9bda.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>