<?xml version="1.0" encoding="utf-8"?>
<Media Key="7398c260-3b88-4691-acf1-e500396e0aca" Alias="CB66B815 E926 4E1B B975 1A0E1FBBC99F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CB66B815E9264E1BB9751A0E1FBBC99F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:20:31</CreateDate>
    <NodeName Default="CB66B815 E926 4E1B B975 1A0E1FBBC99F" />
    <SortOrder>1908</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m1bjq22i/cb66b815-e926-4e1b-b975-1a0e1fbbc99f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>