<?xml version="1.0" encoding="utf-8"?>
<Media Key="87614837-c8c4-440e-8324-b08aaaa807e2" Alias="CBDA5EAD 6293 49CA 8D9F C30402FB654A" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CBDA5EAD629349CA8D9FC30402FB654A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T12:51:17</CreateDate>
    <NodeName Default="CBDA5EAD 6293 49CA 8D9F C30402FB654A" />
    <SortOrder>2121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gfegdb4e/cbda5ead-6293-49ca-8d9f-c30402fb654a.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>