<?xml version="1.0" encoding="utf-8"?>
<Media Key="d23b56cd-2fbb-4682-b4ec-880450ed15c9" Alias="CD1E00EC 4C55 4596 8CF4 3C1CDF21D5A1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CD1E00EC4C5545968CF43C1CDF21D5A1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-26T17:16:56</CreateDate>
    <NodeName Default="CD1E00EC 4C55 4596 8CF4 3C1CDF21D5A1" />
    <SortOrder>1576</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/znldxuv1/cd1e00ec-4c55-4596-8cf4-3c1cdf21d5a1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>