<?xml version="1.0" encoding="utf-8"?>
<Media Key="c02f3d0f-5b38-4267-bd4a-ff986b6d817b" Alias="CD9DDE0B 8E81 4305 BDB4 3166AEF7CC42" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CD9DDE0B8E814305BDB43166AEF7CC42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-28T02:01:57</CreateDate>
    <NodeName Default="CD9DDE0B 8E81 4305 BDB4 3166AEF7CC42" />
    <SortOrder>297</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/be4d5qby/cd9dde0b-8e81-4305-bdb4-3166aef7cc42.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>