<?xml version="1.0" encoding="utf-8"?>
<Media Key="db490517-ed3f-4d8d-a99d-077f2583de39" Alias="CE8EA067 AC95 44BD B8DE C86E109818AA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CE8EA067AC9544BDB8DEC86E109818AA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-05T14:08:03</CreateDate>
    <NodeName Default="CE8EA067 AC95 44BD B8DE C86E109818AA" />
    <SortOrder>1043</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cecftwz5/ce8ea067-ac95-44bd-b8de-c86e109818aa.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>