<?xml version="1.0" encoding="utf-8"?>
<Media Key="da58f2f9-0ca6-4f65-8de3-0fe3a21c35d2" Alias="CEC63793 5D76 4042 B14E 6DE07346747B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/CEC637935D764042B14E6DE07346747B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:25:11</CreateDate>
    <NodeName Default="CEC63793 5D76 4042 B14E 6DE07346747B" />
    <SortOrder>1928</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/55zfrwvg/cec63793-5d76-4042-b14e-6de07346747b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>