<?xml version="1.0" encoding="utf-8"?>
<Media Key="bca1316c-49d8-422c-8383-196392ac21d1" Alias="CFF2C8C1 D484 4E0E 88D9 68E99EF8BDDD" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//CFF2C8C1D4844E0E88D968E99EF8BDDD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-29T15:05:52</CreateDate>
    <NodeName Default="CFF2C8C1 D484 4E0E 88D9 68E99EF8BDDD" />
    <SortOrder>146</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/niyldpgy/cff2c8c1-d484-4e0e-88d9-68e99ef8bddd.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>