<?xml version="1.0" encoding="utf-8"?>
<Media Key="509e039b-4a94-44b2-be3c-8eff615205ab" Alias="D2F118BA 3DF1 4710 9074 A3AEAB3E01F1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D2F118BA3DF147109074A3AEAB3E01F1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T15:06:12</CreateDate>
    <NodeName Default="D2F118BA 3DF1 4710 9074 A3AEAB3E01F1" />
    <SortOrder>1094</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tubj2ueu/d2f118ba-3df1-4710-9074-a3aeab3e01f1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>