<?xml version="1.0" encoding="utf-8"?>
<Media Key="7728e132-fa32-4d7c-9fe3-e8b3491773fd" Alias="D56DA72C B5F1 418B BB6F 975EC17279CA" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D56DA72CB5F1418BBB6F975EC17279CA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:22:38</CreateDate>
    <NodeName Default="D56DA72C B5F1 418B BB6F 975EC17279CA" />
    <SortOrder>1346</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gtqdq3zs/d56da72c-b5f1-418b-bb6f-975ec17279ca.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>