<?xml version="1.0" encoding="utf-8"?>
<Media Key="f56787ab-ca46-48dc-b109-349681e070ff" Alias="D6098813 C544 463F B99A 66F6F476CF54" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D6098813C544463FB99A66F6F476CF54</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T19:05:29</CreateDate>
    <NodeName Default="D6098813 C544 463F B99A 66F6F476CF54" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vwdhp3kg/d6098813-c544-463f-b99a-66f6f476cf54.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>