<?xml version="1.0" encoding="utf-8"?>
<Media Key="694b7d31-2df7-4949-8171-8293295dac94" Alias="D8E233BE A68B 4986 977F 2E8BCC54D0A1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/D8E233BEA68B4986977F2E8BCC54D0A1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T17:02:55</CreateDate>
    <NodeName Default="D8E233BE A68B 4986 977F 2E8BCC54D0A1" />
    <SortOrder>534</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g34fw0px/d8e233be-a68b-4986-977f-2e8bcc54d0a1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>