<?xml version="1.0" encoding="utf-8"?>
<Media Key="73c75bc3-8138-4612-8154-c0eb48ef3194" Alias="DA3796DB 3C71 4B70 9F24 35AF57B15699" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DA3796DB3C714B709F2435AF57B15699</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T14:45:26</CreateDate>
    <NodeName Default="DA3796DB 3C71 4B70 9F24 35AF57B15699" />
    <SortOrder>509</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yvnno2zy/da3796db-3c71-4b70-9f24-35af57b15699.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>