<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6926bd1-358f-4d31-85b4-30fe6601c57b" Alias="DAD7FEFE CFD4 45A5 8649 4137B23E6B01" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DAD7FEFECFD445A586494137B23E6B01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T20:37:55</CreateDate>
    <NodeName Default="DAD7FEFE CFD4 45A5 8649 4137B23E6B01" />
    <SortOrder>870</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/03vjfrup/dad7fefe-cfd4-45a5-8649-4137b23e6b01.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>