<?xml version="1.0" encoding="utf-8"?>
<Media Key="b82c3e88-acd3-4c9f-bd3f-482bc7f156a6" Alias="DB1E820B C488 44EF 9D87 41A8D767FB07" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DB1E820BC48844EF9D8741A8D767FB07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-19T13:45:58</CreateDate>
    <NodeName Default="DB1E820B C488 44EF 9D87 41A8D767FB07" />
    <SortOrder>689</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ry5czogt/db1e820b-c488-44ef-9d87-41a8d767fb07.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>