<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec9c2df6-8f7b-427d-a05f-9158f51f3f27" Alias="DB31B17F 2CCE 48B5 B93F 4C8686A71268" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DB31B17F2CCE48B5B93F4C8686A71268</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-07T00:00:16</CreateDate>
    <NodeName Default="DB31B17F 2CCE 48B5 B93F 4C8686A71268" />
    <SortOrder>901</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4awjz1d1/db31b17f-2cce-48b5-b93f-4c8686a71268.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>