<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac0611a2-6d7b-4532-b76c-9baa8e56e95f" Alias="DC9426E2 C99A 4DD3 A2C0 A55955609299" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DC9426E2C99A4DD3A2C0A55955609299</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-06T22:47:18</CreateDate>
    <NodeName Default="DC9426E2 C99A 4DD3 A2C0 A55955609299" />
    <SortOrder>1314</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uqibnld1/dc9426e2-c99a-4dd3-a2c0-a55955609299.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>