<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1ef7897-6be8-4037-8c12-26f834d33d08" Alias="Dd95684f 5F50 46A3 Bc49 C7e7851bccbb" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//Dd95684f5F5046A3Bc49C7e7851bccbb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T17:41:14</CreateDate>
    <NodeName Default="Dd95684f 5F50 46A3 Bc49 C7e7851bccbb" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sf2o5ypi/dd95684f-5f50-46a3-bc49-c7e7851bccbb.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>