<?xml version="1.0" encoding="utf-8"?>
<Media Key="f858ff2f-ffcc-45a9-996c-eccde45d0532" Alias="DDE48B5F 87F9 499D BAA7 C0BAF6063CE3" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DDE48B5F87F9499DBAA7C0BAF6063CE3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T16:30:30</CreateDate>
    <NodeName Default="DDE48B5F 87F9 499D BAA7 C0BAF6063CE3" />
    <SortOrder>728</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fh5fr4gm/dde48b5f-87f9-499d-baa7-c0baf6063ce3.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>