<?xml version="1.0" encoding="utf-8"?>
<Media Key="23ce8401-6372-4e0a-be93-95a4ad656425" Alias="DE774BE8 7023 4A31 9759 AC1D7F081ABE" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/DE774BE870234A319759AC1D7F081ABE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-03T09:21:04</CreateDate>
    <NodeName Default="DE774BE8 7023 4A31 9759 AC1D7F081ABE" />
    <SortOrder>1259</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a4cm2i1s/de774be8-7023-4a31-9759-ac1d7f081abe.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>