<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ffe1070-4d4d-4a39-aa42-ecf582d087eb" Alias="Dubai Opera 2 1280X853" Level="2">
  <Info>
    <Parent Key="ed103914-3b11-4292-b703-d59bffb7090a">ART</Parent>
    <Path>/ART/DubaiOpera21280X853</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-19T10:34:04</CreateDate>
    <NodeName Default="Dubai Opera 2 1280X853" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oyip2x0n/dubai-opera-2-1280x853.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>