<?xml version="1.0" encoding="utf-8"?>
<Media Key="1015d3fc-6276-4e68-af9a-635fe3b8237f" Alias="E00197BB C313 4314 AA30 272946BA4691" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E00197BBC3134314AA30272946BA4691</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T16:41:31</CreateDate>
    <NodeName Default="E00197BB C313 4314 AA30 272946BA4691" />
    <SortOrder>758</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5ljbkedw/e00197bb-c313-4314-aa30-272946ba4691.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>