<?xml version="1.0" encoding="utf-8"?>
<Media Key="734322d8-ff81-4d8e-a648-2cc4da93eca5" Alias="E066DB0A 453E 44D2 B55B 64EE4B36E735" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E066DB0A453E44D2B55B64EE4B36E735</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:32:38</CreateDate>
    <NodeName Default="E066DB0A 453E 44D2 B55B 64EE4B36E735" />
    <SortOrder>1996</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1yreg22b/e066db0a-453e-44d2-b55b-64ee4b36e735.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>