<?xml version="1.0" encoding="utf-8"?>
<Media Key="91afc2f2-9bdf-4435-abd5-8f925c0ee507" Alias="E08CC280 9D2A 4B9D ADFF 09180F8A6177" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E08CC2809D2A4B9DADFF09180F8A6177</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-26T12:43:18</CreateDate>
    <NodeName Default="E08CC280 9D2A 4B9D ADFF 09180F8A6177" />
    <SortOrder>262</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4tbk5eo5/e08cc280-9d2a-4b9d-adff-09180f8a6177.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>