<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ed3eeef-af78-42d6-92f3-fe5bdd802bad" Alias="E177D161 3029 4C7B 889D 9749DFBCD8A3" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E177D16130294C7B889D9749DFBCD8A3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-26T13:10:59</CreateDate>
    <NodeName Default="E177D161 3029 4C7B 889D 9749DFBCD8A3" />
    <SortOrder>1552</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3hxnglty/e177d161-3029-4c7b-889d-9749dfbcd8a3.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>