<?xml version="1.0" encoding="utf-8"?>
<Media Key="d71f0727-d715-4099-9541-70d2b2063b86" Alias="E2AF1ABA 1DA4 44CD AE8E D30313915302" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E2AF1ABA1DA444CDAE8ED30313915302</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T11:59:34</CreateDate>
    <NodeName Default="E2AF1ABA 1DA4 44CD AE8E D30313915302" />
    <SortOrder>882</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eedb5vyv/e2af1aba-1da4-44cd-ae8e-d30313915302.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>