<?xml version="1.0" encoding="utf-8"?>
<Media Key="59e3a9d0-801d-41a0-a136-25ca0f35678a" Alias="E4DDEED3 53E0 43ED 916D 84508258440E" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E4DDEED353E043ED916D84508258440E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:19:22</CreateDate>
    <NodeName Default="E4DDEED3 53E0 43ED 916D 84508258440E" />
    <SortOrder>1901</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/00upgwi3/e4ddeed3-53e0-43ed-916d-84508258440e.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>