<?xml version="1.0" encoding="utf-8"?>
<Media Key="80b45ea8-d893-4b50-9f11-4a56c3edea1e" Alias="E602C5A6 B0A6 481D 9CBD B488A2B60C45" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E602C5A6B0A6481D9CBDB488A2B60C45</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-26T09:26:46</CreateDate>
    <NodeName Default="E602C5A6 B0A6 481D 9CBD B488A2B60C45" />
    <SortOrder>1164</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vzpljaet/e602c5a6-b0a6-481d-9cbd-b488a2b60c45.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>