<?xml version="1.0" encoding="utf-8"?>
<Media Key="37278711-bc41-4f09-a158-83e3069b3539" Alias="E61C56BF 1A31 4D8A 9A57 FB83B46BBD62" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E61C56BF1A314D8A9A57FB83B46BBD62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-20T16:34:34</CreateDate>
    <NodeName Default="E61C56BF 1A31 4D8A 9A57 FB83B46BBD62" />
    <SortOrder>1871</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c4ddon0b/e61c56bf-1a31-4d8a-9a57-fb83b46bbd62.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>