<?xml version="1.0" encoding="utf-8"?>
<Media Key="24cc06a4-5f72-4985-a404-a4971cc2b861" Alias="E7C72AE4 F526 473D A5BD F6568EE65492" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E7C72AE4F526473DA5BDF6568EE65492</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-23T12:11:15</CreateDate>
    <NodeName Default="E7C72AE4 F526 473D A5BD F6568EE65492" />
    <SortOrder>217</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uidmyjds/e7c72ae4-f526-473d-a5bd-f6568ee65492.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>