<?xml version="1.0" encoding="utf-8"?>
<Media Key="74fa68ec-6fa7-4f22-a6f6-d55b059a7579" Alias="E8560C83 E9EB 4046 B525 F8EDCD12E85B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E8560C83E9EB4046B525F8EDCD12E85B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T14:38:35</CreateDate>
    <NodeName Default="E8560C83 E9EB 4046 B525 F8EDCD12E85B" />
    <SortOrder>521</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3jupu3fh/e8560c83-e9eb-4046-b525-f8edcd12e85b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>