<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9c326ed-b613-47b0-a59c-32371ef02692" Alias="E9A9623A EC34 4D4A 9FE6 553095F57358" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/E9A9623AEC344D4A9FE6553095F57358</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T16:23:23</CreateDate>
    <NodeName Default="E9A9623A EC34 4D4A 9FE6 553095F57358" />
    <SortOrder>885</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3mtmhsit/e9a9623a-ec34-4d4a-9fe6-553095f57358.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>