<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4ea860d-0276-45fb-998a-5b882512c6d8" Alias="EE6457E1 3BFA 49C0 ACC9 77B35EC752A6" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EE6457E13BFA49C0ACC977B35EC752A6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-22T16:36:44</CreateDate>
    <NodeName Default="EE6457E1 3BFA 49C0 ACC9 77B35EC752A6" />
    <SortOrder>740</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bodovvdw/ee6457e1-3bfa-49c0-acc9-77b35ec752a6.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>