<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee8ffd1c-0ca1-4f3f-8569-8589c06aadd5" Alias="EE9BEDB8 4582 44E0 BABB 9422F0FE0069" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//EE9BEDB8458244E0BABB9422F0FE0069</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-28T15:11:17</CreateDate>
    <NodeName Default="EE9BEDB8 4582 44E0 BABB 9422F0FE0069" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dl4j51vb/ee9bedb8-4582-44e0-babb-9422f0fe0069.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>