<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5a2ecab-7fff-458d-bd8e-0dbd208eaeac" Alias="EEA3194C 3C10 4BE0 87F1 50AF50350821" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EEA3194C3C104BE087F150AF50350821</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-25T14:20:25</CreateDate>
    <NodeName Default="EEA3194C 3C10 4BE0 87F1 50AF50350821" />
    <SortOrder>1542</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vxwkfzp5/eea3194c-3c10-4be0-87f1-50af50350821.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>