<?xml version="1.0" encoding="utf-8"?>
<Media Key="c80a193f-c199-4760-861d-ab658cc11735" Alias="EF60AC22 BFDE 4CDD 9E26 483E679810D4" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/EF60AC22BFDE4CDD9E26483E679810D4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-29T19:24:22</CreateDate>
    <NodeName Default="EF60AC22 BFDE 4CDD 9E26 483E679810D4" />
    <SortOrder>345</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hembvsez/ef60ac22-bfde-4cdd-9e26-483e679810d4.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>