<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1d93a26-5050-46d7-a662-25eee4335c40" Alias="F002C18F 905E 4543 8A23 614C2A90BF0B" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F002C18F905E45438A23614C2A90BF0B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-26T13:11:32</CreateDate>
    <NodeName Default="F002C18F 905E 4543 8A23 614C2A90BF0B" />
    <SortOrder>1569</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ea3ntmkq/f002c18f-905e-4543-8a23-614c2a90bf0b.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>