<?xml version="1.0" encoding="utf-8"?>
<Media Key="1275d672-ae9f-4199-bfc3-303cdef0794b" Alias="F083B3E1 F710 4FA2 B38D 2C4C7A1EB073" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F083B3E1F7104FA2B38D2C4C7A1EB073</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-25T16:33:23</CreateDate>
    <NodeName Default="F083B3E1 F710 4FA2 B38D 2C4C7A1EB073" />
    <SortOrder>233</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/otlhkeu5/f083b3e1-f710-4fa2-b38d-2c4c7a1eb073.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>