<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cfd5467-faf1-41b4-b2be-ec95a03c8104" Alias="F1E9F2CE A295 47C5 97A9 F32C33386B20" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F1E9F2CEA29547C597A9F32C33386B20</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-10T09:27:55</CreateDate>
    <NodeName Default="F1E9F2CE A295 47C5 97A9 F32C33386B20" />
    <SortOrder>1703</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mfkp05hr/f1e9f2ce-a295-47c5-97a9-f32c33386b20.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>