<?xml version="1.0" encoding="utf-8"?>
<Media Key="a385ee1f-5269-42fa-b013-7388974c1393" Alias="F23875D9 07FC 41BF 9A56 D6D06D417212" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F23875D907FC41BF9A56D6D06D417212</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-27T14:43:20</CreateDate>
    <NodeName Default="F23875D9 07FC 41BF 9A56 D6D06D417212" />
    <SortOrder>789</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dhxili1j/f23875d9-07fc-41bf-9a56-d6d06d417212.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>