<?xml version="1.0" encoding="utf-8"?>
<Media Key="5746b5ba-6d58-4251-b10d-abfcbc9b7915" Alias="F4B10F29 D272 4B56 9811 97851729DEF5" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F4B10F29D2724B56981197851729DEF5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T12:41:20</CreateDate>
    <NodeName Default="F4B10F29 D272 4B56 9811 97851729DEF5" />
    <SortOrder>1524</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xs0fmv0y/f4b10f29-d272-4b56-9811-97851729def5.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>