<?xml version="1.0" encoding="utf-8"?>
<Media Key="62fda8d5-b6d8-44c9-a7a2-46859e376779" Alias="F50A5679 BCD9 4584 8B0D 57F210B81A17" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F50A5679BCD945848B0D57F210B81A17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T17:10:16</CreateDate>
    <NodeName Default="F50A5679 BCD9 4584 8B0D 57F210B81A17" />
    <SortOrder>545</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0oup0ywy/f50a5679-bcd9-4584-8b0d-57f210b81a17.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>