<?xml version="1.0" encoding="utf-8"?>
<Media Key="afb50bb8-cb90-426c-b19e-c0985a2116dd" Alias="F51274B5 8A99 454D 972D 4A537F59954F" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F51274B58A99454D972D4A537F59954F</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-03T09:25:04</CreateDate>
    <NodeName Default="F51274B5 8A99 454D 972D 4A537F59954F" />
    <SortOrder>1288</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xyflll2q/f51274b5-8a99-454d-972d-4a537f59954f.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>