<?xml version="1.0" encoding="utf-8"?>
<Media Key="816b76fb-8f9c-4b4e-a252-27d5119bebb7" Alias="F514A826 B00D 4A16 9B97 3DA06F6D6B22" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F514A826B00D4A169B973DA06F6D6B22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T12:41:19</CreateDate>
    <NodeName Default="F514A826 B00D 4A16 9B97 3DA06F6D6B22" />
    <SortOrder>1520</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5v1gxam2/f514a826-b00d-4a16-9b97-3da06f6d6b22.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>