<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a6e9978-7519-47a8-b69d-7027816fa5fd" Alias="F822C6B3 8B4D 4A36 916E ABC129389172" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F822C6B38B4D4A36916EABC129389172</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-20T13:04:51</CreateDate>
    <NodeName Default="F822C6B3 8B4D 4A36 916E ABC129389172" />
    <SortOrder>1138</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p0mh2kqz/f822c6b3-8b4d-4a36-916e-abc129389172.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>