<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a92460-033d-4cc2-9765-38f9fa6d0fab" Alias="F8517966 38FB 4175 8FCE 162E26B8AE67" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/F851796638FB41758FCE162E26B8AE67</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-09T13:18:54</CreateDate>
    <NodeName Default="F8517966 38FB 4175 8FCE 162E26B8AE67" />
    <SortOrder>1331</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mysktcb3/f8517966-38fb-4175-8fce-162e26b8ae67.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>