<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce5a796d-46b2-40b0-a387-25d36796a949" Alias="FB IMG 1705239949547" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FBIMG1705239949547</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-14T15:46:43</CreateDate>
    <NodeName Default="FB IMG 1705239949547" />
    <SortOrder>1829</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nn2fvtvs/fb_img_1705239949547.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>