<?xml version="1.0" encoding="utf-8"?>
<Media Key="25f5f9bf-8ae5-4ed8-a1c1-9633f37b6428" Alias="FB IMG 1691663110071" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FBIMG1691663110071</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-10T13:28:55</CreateDate>
    <NodeName Default="FB IMG 1691663110071" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xh2pkjpf/fb_img_1691663110071.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>