<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae339659-da75-47b6-8a93-e26070c755dc" Alias="FBA7CAAF 9AB5 4EFD BDF3 F57B52B134B1" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FBA7CAAF9AB54EFDBDF3F57B52B134B1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T07:40:43</CreateDate>
    <NodeName Default="FBA7CAAF 9AB5 4EFD BDF3 F57B52B134B1" />
    <SortOrder>669</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l4ldhltv/fba7caaf-9ab5-4efd-bdf3-f57b52b134b1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>