<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f0fc0d-f8bf-4097-985a-6a90ce85c4cc" Alias="FD432691 A350 4376 BB3E D39EA188F0BE" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/FD432691A3504376BB3ED39EA188F0BE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-03T14:08:07</CreateDate>
    <NodeName Default="FD432691 A350 4376 BB3E D39EA188F0BE" />
    <SortOrder>469</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bp4pazn5/fd432691-a350-4376-bb3e-d39ea188f0be.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>