<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6bd2e31-dbc3-42d6-b668-40ce85dcd3f1" Alias="Imageslyegp28m" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/Imageslyegp28m</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T11:48:23</CreateDate>
    <NodeName Default="Imageslyegp28m" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g2xl1jwd/imageslyegp28m.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>