<?xml version="1.0" encoding="utf-8"?>
<Media Key="c486c622-b65f-48fc-b5d2-06429c86a308" Alias="IMG 20240115 WA0026" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20240115WA0026</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-16T09:48:24</CreateDate>
    <NodeName Default="IMG 20240115 WA0026" />
    <SortOrder>1843</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/etdinrc5/img-20240115-wa0026.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>