<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dcfd968-b9db-420c-998a-c7d1e91b1c77" Alias="IMG 20230816 WA0053" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230816WA0053</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T12:39:48</CreateDate>
    <NodeName Default="IMG 20230816 WA0053" />
    <SortOrder>178</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n1mn41o1/img-20230816-wa0053.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>