<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d528627-7c7a-4215-ab53-afd7de24bdbe" Alias="IMG 20231116 WA0013 (1)" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231116WA00131</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-16T14:11:22</CreateDate>
    <NodeName Default="IMG 20231116 WA0013 (1)" />
    <SortOrder>1123</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/egdfell0/img-20231116-wa0013.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>