<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dc458e1-b3f9-4d8d-b363-072f63f7db13" Alias="IMG 20231011 WA0006" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231011WA0006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T14:05:25</CreateDate>
    <NodeName Default="IMG 20231011 WA0006" />
    <SortOrder>935</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/23mmippz/img-20231011-wa0006.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>