<?xml version="1.0" encoding="utf-8"?>
<Media Key="d23fbf4b-fd2b-4193-b21e-5c2567f7657a" Alias="IMG 20230908 WA0049" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230908WA0049</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-09T20:39:10</CreateDate>
    <NodeName Default="IMG 20230908 WA0049" />
    <SortOrder>613</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jw5d5url/img-20230908-wa0049.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>