<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfb268c2-9cf3-4599-9ebc-3dc338de0e07" Alias="IMG 20230813 WA0168" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230813WA0168</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-13T17:58:42</CreateDate>
    <NodeName Default="IMG 20230813 WA0168" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yrulft5t/img-20230813-wa0168.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>