<?xml version="1.0" encoding="utf-8"?>
<Media Key="c07ba0e1-2c4b-41ac-88c9-57ae9581751d" Alias="IMG 20230724 WA0030" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//IMG20230724WA0030</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T15:21:13</CreateDate>
    <NodeName Default="IMG 20230724 WA0030" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/24qhxqcl/img-20230724-wa0030.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>