<?xml version="1.0" encoding="utf-8"?>
<Media Key="497f3ccd-701b-4b36-a5b3-47381ea58a51" Alias="IMG 0424 (2) 2" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//IMG042422</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T16:27:33</CreateDate>
    <NodeName Default="IMG 0424 (2) 2" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zm4h4si1/img_0424-2-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>