<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec4c24ad-ec89-4eeb-a8b1-8e1117f33791" Alias="IMG 20230911 WA0006" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230911WA0006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-11T14:55:25</CreateDate>
    <NodeName Default="IMG 20230911 WA0006" />
    <SortOrder>633</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vmsez1ej/img-20230911-wa0006.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>