<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d791fe8-cca5-4089-abcb-70aae7a0b59b" Alias="IMG 20230908 WA0057" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230908WA0057</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-09T20:38:26</CreateDate>
    <NodeName Default="IMG 20230908 WA0057" />
    <SortOrder>610</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3yphslnf/img-20230908-wa0057.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>