<?xml version="1.0" encoding="utf-8"?>
<Media Key="6250a288-9bba-4230-adac-687d8c95600e" Alias="IMG 20230813 WA0159" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230813WA0159</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-13T17:58:47</CreateDate>
    <NodeName Default="IMG 20230813 WA0159" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/r0rfayv0/img-20230813-wa0159.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>