<?xml version="1.0" encoding="utf-8"?>
<Media Key="a151303e-be90-480f-a541-952984dbedb0" Alias="IMG 20230914 WA0006" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230914WA0006</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-14T13:30:22</CreateDate>
    <NodeName Default="IMG 20230914 WA0006" />
    <SortOrder>645</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hayfdimq/img-20230914-wa0006.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>