<?xml version="1.0" encoding="utf-8"?>
<Media Key="58111a57-1be1-42e5-8cab-b684ba42fa0d" Alias="IMG 20230910 WA0007(1)" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230910WA00071</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-11T08:36:46</CreateDate>
    <NodeName Default="IMG 20230910 WA0007(1)" />
    <SortOrder>626</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kenbcwhb/img-20230910-wa0007-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>