<?xml version="1.0" encoding="utf-8"?>
<Media Key="64cd0b50-6a67-414c-a6cf-d6b441bd9f76" Alias="IMG 20240119 WA0007" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20240119WA0007</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:41:41</CreateDate>
    <NodeName Default="IMG 20240119 WA0007" />
    <SortOrder>1860</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kyfn0zdh/img-20240119-wa0007.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>