<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c75587d-15c1-48ae-8083-d62aaa7a620d" Alias="IMG 20240105 WA0025" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20240105WA0025</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-05T15:08:38</CreateDate>
    <NodeName Default="IMG 20240105 WA0025" />
    <SortOrder>1676</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pnmhk5gb/img-20240105-wa0025.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>