<?xml version="1.0" encoding="utf-8"?>
<Media Key="c230fda3-68f4-48d7-a2d2-0652629c0a36" Alias="IMG 20230925 WA0019" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230925WA0019</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T15:09:52</CreateDate>
    <NodeName Default="IMG 20230925 WA0019" />
    <SortOrder>776</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ux4dbqxu/img-20230925-wa0019.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>