<?xml version="1.0" encoding="utf-8"?>
<Media Key="998b6ad5-7466-4828-8f00-ca70eb2e46c2" Alias="IMG 20231210 WA0004" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231210WA0004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-10T15:12:59</CreateDate>
    <NodeName Default="IMG 20231210 WA0004" />
    <SortOrder>1371</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0nvixglg/img-20231210-wa0004.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>