<?xml version="1.0" encoding="utf-8"?>
<Media Key="450fbc69-71d6-4711-bc9e-b47574b7b48e" Alias="IMG 20230813 WA0233" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230813WA0233</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-13T19:12:51</CreateDate>
    <NodeName Default="IMG 20230813 WA0233" />
    <SortOrder>152</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n44a4row/img-20230813-wa0233.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>