<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ec627e4-2b28-4709-bd2c-b7286e74299c" Alias="IMG 20231115 WA0013" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231115WA0013</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T12:24:00</CreateDate>
    <NodeName Default="IMG 20231115 WA0013" />
    <SortOrder>1115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2itnmtri/img-20231115-wa0013.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>