<?xml version="1.0" encoding="utf-8"?>
<Media Key="548af3fd-9092-4ee5-a27c-daad887647e0" Alias="Img 20230726 Wa0029" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Img20230726Wa0029</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-05T04:38:46</CreateDate>
    <NodeName Default="Img 20230726 Wa0029" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5pzjuves/img-20230726-wa0029.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>