<?xml version="1.0" encoding="utf-8"?>
<Media Key="e92136f9-c1de-4aee-878f-b38b2da2bb69" Alias="IMG 20230813 WA0231" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230813WA0231</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-13T19:12:50</CreateDate>
    <NodeName Default="IMG 20230813 WA0231" />
    <SortOrder>150</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/521cd0o4/img-20230813-wa0231.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>