<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eb9e2e4-70d9-47a8-b861-66e97f7bb7b4" Alias="IMG 20230811 WA0012" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230811WA0012</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-11T11:28:08</CreateDate>
    <NodeName Default="IMG 20230811 WA0012" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2lrlstwz/img-20230811-wa0012.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>