<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fa2a552-f039-4859-a795-1f1352e2a5cb" Alias="IMG 20230811 WA0007" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230811WA0007</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-11T11:27:50</CreateDate>
    <NodeName Default="IMG 20230811 WA0007" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ksslehzz/img-20230811-wa0007.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>