<?xml version="1.0" encoding="utf-8"?>
<Media Key="06ec7767-e243-4a97-8eee-d62d00a4efb1" Alias="IMG 20231212 WA0021" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231212WA0021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-12T13:44:27</CreateDate>
    <NodeName Default="IMG 20231212 WA0021" />
    <SortOrder>1413</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mf1pybsd/img-20231212-wa0021.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>