<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d7bfb49-a09f-475b-a9f5-d1a9567f24dd" Alias="IMG 20230813 WA0167" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20230813WA0167</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-13T17:58:43</CreateDate>
    <NodeName Default="IMG 20230813 WA0167" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j53hxdm5/img-20230813-wa0167.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>