<?xml version="1.0" encoding="utf-8"?>
<Media Key="feafdfaa-58ad-429f-9f56-65ea7cd4269b" Alias="IMG 20240115 WA0028" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20240115WA0028</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-16T09:48:26</CreateDate>
    <NodeName Default="IMG 20240115 WA0028" />
    <SortOrder>1845</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vtpl55vn/img-20240115-wa0028.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>