<?xml version="1.0" encoding="utf-8"?>
<Media Key="71183faa-01ae-4d4a-8a35-50f69bbd1cb6" Alias="IMG 20231015 WA0013" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/IMG20231015WA0013</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-15T16:50:59</CreateDate>
    <NodeName Default="IMG 20231015 WA0013" />
    <SortOrder>951</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vq5bq2no/img-20231015-wa0013.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>