<?xml version="1.0" encoding="utf-8"?>
<Media Key="b704ce70-153a-4dfa-a9bf-bf9dc04597bf" Alias="MigratedEvents" Level="2">
  <Info>
    <Parent Key="325b87fe-ae29-495b-9505-5e6c600f5810">Calendar</Parent>
    <Path>/Calendar/MigratedEvents</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-05T04:36:31</CreateDate>
    <NodeName Default="MigratedEvents" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>