<?xml version="1.0" encoding="utf-8"?>
<Media Key="417691c0-ec11-49eb-b2cc-69b482e7b5d8" Alias="Open Air Theatre2" Level="3">
  <Info>
    <Parent Key="683a4303-2f67-440d-abe2-4a2f8a2c2c62">300</Parent>
    <Path>/Theaters//OpenAirTheatre2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T20:10:33</CreateDate>
    <NodeName Default="Open Air Theatre2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y0ihmqir/open-air-theatre2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>