<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab30c7df-9ca0-4860-b921-594d519c53ac" Alias="Protection" Level="3">
  <Info>
    <Parent Key="683a4303-2f67-440d-abe2-4a2f8a2c2c62">300</Parent>
    <Path>/Theaters//Protection</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T20:43:12</CreateDate>
    <NodeName Default="Protection" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1hddbk3a/protection.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>