<?xml version="1.0" encoding="utf-8"?>
<Media Key="22da41d9-1bfb-46ea-b2e9-a4dafaec367f" Alias="Rr16 11" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Rr1611</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T12:35:25</CreateDate>
    <NodeName Default="Rr16 11" />
    <SortOrder>611</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/13anuix1/rr16-11.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>