<?xml version="1.0" encoding="utf-8"?>
<Media Key="7adef6a2-e71d-479d-ac8c-13f6b8a9bf27" Alias="Rr20 2 (1)" Level="2">
  <Info>
    <Parent Key="b58d047b-3af2-493c-8feb-c716b56fce3c">test</Parent>
    <Path>/test/Rr2021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-20T16:21:19</CreateDate>
    <NodeName Default="Rr20 2 (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ut1n24q3/rr20-2-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>