<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dac8c64-620a-421c-90c8-804bac59b4c3" Alias="Rr21 12 (1)" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Rr21121</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-11T13:54:31</CreateDate>
    <NodeName Default="Rr21 12 (1)" />
    <SortOrder>804</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mkgkytik/rr21-12.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>