<?xml version="1.0" encoding="utf-8"?>
<Media Key="332c5024-5132-4354-8bbe-344b96321fc0" Alias="Rr22 2 (2)" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Rr2222</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T14:03:52</CreateDate>
    <NodeName Default="Rr22 2 (2)" />
    <SortOrder>1039</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ejicymzs/rr22-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>