<?xml version="1.0" encoding="utf-8"?>
<Media Key="06454b0e-13b8-4f21-997e-f9759c5250f7" Alias="Rr9 11 (3)" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Rr9113</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-26T12:33:57</CreateDate>
    <NodeName Default="Rr9 11 (3)" />
    <SortOrder>605</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bbffkbvy/rr9-11.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>