<?xml version="1.0" encoding="utf-8"?>
<Media Key="20df130c-dfbf-487e-b00c-d18eed06cf49" Alias="Salon" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Salon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-03T15:09:36</CreateDate>
    <NodeName Default="Salon" />
    <SortOrder>914</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bijn4if5/salon.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>