<?xml version="1.0" encoding="utf-8"?>
<Media Key="317710cc-3390-4f31-ba06-6e6749e17063" Alias="Sayed Darwish Theatre In The City Of Alexandria , Egypt 5" Level="2">
  <Info>
    <Parent Key="113a6eb7-6262-4ffd-949e-16f9a07499ec">Theaters</Parent>
    <Path>/Theaters/SayedDarwishTheatreInTheCityOfAlexandriaEgypt5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T19:15:09</CreateDate>
    <NodeName Default="Sayed Darwish Theatre In The City Of Alexandria , Egypt 5" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ziihommq/sayed_darwish_theatre_in_the_city_of_alexandria_-_egypt-_5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>