<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c40fe30-7d2a-4c44-ac57-497c86bc2433" Alias="Ss23 11 (2)" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Ss23112</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T14:23:25</CreateDate>
    <NodeName Default="Ss23 11 (2)" />
    <SortOrder>637</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g15ealbk/ss23-11.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>