<?xml version="1.0" encoding="utf-8"?>
<Media Key="24d77765-8a52-48de-929b-54f520a2fb2d" Alias="Untitled 3" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Untitled3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-13T12:06:29</CreateDate>
    <NodeName Default="Untitled 3" />
    <SortOrder>316</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mn1nojcs/untitled-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>