<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b591a28-80ae-492f-bfed-70c96372c7be" Alias="Whatsapp Image 2023 10 16 At 11.02.18 AM (1)" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//WhatsappImage20231016At110218AM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T12:04:00</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 16 At 11.02.18 AM (1)" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fynfso3o/whatsapp-image-2023-10-16-at-11-02-18-am-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>