<?xml version="1.0" encoding="utf-8"?>
<Media Key="b89a9b7b-c2dd-4c75-a6f2-be419ac33451" Alias="Whatsapp Image 2023 10 30 At 8.00.19 AM" Level="3">
  <Info>
    <Parent Key="06cbff7e-2507-4695-ad60-98871d9ea664">2020</Parent>
    <Path>/Festival//WhatsappImage20231030At80019AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-20T12:34:11</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 30 At 8.00.19 AM" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pwnjvog3/whatsapp-image-2023-10-30-at-8-00-19-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>