<?xml version="1.0" encoding="utf-8"?>
<Media Key="263fbaef-e628-4059-a0d8-bca584b77ab1" Alias="Whatsapp Image 2023 10 16 At 11.01.56 AM" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//WhatsappImage20231016At110156AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T12:02:03</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 16 At 11.01.56 AM" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3g3d4jri/whatsapp-image-2023-10-16-at-11-01-56-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>