<?xml version="1.0" encoding="utf-8"?>
<Media Key="146a2e24-8892-4fb1-b365-c123aa634aa0" Alias="Whatsapp Image 2023 11 10 At 11.08.58 AM (1)" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231110At110858AM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T11:58:42</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 10 At 11.08.58 AM (1)" />
    <SortOrder>164</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eixgufes/whatsapp-image-2023-11-10-at-11-08-58-am-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>