<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f904388-a697-49f8-9880-b73a9560ada6" Alias="Whatsapp Image 2023 10 27 At 4.33.57 AM" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//WhatsappImage20231027At43357AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T11:55:40</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 27 At 4.33.57 AM" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rzbjap2x/whatsapp-image-2023-10-27-at-4-33-57-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>