<?xml version="1.0" encoding="utf-8"?>
<Media Key="caaa3f2a-44ab-4144-9436-824e88c7f6b8" Alias="Whatsapp Image 2023 11 10 At 5.41.56 AM" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231110At54156AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T22:35:58</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 10 At 5.41.56 AM" />
    <SortOrder>204</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fq5lvsvl/whatsapp-image-2023-11-10-at-5-41-56-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>