<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1f52ce0-21ec-44da-8f64-029a891df10d" Alias="Whatsapp Image 2023 11 10 At 11.08.58 AM" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231110At110858AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T11:59:10</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 10 At 11.08.58 AM" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2ywplqpm/whatsapp-image-2023-11-10-at-11-08-58-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>