<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dfa2221-9727-4265-a86b-36442453f7f7" Alias="Whatsapp Image 2023 12 02 At 10.33.14 AM" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//WhatsappImage20231202At103314AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-02T10:38:33</CreateDate>
    <NodeName Default="Whatsapp Image 2023 12 02 At 10.33.14 AM" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e2rpvdjh/whatsapp-image-2023-12-02-at-10-33-14-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>