<?xml version="1.0" encoding="utf-8"?>
<Media Key="d339e878-4164-4d71-9379-d81e71684842" Alias="Whatsapp Image 2023 10 26 At 11.22.44 PM" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//WhatsappImage20231026At112244PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T11:56:28</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 26 At 11.22.44 PM" />
    <SortOrder>163</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p1udtu1e/whatsapp-image-2023-10-26-at-11-22-44-pm.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>