<?xml version="1.0" encoding="utf-8"?>
<Media Key="86067ba4-7a12-45b3-be20-8458f3e45e97" Alias="Whatsapp Image 2023 11 10 At 5.08.15 AM" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231110At50815AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T13:44:39</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 10 At 5.08.15 AM" />
    <SortOrder>192</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uj3bnbqs/whatsapp-image-2023-11-10-at-5-08-15-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>