<?xml version="1.0" encoding="utf-8"?>
<Media Key="63897312-ac14-4236-814f-74e656832634" Alias="Whatsapp Image 2023 10 26 At 10.17.50 PM" Level="3">
  <Info>
    <Parent Key="8e925d2c-e0ff-4427-8a46-8e9b0b49047b">2021</Parent>
    <Path>/Festival//WhatsappImage20231026At101750PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T11:56:58</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 26 At 10.17.50 PM" />
    <SortOrder>193</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/crzjsyyu/whatsapp-image-2023-10-26-at-10-17-50-pm.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>