<?xml version="1.0" encoding="utf-8"?>
<Media Key="55f30115-a449-4ba3-9cfa-6159de301791" Alias="Whatsapp Image 2023 11 11 At 12.24.40 AM" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231111At122440AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T11:14:21</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 11 At 12.24.40 AM" />
    <SortOrder>150</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cmapgvkj/whatsapp-image-2023-11-11-at-12-24-40-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>