<?xml version="1.0" encoding="utf-8"?>
<Media Key="45055c7b-9466-4fcf-be5d-a9f806a4ba47" Alias="Whatsapp Image 2023 10 16 At 11.01.57 AM (1)" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//WhatsappImage20231016At110157AM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T12:03:37</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 16 At 11.01.57 AM (1)" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pvoakrlg/whatsapp-image-2023-10-16-at-11-01-57-am-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>