<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4fd0911-456a-4d50-90dd-1e7ce3e03e1f" Alias="Whatsapp Image 2023 10 16 At 11.01.49 AM" Level="3">
  <Info>
    <Parent Key="b2800205-0db1-4b8d-bd0b-fe28a8b3bf58">2022</Parent>
    <Path>/Festival//WhatsappImage20231016At110149AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T12:01:26</CreateDate>
    <NodeName Default="Whatsapp Image 2023 10 16 At 11.01.49 AM" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c2ep1rdk/whatsapp-image-2023-10-16-at-11-01-49-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>