<?xml version="1.0" encoding="utf-8"?>
<Media Key="db38ee34-5bf1-4d80-b253-6ee8e368cb05" Alias="Whatsapp Image 2023 11 12 At 1.36.45 AM" Level="3">
  <Info>
    <Parent Key="2138e087-6345-4132-a408-7f2114caf2d4">جديد (1)</Parent>
    <Path>/TalentDevelopment//WhatsappImage20231112At13645AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T20:41:00</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 12 At 1.36.45 AM" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/glxdrw5r/whatsapp-image-2023-11-12-at-1-36-45-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>