<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a6be9f9-6cb9-432e-94a9-d555811dd5c8" Alias="Whatsapp Image 2023 07 26 At 10 03 23 Pm 1" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/WhatsappImage20230726At100323Pm1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-05T04:38:29</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 26 At 10 03 23 Pm 1" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/55uhwwvz/whatsapp-image-2023-07-26-at-10-03-23-pm-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>