<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aecb518-4670-4925-9caf-f338ea263c82" Alias="Whatsapp Image 2023 07 21 At 11.23.28 AM" Level="3">
  <Info>
    <Parent Key="c06401cb-1223-46f1-828c-0c17e4a7256c">2023</Parent>
    <Path>/News//WhatsappImage20230721At112328AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-25T18:00:54</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 21 At 11.23.28 AM" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d00py0tq/whatsapp-image-2023-07-21-at-11-23-28-am.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>