<?xml version="1.0" encoding="utf-8"?>
<Media Key="3704cc9c-beea-44c1-a001-1808106c6524" Alias="Whatsapp Image 2023 07 26 At 10 03 24 Pm 1" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/WhatsappImage20230726At100324Pm1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-05T04:38:27</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 26 At 10 03 24 Pm 1" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tlgain5k/whatsapp-image-2023-07-26-at-10-03-24-pm-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>