<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf93b423-3d71-4b40-ab1f-6bd9fa76c0b8" Alias="Whatsapp Image 2023 08 12 At 10.32.35 PM" Level="2">
  <Info>
    <Parent Key="13bd5a60-8129-4fe6-b240-287c289983e4">News</Parent>
    <Path>/News/WhatsappImage20230812At103235PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T23:49:42</CreateDate>
    <NodeName Default="Whatsapp Image 2023 08 12 At 10.32.35 PM" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ew0jht1r/whatsapp-image-2023-08-12-at-10-32-35-pm.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>