<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6316d5f-ead3-4e7d-9b79-449f7d287e82" Alias="Whatsapp Image 2023 11 10 At 8.42.10 AM (1) (1)" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/WhatsappImage20231110At84210AM11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T13:47:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 11 10 At 8.42.10 AM (1) (1)" />
    <SortOrder>195</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lfwddnwt/whatsapp-image-2023-11-10-at-8-42-10-am-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>