<?xml version="1.0" encoding="utf-8"?>
<Media Key="230c8942-1891-4972-903b-a8c227d2bb6c" Alias="Yasr 750X700" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/Yasr750X700</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T13:46:00</CreateDate>
    <NodeName Default="Yasr 750X700" />
    <SortOrder>182</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/isebyi2r/yasr-750x700.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>