<?xml version="1.0" encoding="utf-8"?>
<Media Key="9593f00d-3265-445f-9995-c9179c7d8010" Alias="أوركسترا أوبرا القاهرة١ (1)" Level="2">
  <Info>
    <Parent Key="ec9ba0e8-a1ea-40c0-98f1-d36a58959610">Companies</Parent>
    <Path>/Companies/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-05T14:19:18</CreateDate>
    <NodeName Default="أوركسترا أوبرا القاهرة١ (1)" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bpyjhflf/أوركسترا-أوبرا-القاهرة١-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>