<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4e22761-fe04-4dbc-8fd4-948b1aaca077" Alias="صوة اللجنة العلمية" Level="4">
  <Info>
    <Parent Key="c16338dc-f9ee-479f-a36c-81b51c199491">2022</Parent>
    <Path>/Festival///</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T08:44:24</CreateDate>
    <NodeName Default="صوة اللجنة العلمية" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m2tpfjae/صوة-اللجنة-العلمية.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>