<?xml version="1.0" encoding="utf-8"?>
<Media Key="e93f189f-215d-45c1-87e8-83c7f10b08b4" Alias="صوره جديده" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-16T15:57:54</CreateDate>
    <NodeName Default="صوره جديده" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/temd50k3/صوره-جديده.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>