<?xml version="1.0" encoding="utf-8"?>
<Media Key="452666ac-5226-4d30-a1c5-45fe8c427758" Alias="فرقة الرقص الحديث" Level="2">
  <Info>
    <Parent Key="ec9ba0e8-a1ea-40c0-98f1-d36a58959610">Companies</Parent>
    <Path>/Companies/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T17:47:02</CreateDate>
    <NodeName Default="فرقة الرقص الحديث" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vjtcmrjg/فرقة-الرقص-الحديث.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>