<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbd8310d-4749-43d9-8922-826efbedc5d7" Alias="فرقة الرقص الحديث 2" Level="2">
  <Info>
    <Parent Key="ec9ba0e8-a1ea-40c0-98f1-d36a58959610">Companies</Parent>
    <Path>/Companies/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T17:55:50</CreateDate>
    <NodeName Default="فرقة الرقص الحديث 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bmynrw0j/فرقة-الرقص-الحديث-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>