<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cb21756-da15-4e99-b21d-c3eb676aeca9" Alias="كورال اطفال" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-14T13:08:04</CreateDate>
    <NodeName Default="كورال اطفال" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jylledav/كورال-اطفال.jfif]]></Value>
    </umbracoFile>
  </Properties>
</Media>