<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3b5aab8-0deb-4699-a224-b5b1afff3760" Alias="م4" Level="2">
  <Info>
    <Parent Key="bc399a59-7cd5-4ccc-95ad-df2d2abb3ada">Talent development</Parent>
    <Path>/TalentDevelopment/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-20T16:11:56</CreateDate>
    <NodeName Default="م4" />
    <SortOrder>131</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x0vlli5l/م4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>