<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4ad8b9-83bc-4ffd-ba0d-caf6a44bdb5c" Alias="مسرح" Level="2">
  <Info>
    <Parent Key="113a6eb7-6262-4ffd-949e-16f9a07499ec">Theaters</Parent>
    <Path>/Theaters/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T19:48:07</CreateDate>
    <NodeName Default="مسرح" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x5meug32/مسرح.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>