<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a49cba1-766a-4c83-8add-f58131e47ed0" Alias="١٦٥٠ (2)" Level="3">
  <Info>
    <Parent Key="30a1e4d8-20eb-4ac1-91bb-b1024667275e">EventsImages</Parent>
    <Path>/Calendar/EventsImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-17T11:38:48</CreateDate>
    <NodeName Default="١٦٥٠ (2)" />
    <SortOrder>329</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u5ffsstk/١٦٥٠.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>