<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6c2ccc0-d131-4c66-9cb4-69ed4c548f81" Alias="أوركسترا القاهرة السيمفونى 41713.8339236111" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:11</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى 41713.8339236111">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى 41713.8339236111</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra41713.8339236111</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire41713.8339236111</Name>
    </NodeName>
    <SortOrder>262</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"5656152e-3299-4d16-b589-8c1c26283a40","mediaKey":"641dff83-97f5-4293-8617-4aaa9be24c07","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"5656152e-3299-4d16-b589-8c1c26283a40","mediaKey":"641dff83-97f5-4293-8617-4aaa9be24c07","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-03-15T20:00:51",
    "endDate": "2014-03-15T22:00:11",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"5656152e-3299-4d16-b589-8c1c26283a40\",\"mediaKey\":\"641dff83-97f5-4293-8617-4aaa9be24c07\",\"crops\":null,\"focalPoint\":null}]",
    "key": "447f8113-06e1-43f2-9dc2-6a42e5ae4246"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى ]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>