<?xml version="1.0" encoding="utf-8"?>
<Content Key="5463ce1b-db9f-436b-8059-25a8cc81bc14" Alias="أوركسترا القاهرة السيمفونى 42302.4375" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:29</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى 42302.4375">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى 42302.4375</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra 42302.4375</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire 42302.4375</Name>
    </NodeName>
    <SortOrder>1669</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"47fb91be-fb3c-4ac8-afea-6f047b179ed6","mediaKey":"e1b4c4c5-08d7-4b0d-b571-ed6f891bcb5f","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أوركسترا القاهرة السيمفونى لموسيقى الحجرة 1
مسرح العرائس الأسبانى
فيليكس مندلسون بارتولدى: موسيقى &quot;حلم منتصف ليلة صيف&quot;
قيادة: أحمد حمدى


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Cairo Symphony Chamber Orchestra I
Per Poc Puppet Theater, Spain
F. Mendelssohn Bartholdy: Music to &ldquo;A Midsummer Night&rsquo;s Dream&rdquo;
Conductor: Ahmed Hamdy


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Orchestre Symphonique du Caire de Chambre I&nbsp; &ldquo;Concerts des &eacute;coles I&rdquo;

Per Poc Puppet Theater, Espagne


F. Mendelssohn Bartholdy: Music to &ldquo;A Midsummer Night&rsquo;s Dream&rdquo;


Chef d&rsquo;orchestre: Ahmed Hamdy


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"47fb91be-fb3c-4ac8-afea-6f047b179ed6","mediaKey":"e1b4c4c5-08d7-4b0d-b571-ed6f891bcb5f","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-10-25T10:30:00",
    "endDate": "2015-10-26T00:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"47fb91be-fb3c-4ac8-afea-6f047b179ed6\",\"mediaKey\":\"e1b4c4c5-08d7-4b0d-b571-ed6f891bcb5f\",\"crops\":null,\"focalPoint\":null}]",
    "key": "e1804f63-c16a-4dbe-82a4-7a0be0d0c957"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى ]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra ]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>