<?xml version="1.0" encoding="utf-8"?>
<Content Key="fabe27fe-4394-43f5-818b-fe18d4710cb7" Alias="أوركسترا القاهرة السيمفونى 42317.4375" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:33</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى 42317.4375">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى 42317.4375</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra42317.4375</Name>
      <Name Culture="fr">Orchestre symphonique du Caire42317.4375</Name>
    </NodeName>
    <SortOrder>1683</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"82512a30-a679-4ab2-8891-19de8d47fdeb","mediaKey":"793bc399-8640-40c6-94e6-3542b903eeab","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


حفلات المدارس 2
سيرجى بروكوفيف: بيتر والذئب
كامى سان صانص: كرنفال الحيوانات
إلقاء: محمد عبد المعطى (لغة عربية)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; رؤوف زيدان (لغة إنجليزية)
صوليست: ميريت حنا، بيانو
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;هيثم إبراهيم، بيانو
قيادة: مجدى بغدادى


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


School Concerts II
Sergei Prokofiev: Peter and the Wolf
Camille Saint-Sa&euml;ns: Le Carnaval des animaux
Narrators: Mohamed Abdel Moaty (Arabic)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Raouf Zaidan (English)
Soloists: Mirette Hanna, piano
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Haitham Ibrahim, piano
Conductor: Magdy Boghdady


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Concerts des &eacute;coles II

Sergei Prokofiev: Peter and the Wolf
Camille Saint-Sa&euml;ns: Le Carnaval des animaux


Narrateurs: Mohamed Abdel Moaty (en arabe)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Raouf Zaidan (en anglais)
Solistes: Mirette Hanna, piano
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Haitham Ibrahim, piano
Chef d&rsquo;orchestre: Magdy Boghdady


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"82512a30-a679-4ab2-8891-19de8d47fdeb","mediaKey":"793bc399-8640-40c6-94e6-3542b903eeab","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-11-09T10:30:00",
    "endDate": "2015-11-10T00:30:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"82512a30-a679-4ab2-8891-19de8d47fdeb\",\"mediaKey\":\"793bc399-8640-40c6-94e6-3542b903eeab\",\"crops\":null,\"focalPoint\":null}]",
    "key": "ba7bb769-040a-4756-bb75-ff26284aaddc"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى ]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre symphonique du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>