<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7c9d1a4-0d69-49a9-bfe1-8bc783ae07c6" Alias="أوركسترا صوت مصر &quot;موسيقى دراما الافلام&quot; - قيادة: أحمد عاطف عبد الحميد42067.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:40:52</CreateDate>
    <NodeName Default="أوركسترا صوت مصر &quot;موسيقى دراما الافلام&quot; - قيادة: أحمد عاطف عبد الحميد42067.8333333333">
      <Name Culture="ar-eg">أوركسترا صوت مصر "موسيقى دراما الافلام" - قيادة: أحمد عاطف عبد الحميد42067.8333333333</Name>
      <Name Culture="en-us">Sound of Egypt Orchestra "Sound Track Music" - Conductor: Ahmed Atef Abdel Hameed42067.8333333333</Name>
      <Name Culture="fr">Orchestre “Sound of Egypt” (Musiques de films) – Chef de l’orchestre: Ahmed Atef Abdel Hamid 42067.8333333333</Name>
    </NodeName>
    <SortOrder>893</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أوركسترا صوت مصر

كلاسيكيات الدراما المصرية

محمد عبد الوهاب -فؤاد الظاهرى - على إسماعيل - يوسف شوقى - عمر خيرت - عمار الشريعى&nbsp; حسن أبو السعود ياسر عبد الرحمن

صوليست و قيادة: أحمد عاطف

أسعار التذاكر: 50-35-25


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Sound of Egypt Orchestra

Classics of Egyptian Drama 

&nbsp;

Mohamed Abdel Wahab, Ahmed Atef, Ammar El Sherei, Omar Khairat, Youssif Shawqy, Yasser Abdel Rahman, Ali Ismail, Hassan Abu El Seuood, Fouad El Zahery, 

Soloist &amp;conductor: Ahmed Atef

Tickets Price: 50-35-25


]]></Value>
      <Value Culture="fr"><![CDATA[

	


La Musique de Mohamed Abdel Wahab, Ahmed Atef, Ammar El Sherei, Omar Khairat, Youssif Shawqy, Yasser Abdel Rahman, Ali Ismail, Hassan Abu El Sooud et Fouad El Zahery

&nbsp;

Soliste et chef de l&rsquo;orchestre: Ahmed Atef Abdel Hamid

&nbsp;

&nbsp; Prix du ticket: 50-35-25


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-03-04T20:00:00",
    "endDate": "2015-03-04T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "key": "60d82941-1de9-4b97-aa51-5660ce7818ac"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا صوت مصر "موسيقى دراما الافلام" - قيادة: أحمد عاطف عبد الحميد]]></Value>
      <Value Culture="en-us"><![CDATA[Sound of Egypt Orchestra "Sound Track Music" - Conductor: Ahmed Atef Abdel Hameed]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre “Sound of Egypt” (Musiques de films) – Chef de l’orchestre: Ahmed Atef Abdel Hamid ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>