<?xml version="1.0" encoding="utf-8"?>
<Content Key="eeb3c7da-fb9a-4481-b43c-caf88b82062d" Alias="أوركسترا القاهرة السيمفونى42357.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:42</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى42357.8333333333">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى42357.8333333333</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra 42357.8333333333</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire42357.8333333333</Name>
    </NodeName>
    <SortOrder>1712</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"3f9ba946-0daa-49b2-ad94-51b3041b409b","mediaKey":"d8e27076-e2dd-4aaa-9ffe-418d3387f1a9","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


حفل عيد الميلاد
بوهوسلاف مارتينو: كونشيرتو رقم 1 للتشيللو والأوركسترا
فولفجانج أماديوس موتسارت: القداس الكبير فى سلم دو الصغير، ك 427
صوليست: أيمن الحنبولى، تشيللو
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; كاترين مانادازا، سوبرانو
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; داليا فاروق، سوبرانو
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; جوزيف كاوزمان، تينور
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; رضا الوكيل، باص


كورال أكابيلا
مدرب الكورال: مايا جفينيريا
قيادة: نادر عباسى

أسعار التذاكر: 50 - 35 - 25


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Christmas Concert
Bohuslav Martinů: Concerto No. 1 for Violoncello &amp; Orchestra
W. A. Mozart: Great Mass in C minor for Soloists, Choir &amp; Orchestra, K. 427
Soloists: Ayman El Hanbouly, Violoncello&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catherine Manandaza, Soprano&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dalia Farouk, Soprano&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Joseph Kauzman, Tenor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reda El Wakil, Bass


A Cappella Choir
Choir Master: Maya Gvineria
Conductor: Nader Abbassi

&nbsp;

Tickets Prices: 50 - 35 - 25

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Concert de No&euml;l


Bohuslav Martinů: Concerto No. 1 for Violoncello &amp; Orchestra
W. A. Mozart: Great Mass in C minor for Soloists, Choir &amp; Orchestra, K. 427


Solistes: Ayman El Hanbouly, Violoncelle&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Catherine Manandaza , Soprano&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dalia Farouk, Soprano&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Joseph Kauzman, T&eacute;nor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Reda El Wakil, Basse


Ch&oelig;ur d&rsquo;A Cappella 

Chef de ch&oelig;ur: Maya Gvineria

Chef d&rsquo;orchestre: Nader Abbassi

&nbsp;

Prix du ticket: 50 - 35 - 25

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"3f9ba946-0daa-49b2-ad94-51b3041b409b","mediaKey":"d8e27076-e2dd-4aaa-9ffe-418d3387f1a9","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-12-19T20:00:00",
    "endDate": "2015-12-19T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"3f9ba946-0daa-49b2-ad94-51b3041b409b\",\"mediaKey\":\"d8e27076-e2dd-4aaa-9ffe-418d3387f1a9\",\"crops\":null,\"focalPoint\":null}]",
    "key": "52d40fa7-08c9-4adf-913a-6f596685ccb1"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra ]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>