<?xml version="1.0" encoding="utf-8"?>
<Content Key="74b2ae1b-6c84-4f1b-81f0-2f74ac764828" Alias="أوركسترا القاهرة السيمفونى41538.7918287037" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:37:05</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى41538.7918287037">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى41538.7918287037</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra41538.7918287037</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire41538.7918287037</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"fbdb52de-2ec3-4a4a-a057-5fc5cbbd5531","mediaKey":"ad632245-2d0f-4118-89ee-4e3f0efe6734","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أوركسترا القاهرة السيمفونى (السيمفونية التاسعة لبيتهوفن)


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Cairo Symphony Orchestra (Beethoven&#39;s 9th Symphony)


]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"fbdb52de-2ec3-4a4a-a057-5fc5cbbd5531","mediaKey":"ad632245-2d0f-4118-89ee-4e3f0efe6734","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2013-09-21T19:00:14",
    "endDate": "2013-09-21T21:00:29",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"fbdb52de-2ec3-4a4a-a057-5fc5cbbd5531\",\"mediaKey\":\"ad632245-2d0f-4118-89ee-4e3f0efe6734\",\"crops\":null,\"focalPoint\":null}]",
    "key": "27315e2c-2f03-4b59-96a0-95ad8e13ff3c"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>