<?xml version="1.0" encoding="utf-8"?>
<Content Key="db22c0c9-35a6-445c-a601-82345f1269f3" Alias="أوركسترا القاهرة السيمفونى42420.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:54</CreateDate>
    <NodeName Default="أوركسترا القاهرة السيمفونى42420.8333333333">
      <Name Culture="ar-eg">أوركسترا القاهرة السيمفونى42420.8333333333</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra42420.8333333333</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire 42420.8333333333</Name>
    </NodeName>
    <SortOrder>1753</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"dd13197e-1bc9-4241-a1cc-207d26103dfd","mediaKey":"bef5b222-7251-45f3-8645-e206142243a3","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


موتسارتيانا 2
يوهانز برامز: رقصات فالس &quot;أغانى الحب&quot;، مصنف 52
فولفجانج أماديوس موتسارت: كونشيرتو للبيانو والأوركسترا فى سلم دو الصغير، مصنف 491
آرون كوبلاند: كونشيرتو للكلارينت
فولفجانج أماديوس موتسارت: سيمفونية فى سلم رى الكبير، ك. 504 &quot;براج&quot;
صوليست: روزاليا جوبيز لاشيراس، بيانو
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; محمد حمدى، كلارينيت
كورال أكابيلا
مدرب الكورال: مايا جفينيريا
قيادة: أحمد الصعيدى

أسعار التذاكر:50-35-25 

&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Mozartiana II
J. Brahms: Liebeslieder Walzer, Op. 52
W. A. Mozart: Concerto for Piano &amp; Orchestra in C minor, K. 491
A. Copland: Concerto for Clarinet &nbsp;
W. A. Mozart: Symphony in D major, K. 504 &ldquo;Prague&rdquo;
Soloists: Rosalia Gom&eacute;z Lasheras, Piano
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mohamed Hamdy, Clarinet
&nbsp;A Cappella Choir
Choir Master: Maya Gvineria
Conductor: Ahmed El Saedi

Tickets Prices: 50-35-25

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;

Mozartiana II

J. Brahms: Liebeslieder Walzer, Op. 52
W. A. Mozart: Concerto for Piano &amp; Orchestra in C minor, K. 491
A. Copland: Concerto for Clarinet &nbsp;
W. A. Mozart: Symphony in D major, K. 504 &ldquo;Prague&rdquo;

Solistes: Rosalia Gom&eacute;z Lasheras, Piano
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Mohamed Hamdy, Clarinette

&nbsp;Ch&oelig;ur d&rsquo;A Cappella 

Chef de ch&oelig;ur: Maya Gvineria

Chef d&rsquo;orchestre: Ahmed El Saedi

&nbsp;

Prix du ticket: 50-35-25

&nbsp;

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"dd13197e-1bc9-4241-a1cc-207d26103dfd","mediaKey":"bef5b222-7251-45f3-8645-e206142243a3","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-02-20T20:00:00",
    "endDate": "2016-02-20T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"dd13197e-1bc9-4241-a1cc-207d26103dfd\",\"mediaKey\":\"bef5b222-7251-45f3-8645-e206142243a3\",\"crops\":null,\"focalPoint\":null}]",
    "key": "67e84cc3-b76b-4897-9f30-5fdb55bd0798"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا القاهرة السيمفونى]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>