<?xml version="1.0" encoding="utf-8"?>
<Content Key="546683e9-e6f2-44cb-9f4d-2f5535e83d08" Alias="أوركسترا صوت مصر &quot;موسيقى دراما الافلام&quot; - قيادة: أحمد عاطف41981.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:40:36</CreateDate>
    <NodeName Default="أوركسترا صوت مصر &quot;موسيقى دراما الافلام&quot; - قيادة: أحمد عاطف41981.8333333333">
      <Name Culture="ar-eg">أوركسترا صوت مصر "موسيقى دراما الافلام" - قيادة: أحمد عاطف41981.8333333333</Name>
      <Name Culture="en-us">Sound of Egypt Orchestra "Sound Track Music Movies" - Conductor: Ahmed Atef Abdel Hameed41981.8333333333</Name>
      <Name Culture="fr"> Orchestre Sound of Egypt "Sound Track Music Movies" - Chef d’orchestre: Ahmed Atef Ahmed Atef Abdel41981.8333333333</Name>
    </NodeName>
    <SortOrder>834</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"47942dfb-567c-487d-be2d-e8e303a3da4a","mediaKey":"a92eebc8-501a-4037-89b8-144cad5cd361","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


من أعمال: عمار الشريعى - عمر خيرت - راجح داوود - أحمد عاطف

ضيوف شرف:&nbsp;

حسن شرارة (فيولينه)&nbsp;

نسمة عبد العزيز &nbsp;(ماريمبا)&nbsp;

صوليست و قيادة أحمد عاطف&nbsp;

أسعار التذاكر: 75-50-35&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Works by:&nbsp; Ammar El Sherei - Omar Khairat - Rageh Daoud - Ahmed Atef

Guest of Honour:

Hassan Sharara (Violin)&nbsp;

Nesma Abdel Aziz (Marimba)&nbsp;

&nbsp;Soloist &amp;Conductor Ahmed Atef&nbsp;

Tickets Price: 75-50-35&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;

Compositions d&#39;Ammar El Sherei, Omar Khairat, Rageh Daoud&nbsp;et Ahmed Atef

&nbsp;

Invit&eacute;s d&#39;honneur:

&nbsp;Hassan Sharara (violon)

Nesma Abdel Aziz (Marimba)

&nbsp;

Soliste et Chef d&rsquo;orchestre: Ahmed Atef

&nbsp;

&nbsp;

Prix du ticket: 75 - 50 - 35 L.E.

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"47942dfb-567c-487d-be2d-e8e303a3da4a","mediaKey":"a92eebc8-501a-4037-89b8-144cad5cd361","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-12-08T20:00:00",
    "endDate": "2014-12-08T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"47942dfb-567c-487d-be2d-e8e303a3da4a\",\"mediaKey\":\"a92eebc8-501a-4037-89b8-144cad5cd361\",\"crops\":null,\"focalPoint\":null}]",
    "key": "8f17c344-9a36-42cb-bf52-703978e9cd4a"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا صوت مصر "موسيقى دراما الافلام" - قيادة: أحمد عاطف]]></Value>
      <Value Culture="en-us"><![CDATA[Sound of Egypt Orchestra "Sound Track Music Movies" - Conductor: Ahmed Atef Abdel Hameed]]></Value>
      <Value Culture="fr"><![CDATA[ Orchestre Sound of Egypt "Sound Track Music Movies" - Chef d’orchestre: Ahmed Atef Ahmed Atef Abdel]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>