<?xml version="1.0" encoding="utf-8"?>
<Content Key="24cfef7e-264b-408c-b3dd-04f9490e53bd" Alias="أوركسترا صوت مصر &quot;موسيقى الدراما&quot; -  قيادة: أحمد عاطف 42428.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:50</CreateDate>
    <NodeName Default="أوركسترا صوت مصر &quot;موسيقى الدراما&quot; -  قيادة: أحمد عاطف 42428.8333333333">
      <Name Culture="ar-eg">أوركسترا صوت مصر "موسيقى الدراما" -  قيادة: أحمد عاطف 42428.8333333333</Name>
      <Name Culture="en-us">Sound of Egypt Orchestra “Drama Music” - Conductor: Ahmed Atef42428.8333333333</Name>
      <Name Culture="fr">Orchestre Voix d'Egypte" - Chef d'orchestre: Ahmed Atef (Musique de Drame) 42428.8333333333</Name>
    </NodeName>
    <SortOrder>1740</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


عصفور الدراما

بالإشتراك

مع الفنانة: حنان ماضى

ضيف الشرف :

الفنان الكبير:على الحجار&nbsp;

صوليست (فيولينة)و قيادة: أحمد عاطف

أسعار التذاكر: 100-75-50


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


The Dram&#39;s Bird

ًWith :

Hanan Mady

Guest of&nbsp; Honour : Ali El Haggar

Soloist (Violin)&amp; Conductor: Ahmed Atef

Tickets Prices: 100-75-50


]]></Value>
      <Value Culture="fr"><![CDATA[

	


L&rsquo;oiseau de drame

Hanan Mady

&nbsp;

Invit&eacute; d&rsquo;honneur: Ali El Haggar

&nbsp;

Soliste (violon) et chef d&rsquo;orchestre: Ahmed Atef

&nbsp;

Prix du ticket: 100-75-50

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-02-28T20:00:00",
    "endDate": "2016-02-28T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "key": "57f7412f-4d70-4e99-932a-249ee9f80dd8"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا صوت مصر "موسيقى الدراما" -  قيادة: أحمد عاطف ]]></Value>
      <Value Culture="en-us"><![CDATA[Sound of Egypt Orchestra “Drama Music” - Conductor: Ahmed Atef]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Voix d'Egypte" - Chef d'orchestre: Ahmed Atef (Musique de Drame) ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>