<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb566a17-3a4d-4a16-a822-b09f3a3b02d3" Alias="أوركسترا الوتريات لأوبرا الإسكندرية41941.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:42:54</CreateDate>
    <NodeName Default="أوركسترا الوتريات لأوبرا الإسكندرية41941.8333333333">
      <Name Culture="ar-eg">أوركسترا الوتريات لأوبرا الإسكندرية41941.8333333333</Name>
      <Name Culture="en-us">Alexandria Opera House String Orchestra41941.8333333333</Name>
      <Name Culture="fr">Orchestre à cordes de l'Opéra d'Alexandrie 41941.8333333333</Name>
    </NodeName>
    <SortOrder>1328</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"017b6bec-94ae-4625-9c50-f289203032d0","mediaKey":"6d3ac26b-23bf-4c14-9246-adf43aaaea80","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أوركسترا الوتريات لأوبرا الإسكندرية

جالا موتسارت&nbsp;

قيادة: محمد سعد باشا&nbsp;

صوليست (أوبوا): وسام امين

اسعار التذاكر: 35 - 25 - 15


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Alexandria Opera String Orchestra

&nbsp;

Mozart Gala

Conducted by

Mohamed Saad Basha

Soloist (Oboe): Wessam Amin

&nbsp;

Tickets Prices: 35 -25 - 15


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Orchestre &agrave; cordes de l&#39;Op&eacute;ra d&#39;Alexandrie

Gala de Mozart

Chef d&rsquo;orchestre: Mohamed Saad Basha

Soliste (hautbois): Wessam Amin

Prix du ticket: 35 - 25 - 15 L.E.


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"017b6bec-94ae-4625-9c50-f289203032d0","mediaKey":"6d3ac26b-23bf-4c14-9246-adf43aaaea80","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-10-29T20:00:00",
    "endDate": "2014-10-29T22:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"017b6bec-94ae-4625-9c50-f289203032d0\",\"mediaKey\":\"6d3ac26b-23bf-4c14-9246-adf43aaaea80\",\"crops\":null,\"focalPoint\":null}]",
    "key": "ff904915-fe6f-4177-af73-805157433cf1"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[أوركسترا الوتريات لأوبرا الإسكندرية]]></Value>
      <Value Culture="en-us"><![CDATA[Alexandria Opera House String Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre à cordes de l'Opéra d'Alexandrie ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>