<?xml version="1.0" encoding="utf-8"?>
<Content Key="87e06e3c-326e-4b19-9ad0-29c891526762" Alias="الجسر الموسيقى المصرى الفنلندى 2014 بمشاركة اوركسترا اوبرا القاهرة- قيادة: ناير ناجى - رالف جوتونى41708.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:11</CreateDate>
    <NodeName Default="الجسر الموسيقى المصرى الفنلندى 2014 بمشاركة اوركسترا اوبرا القاهرة- قيادة: ناير ناجى - رالف جوتونى41708.8333333333">
      <Name Culture="ar-eg">الجسر الموسيقى المصرى الفنلندى 2014 بمشاركة اوركسترا اوبرا القاهرة- قيادة: ناير ناجى - رالف جوتونى41708.8333333333</Name>
      <Name Culture="en-us">Finnish-Egyptian Musical Bridge 2014 with the Cairo Opera Orchestra - Nayer Nagui, Ralf Gothoni41708.8333333333</Name>
      <Name Culture="fr">"Finish-Egyptian Musical Bridge" 2014 avec l'Orchestre de l'Opéra du Caire - Nayer Nagui, Ralf Gotho41708.8333333333</Name>
    </NodeName>
    <SortOrder>260</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"a7dab069-e200-492b-a7f2-526f5b76d050","mediaKey":"f2bca10d-e5cb-401f-8879-146c0a6cda9b","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Finnish-Egyptian Musical Bridge 2014 with the Cairo Opera Orchestra - Nayer Nagui (Conductor), Ralf Gothoni (Piano/ Conductor), Mark Gothoni (Violin), Yuko Miyagawa (Cello)


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&quot;Finish-Egyptian Musical Bridge&quot; 2014 avec l&#39;Orchestre de l&#39;Op&eacute;ra du Caire - Nayer Nagui (Chef d&#39;orchestre), Ralf Gothoni (Chef d&#39;orchestre/ Piano), Mark Gothoni (Violon), Yuko Miyagawa (Violoncelle)


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"a7dab069-e200-492b-a7f2-526f5b76d050","mediaKey":"f2bca10d-e5cb-401f-8879-146c0a6cda9b","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-03-10T20:00:00",
    "endDate": "2014-03-10T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"a7dab069-e200-492b-a7f2-526f5b76d050\",\"mediaKey\":\"f2bca10d-e5cb-401f-8879-146c0a6cda9b\",\"crops\":null,\"focalPoint\":null}]",
    "key": "c140729d-18d5-4dc8-8f99-8e3dfba0accf"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[الجسر الموسيقى المصرى الفنلندى 2014 بمشاركة اوركسترا اوبرا القاهرة- قيادة: ناير ناجى - رالف جوتونى]]></Value>
      <Value Culture="en-us"><![CDATA[Finnish-Egyptian Musical Bridge 2014 with the Cairo Opera Orchestra - Nayer Nagui, Ralf Gothoni]]></Value>
      <Value Culture="fr"><![CDATA["Finish-Egyptian Musical Bridge" 2014 avec l'Orchestre de l'Opéra du Caire - Nayer Nagui, Ralf Gotho]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>