<?xml version="1.0" encoding="utf-8"?>
<Content Key="b00b66e0-8055-4f8d-b53f-fd7faf37db06" Alias="الفرقة القومية العربية للموسيقى42041.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:04</CreateDate>
    <NodeName Default="الفرقة القومية العربية للموسيقى42041.8333333333">
      <Name Culture="ar-eg">الفرقة القومية العربية للموسيقى42041.8333333333</Name>
      <Name Culture="en-us">National Arab Music Ensemble42041.8333333333</Name>
      <Name Culture="fr">Ensemble National Arabe de la Musique 42041.8333333333</Name>
    </NodeName>
    <SortOrder>1364</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"91473620-4a2e-4ff1-9c7d-0c0577519b18","mediaKey":"fbba8d24-7a61-4e89-a6cf-7479da1154a4","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	


Chef de l&rsquo;ensemble: Selim Sahab


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"91473620-4a2e-4ff1-9c7d-0c0577519b18","mediaKey":"fbba8d24-7a61-4e89-a6cf-7479da1154a4","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-02-06T20:00:00",
    "endDate": "2015-02-06T22:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"91473620-4a2e-4ff1-9c7d-0c0577519b18\",\"mediaKey\":\"fbba8d24-7a61-4e89-a6cf-7479da1154a4\",\"crops\":null,\"focalPoint\":null}]",
    "key": "fb0709a1-94b0-4780-9c89-766bd302333f"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[الفرقة القومية العربية للموسيقى]]></Value>
      <Value Culture="en-us"><![CDATA[National Arab Music Ensemble]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble National Arabe de la Musique ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>