<?xml version="1.0" encoding="utf-8"?>
<Content Key="59e77f32-ac63-494d-a574-49846ee1e8da" Alias="الفرقة القومية العربية للموسيقى42166.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:42:07</CreateDate>
    <NodeName Default="الفرقة القومية العربية للموسيقى42166.8333333333">
      <Name Culture="ar-eg">الفرقة القومية العربية للموسيقى42166.8333333333</Name>
      <Name Culture="en-us">National Arab Music Ensemble42166.8333333333</Name>
      <Name Culture="fr">Ensemble National Arabe de la Musique42166.8333333333</Name>
    </NodeName>
    <SortOrder>1161</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"7f919419-37cd-41f9-9022-4914adcb75cd","mediaKey":"131e1b07-3874-4c32-b965-7a0579110909","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر: 75 -50 - 35


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Tickets Prices: 75 - 50 - 35


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Prix des tickets: 75 - 50 - 35


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"7f919419-37cd-41f9-9022-4914adcb75cd","mediaKey":"131e1b07-3874-4c32-b965-7a0579110909","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-06-11T20:00:00",
    "endDate": "2015-06-11T22:00:00",
    "location": "umb://document/0b3c6e108fe740d6951d5a07c1c4d392",
    "dayImage": "[{\"key\":\"7f919419-37cd-41f9-9022-4914adcb75cd\",\"mediaKey\":\"131e1b07-3874-4c32-b965-7a0579110909\",\"crops\":null,\"focalPoint\":null}]",
    "key": "55ee991a-b2de-454a-a92f-068406171923"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[الفرقة القومية العربية للموسيقى]]></Value>
      <Value Culture="en-us"><![CDATA[National Arab Music Ensemble]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble National Arabe de la Musique]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>