<?xml version="1.0" encoding="utf-8"?>
<Content Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b" Alias="الحفلات" Level="2">
  <Info>
    <Parent Key="35721a12-bf72-4106-9d06-896cf1c689dc">الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>eventList</ContentType>
    <CreateDate>2023-08-04T18:03:53</CreateDate>
    <NodeName Default="الحفلات">
      <Name Culture="ar-eg">الحفلات</Name>
      <Name Culture="en-us">Calendar</Name>
      <Name Culture="fr">Calendar</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="47d8fbea-5f75-4388-9136-bf5d658241ef">EventList</Template>
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <imagePageHeader>
      <Value><![CDATA[[]]]></Value>
    </imagePageHeader>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>