<?xml version="1.0" encoding="utf-8"?>
<Content Key="d137cefd-3acc-4ee1-ac83-ae3650674130" Alias="اوبرا &quot;التروفاتورى&quot;- فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42141.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:08</CreateDate>
    <NodeName Default="اوبرا &quot;التروفاتورى&quot;- فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42141.8333333333">
      <Name Culture="ar-eg">اوبرا "التروفاتورى"- فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42141.8333333333</Name>
      <Name Culture="en-us">Opera "Il Trovatore" - Cairo Opera Company, Cairo Opera Orchestra42141.8333333333</Name>
      <Name Culture="fr">"Il Trovatore" Opéra – Compagnie de l'Opéra du Caire, Orchestre de l'Opéra du Caire42141.8333333333</Name>
    </NodeName>
    <SortOrder>937</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"36baa802-3e43-4894-b63d-320c1b1d74b0","mediaKey":"ff58e20f-f696-4d55-85fa-0ddf75f69c3c","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أوبرا التروفاتورى
&nbsp;

فيردى

فرقة أوبرا القاهرة

أوركسترا أوبرا القاهرة

كورال أوبرا القاهرة

تصميم ديكور: محمد عبد الرازق

أستاذ كورال : الدو مانياتو

قيادة : ديفيد كريشنزى

إخراج : هشام الطلى

أسعار التذاكر: 100-75-50-


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


IL Trovatore

Verdi&#39;s

Cairo Opera Company

Cairo Opera Orchestra

Cairo Opera Choir

Set Design:Mohamed Abdel Razik

Choir Master:Aldo Magnato ]

Conductor: David Crescenzi

Director :Hisham El Taly

Tickets Price : 100-75-50


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&quot;Il Trovatore&quot; Op&eacute;ra de Verdi

&nbsp;

Compagnie de l&#39;Op&eacute;ra du Caire

&nbsp;Orchestre de l&#39;Op&eacute;ra du Caire

Ch&oelig;ur de l&#39;Op&eacute;ra du Caire

&nbsp;D&eacute;cors: Mohamed Abdel Razik
&nbsp;Chef de ch&oelig;ur: Aldo Magnato
Chef d&rsquo;orchestre: David Crescenzi
Metteur en sc&egrave;ne: Hisham El Tally

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"36baa802-3e43-4894-b63d-320c1b1d74b0","mediaKey":"ff58e20f-f696-4d55-85fa-0ddf75f69c3c","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-05-17T20:00:00",
    "endDate": "2015-05-17T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"36baa802-3e43-4894-b63d-320c1b1d74b0\",\"mediaKey\":\"ff58e20f-f696-4d55-85fa-0ddf75f69c3c\",\"crops\":null,\"focalPoint\":null}]",
    "key": "5f4e9008-fbd5-4229-9d7e-bfb03337dd28"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[اوبرا "التروفاتورى"- فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة]]></Value>
      <Value Culture="en-us"><![CDATA[Opera "Il Trovatore" - Cairo Opera Company, Cairo Opera Orchestra]]></Value>
      <Value Culture="fr"><![CDATA["Il Trovatore" Opéra – Compagnie de l'Opéra du Caire, Orchestre de l'Opéra du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>