<?xml version="1.0" encoding="utf-8"?>
<Content Key="19253ca2-8ee5-486c-83b8-5b6b5921d674" Alias="اوركسترا القاهرة السيمفونى42462.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:45:01</CreateDate>
    <NodeName Default="اوركسترا القاهرة السيمفونى42462.8333333333">
      <Name Culture="ar-eg">اوركسترا القاهرة السيمفونى42462.8333333333</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra42462.8333333333</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire 42462.8333333333</Name>
    </NodeName>
    <SortOrder>1781</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"f1ff35d3-4eb9-4740-8000-173521177145","mediaKey":"8a88f331-7214-49f8-a3c6-8b9c84e5de52","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


فى شكل كونسير

فريدريك هاندل: يوليوس قيصر فى مصر

صوليست: كاميلا إليبورج،كليوباترا

نيكولاس سبانوس، يوليوس قيصر

دافيد جيانـجريجوريو، أكيلا

روبين بلازى، تولوميو

بنديتا ماتسوكاتو، كورنيليا

أمينة خيرت، سيستو

&nbsp;

كورال أكابيلا

أستاذ كورال: مايا جفينيريا

قيادة: أحمد الصعيدى

أسعار التذاكر:50-35-25


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Concert Performance

F. Handel: Giulio Cesare in Egitto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

Soloists: Camilla Illeborg, Cleopatra

&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nicholas Spanos, Giulio Cesare

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Davide Giangregorio, Achilla

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Robin Blaze, Tolomeo

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benedetta Mazzucato, Cornelia

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amina Khairat, Sesto

&nbsp;

A Cappella Choir&nbsp;

Choir Master: Maya Gvineria

&nbsp;

Conductor: Ahmed El Saedi&nbsp;

Tickets Prices : 50-35-25

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Concert de Spectacle

F. Handel: Giulio Cesare in Egitto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

Solistes: Camilla Illeborg, Cleopatra

&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nicholas Spanos, Giulio Cesare

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Davide Giangregorio, Achilla

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Robin Blaze, Tolomeo

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benedetta Mazzucato, Cornelia

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amina Khairat, Sesto

&nbsp;

Ch&oelig;ur d&rsquo;A Cappella

Chef de ch&oelig;ur: Maya Gvineria

Chef d&rsquo;orchestre: Ahmed El Saedi&nbsp;

Prix du ticket: 50-35-25


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"f1ff35d3-4eb9-4740-8000-173521177145","mediaKey":"8a88f331-7214-49f8-a3c6-8b9c84e5de52","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-04-02T20:00:00",
    "endDate": "2016-04-02T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"f1ff35d3-4eb9-4740-8000-173521177145\",\"mediaKey\":\"8a88f331-7214-49f8-a3c6-8b9c84e5de52\",\"crops\":null,\"focalPoint\":null}]",
    "key": "fcb5274d-9519-486e-921e-b41187f7cd5c"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[اوركسترا القاهرة السيمفونى]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>