<?xml version="1.0" encoding="utf-8"?>
<Content Key="c02616ed-8b07-40a3-ad92-11bad515c72f" Alias="اوركسترا القاهرة السيمفونى42093.9583333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:22</CreateDate>
    <NodeName Default="اوركسترا القاهرة السيمفونى42093.9583333333">
      <Name Culture="ar-eg">اوركسترا القاهرة السيمفونى42093.9583333333</Name>
      <Name Culture="en-us">Cairo Symphony Orchestra42093.9583333333</Name>
      <Name Culture="fr">Orchestre Symphonique du Caire 42093.9583333333</Name>
    </NodeName>
    <SortOrder>1425</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"e77b76a2-675e-4668-8b01-9074cda49238","mediaKey":"0c9097d5-f316-4b4c-a118-eb7b221874f4","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


حفلات المدارس (3)

يوهان شتراس الابن:&nbsp;&nbsp; افتتاحية الخفاش

&nbsp;(١٨٢٥ / ١٨٩٩)&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;بولكا آنا - بولكا فرنسية، مصنف ١١٧

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; بولكا سريعة ـ قطار السعادة، مصنف ٢٨١

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; فالس قصص من غابات فيينا، مصنف ٣٢٥

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; بولكا تريش تراش - بولكا سريعة، مصنف ٢١٤

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; فالس التعاجل، مصنف ٢٣٤

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الحركة الأبدية، مصنف ٢٥٧

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; فالس الإمبراطور، مصنف ٤٣٧

&nbsp;

قيادة: هشام جبر

أسعار التذاكر: 10


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


School Concerts III

Waltzes, Dances and Co.

Program

Johann Strauss II:&nbsp; Fledermaus Overture

(1825 &ndash; 1899)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Overture to The Bat)

&nbsp;


	Annen Polka, Op. 117


(Anna&rsquo;s Polka, Op. 117)


	Vergnugunzug, Polka-schnell, Op. 281


(Pleasure Train quick-polka, Op. 281)

&nbsp;


	Geschichten aus dem Wienerwald Walzer, Op. 325


(Tales from the Vienna Wood, waltz, Op. 325)

&nbsp;


	Trish-Trash-Polka, Op. 214


&nbsp;


	Accelerationen Walzer, Op. 234


(Accelerations waltz, Op. 234)

&nbsp;


	Perpetuum mobile, Op. 257


(Perpetual motion, Op. 257)

&nbsp;


	Kaiser Walzer, Op. 437


(Emperor Waltz, Op. 437)

&nbsp;

Conductor: Hisham Gabr

&nbsp;

Tickets Price:10

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


School Concerts III

Valses, Danses 

Programme

Johann Strauss II:&nbsp;&nbsp; Fledermaus Overture

(1825 &ndash; 1899)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Overture to The Bat)

&nbsp;


	Annen Polka, Op. 117


(Anna&rsquo;s Polka, Op. 117)

&nbsp;


	Vergnugunzug, Polka-schnell, Op. 281


(Pleasure Train quick-polka, Op. 281)

&nbsp;


	Geschichten aus dem Wienerwald Walzer, Op. 325


(Tales from the Vienna Wood, waltz, Op. 325)

&nbsp;


	Trish-Trash-Polka, Op. 214


&nbsp;


	Accelerationen Walzer, Op. 234


(Accelerations waltz, Op. 234)

&nbsp;


	Perpetuum mobile, Op. 257


(Perpetual motion, Op. 257)

&nbsp;


	Kaiser Walzer, Op. 437


(Emperor Waltz, Op. 437)

&nbsp;

Chef d&rsquo;orchestre: Hisham Gabr

&nbsp;

Prix du ticket: 10

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"e77b76a2-675e-4668-8b01-9074cda49238","mediaKey":"0c9097d5-f316-4b4c-a118-eb7b221874f4","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-03-30T23:00:00",
    "endDate": "2015-03-30T13:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "dayImage": "[{\"key\":\"e77b76a2-675e-4668-8b01-9074cda49238\",\"mediaKey\":\"0c9097d5-f316-4b4c-a118-eb7b221874f4\",\"crops\":null,\"focalPoint\":null}]",
    "key": "14f0c254-d96c-473e-a78d-895cada612e5"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[اوركسترا القاهرة السيمفونى]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Symphony Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Orchestre Symphonique du Caire ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>