<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7803816-a793-4961-b1ff-d00cc2ff406b" Alias=" باليه &quot;روميو و جولييت&quot; - فرقة باليه اوبرا القاهرة، اوركسترا اوبرا القاهرة41792.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:25</CreateDate>
    <NodeName Default=" باليه &quot;روميو و جولييت&quot; - فرقة باليه اوبرا القاهرة، اوركسترا اوبرا القاهرة41792.8333333333">
      <Name Culture="ar-eg"> باليه "روميو و جولييت" - فرقة باليه اوبرا القاهرة، اوركسترا اوبرا القاهرة41792.8333333333</Name>
      <Name Culture="en-us">"Romeo &amp; Juliet" Ballet - Cairo Opera Ballet Company, Cairo Opera Orchestra41792.8333333333</Name>
      <Name Culture="fr">"Roméo et Juliette" Ballet - La Compagnie de l'Opera du Caire, l'Orchestre de l'Opera du Caire41792.8333333333</Name>
    </NodeName>
    <SortOrder>314</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-06-02T20:00:00",
    "endDate": "2014-06-02T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "key": "587d4ad2-dc84-491c-800c-79891338f22d"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[ باليه "روميو و جولييت" - فرقة باليه اوبرا القاهرة، اوركسترا اوبرا القاهرة]]></Value>
      <Value Culture="en-us"><![CDATA["Romeo & Juliet" Ballet - Cairo Opera Ballet Company, Cairo Opera Orchestra]]></Value>
      <Value Culture="fr"><![CDATA["Roméo et Juliette" Ballet - La Compagnie de l'Opera du Caire, l'Orchestre de l'Opera du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>