<?xml version="1.0" encoding="utf-8"?>
<Content Key="9552dff4-0779-4a6c-a7ba-427749f80442" Alias="جالا كونسرت - فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42049.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:59</CreateDate>
    <NodeName Default="جالا كونسرت - فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42049.8333333333">
      <Name Culture="ar-eg">جالا كونسرت - فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة42049.8333333333</Name>
      <Name Culture="en-us">Gala Concert - Cairo Opera Company, Cairo Opera Orchestra42049.8333333333</Name>
      <Name Culture="fr">Concert de Gala - Compagnie de l'Opéra du Caire, Orchestre de l'Opéra du Caire42049.8333333333</Name>
    </NodeName>
    <SortOrder>1130</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"ec787e7c-547c-41cf-a3e0-dbf18849e02f","mediaKey":"8b814efd-a80b-4c2a-8fd1-0f2f361721e7","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


فرقة أوبرا القاهرة&nbsp;

مؤلفات مصرية

بيانو: ميديا أورموتسادزى

إخراج: شريف رمضان


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Cairo Opera Company

Egyptian Compositions&nbsp;

Piano:&nbsp;Medea Ormotsadze

Director:&nbsp;Sherif Ramadan


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Compositions &eacute;gyptiennes

&nbsp;

piano&nbsp;: Medea Ormotsadze

metteur en sc&egrave;ne&nbsp;: Sherif Ramadan


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"ec787e7c-547c-41cf-a3e0-dbf18849e02f","mediaKey":"8b814efd-a80b-4c2a-8fd1-0f2f361721e7","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-02-14T20:00:00",
    "endDate": "2015-02-14T22:00:00",
    "location": "umb://document/0b3c6e108fe740d6951d5a07c1c4d392",
    "dayImage": "[{\"key\":\"ec787e7c-547c-41cf-a3e0-dbf18849e02f\",\"mediaKey\":\"8b814efd-a80b-4c2a-8fd1-0f2f361721e7\",\"crops\":null,\"focalPoint\":null}]",
    "key": "9255dd4b-1bb1-4866-b61b-45f3b8b4ed26"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[جالا كونسرت - فرقة اوبرا القاهرة - اوركسترا اوبرا القاهرة]]></Value>
      <Value Culture="en-us"><![CDATA[Gala Concert - Cairo Opera Company, Cairo Opera Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Concert de Gala - Compagnie de l'Opéra du Caire, Orchestre de l'Opéra du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>