<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4df2b6e-4a27-4934-8217-82b940dbced9" Alias="حفل أوركسترا عمر خيرت 42507.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:45:09</CreateDate>
    <NodeName Default="حفل أوركسترا عمر خيرت 42507.8333333333">
      <Name Culture="ar-eg">حفل أوركسترا عمر خيرت 42507.8333333333</Name>
      <Name Culture="en-us">Omar Khairat Orchestra42507.8333333333</Name>
      <Name Culture="fr">Concert d'Orchestre "Omar Khairat"42507.8333333333</Name>
    </NodeName>
    <SortOrder>1808</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"58b0454e-10ce-4eb4-8642-983818aa5d03","mediaKey":"9901ebb2-ec28-442d-a2fd-12067e115564","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر:300-250-150 


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


&nbsp;Tickets Prices:300-250-150

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Prix du ticket:300-250-150


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"58b0454e-10ce-4eb4-8642-983818aa5d03","mediaKey":"9901ebb2-ec28-442d-a2fd-12067e115564","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-05-17T20:00:00",
    "endDate": "2016-05-17T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"58b0454e-10ce-4eb4-8642-983818aa5d03\",\"mediaKey\":\"9901ebb2-ec28-442d-a2fd-12067e115564\",\"crops\":null,\"focalPoint\":null}]",
    "key": "f96f646b-db45-471d-b25b-5b3bd091fa1f"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل أوركسترا عمر خيرت ]]></Value>
      <Value Culture="en-us"><![CDATA[Omar Khairat Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Concert d'Orchestre "Omar Khairat"]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>