<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e255869-3517-48a0-817d-065dd898cf86" Alias="حفل &quot;العندليب الأسمر&quot;42460.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:45:00</CreateDate>
    <NodeName Default="حفل &quot;العندليب الأسمر&quot;42460.8333333333">
      <Name Culture="ar-eg">حفل "العندليب الأسمر"42460.8333333333</Name>
      <Name Culture="en-us">“El Andalib El Asmar” Concert 42460.8333333333</Name>
      <Name Culture="fr">Concert "El Andalib El Asmar"42460.8333333333</Name>
    </NodeName>
    <SortOrder>1775</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


قيادة: محمد إسماعيل الموجى

فاصل مع الفنان محمد ثروت 

فاصل مع نجوم الأوبرا للغناء : 

إبراهيم الحفناوى - ممحمد متولى- أحمد عفت 

أسعار التذاكر:150-100-75


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Conductor: Mohamed Ismaeil El Mogy

Part 1:

Mohamed Sarwat

Part 2 With Cairo Opera Starrs:

Ibrahim El Hefnawy - Mohamed Metwally - Ahmed Effet

Tickets Prices:150-100-75


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Chef d&rsquo;ensemble: Dr. Mohamed Isma&iuml;l El Moogy

&nbsp;

Le grand chanteur Mohamed Sarwat

et

avec les chanteurs

Ibrahim El Hefnawy - Mohamed Metwally - Ahmed Effat

&nbsp;

&nbsp;

Prix du ticket:150-100-75


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-03-31T20:00:00",
    "endDate": "2016-03-31T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "key": "cccc18e9-4704-4371-89ae-a8f0d3f7c4f5"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل "العندليب الأسمر"]]></Value>
      <Value Culture="en-us"><![CDATA[“El Andalib El Asmar” Concert ]]></Value>
      <Value Culture="fr"><![CDATA[Concert "El Andalib El Asmar"]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>