<?xml version="1.0" encoding="utf-8"?>
<Content Key="afafa454-4510-4bc0-9bd0-f4080a6ab523" Alias="حفل موسيقى جاز &quot;ويف&quot; 42040.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:48</CreateDate>
    <NodeName Default="حفل موسيقى جاز &quot;ويف&quot; 42040.8333333333">
      <Name Culture="ar-eg">حفل موسيقى جاز "ويف" 42040.8333333333</Name>
      <Name Culture="en-us">Wave Jazz Band 42040.8333333333</Name>
      <Name Culture="fr">Concert de Musique de Jazz "Wave"42040.8333333333</Name>
    </NodeName>
    <SortOrder>1513</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"5ae8101d-22a5-47aa-9d9f-15b4dcedcf54","mediaKey":"2a4a65ae-cfe9-414b-afa6-4435686620bd","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


كلود بولينج: متتالية للفلوت وثلاثى الجاز&nbsp;

إيناس عبد الدايم (فلوت)

محمد صالح (بيانو)

هشام كمال (درامز)

شريف عليان (كونترباص)

&nbsp;

ويف جاز باند&nbsp;

ألهامى أمين (غناء)

طارق رؤوف (ترومبيت)

هشام جلال (بيانو)

هانى الازهرى (درامز)

شريف عليان (كونترباص)


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Claude Bolling: Suite for Flute &amp; Jazz Trio&nbsp;

In&egrave;s Abdel Da&iuml;m (Flute)

Mohamed Saleh (Piano)

Hisham Kamal (Drums)

Sherif Elian (Double Bass)

&nbsp;

Wave Jazz Band&nbsp;

Elhamy Amin (Singer)

Tarek Raouf (Trumpet)

Hisham Galal (Piano)

Hany El Azhary (Drums)

Sherif Elian (Double Bass)

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Claude Bolling: Suite for Flute &amp; Jazz Trio

&nbsp;

In&egrave;s Abdel Da&iuml;m (flute)

Mohamed Saleh (piano)

Hisham Kamal (batterie)&nbsp;

Sherif Elian (contrebasse)

&nbsp;

Wave Jazz Band&nbsp;

Elhamy Amin (chanteur)

Tarek Raouf (trompette)&nbsp;

Hisham Galal (piano)

Hany El Azhary (batterie)&nbsp;

Sherif Elian (contrebasse)


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"5ae8101d-22a5-47aa-9d9f-15b4dcedcf54","mediaKey":"2a4a65ae-cfe9-414b-afa6-4435686620bd","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-02-05T20:00:00",
    "endDate": "2015-02-05T22:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"5ae8101d-22a5-47aa-9d9f-15b4dcedcf54\",\"mediaKey\":\"2a4a65ae-cfe9-414b-afa6-4435686620bd\",\"crops\":null,\"focalPoint\":null}]",
    "key": "d5c857b2-2e67-436c-87b4-0115f61c6a22"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل موسيقى جاز "ويف" ]]></Value>
      <Value Culture="en-us"><![CDATA[Wave Jazz Band ]]></Value>
      <Value Culture="fr"><![CDATA[Concert de Musique de Jazz "Wave"]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>