<?xml version="1.0" encoding="utf-8"?>
<Content Key="92030672-8681-4ba4-ae63-3937a1e967c7" Alias="حفل موسيقى - عباس أبو الكيلك - بالتعاون مع العلاقات الثقافية الخارجية  (السودان) 41900.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:48</CreateDate>
    <NodeName Default="حفل موسيقى - عباس أبو الكيلك - بالتعاون مع العلاقات الثقافية الخارجية  (السودان) 41900.8333333333">
      <Name Culture="ar-eg">حفل موسيقى - عباس أبو الكيلك - بالتعاون مع العلاقات الثقافية الخارجية  (السودان) 41900.8333333333</Name>
      <Name Culture="en-us">Music Concert - Abas Abu El Kaleak41900.8333333333</Name>
      <Name Culture="fr">Concert Musical - Abas Abu El Kaleak " Sudan"41900.8333333333</Name>
    </NodeName>
    <SortOrder>1089</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


حفل الموسيقى السودانية - فيولينه، صولو جيتار وبيانو

تأليف موسيقى: عباس أبو الكيلك

بمشاركة عازفين من أوركسترا القاهرة السيمفونى

&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Acoustic Sudanese Music

Violin, Solo Guitar &amp; Piano

Composed by Abas&nbsp;Abu El Kaleak

With the participation of musicians from the Cairo Symphony Orchestra

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Musique acoustique soudanaise

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Violon, Guitare Solo et Piano

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Des compositions de Abas Abu El Kaleak avec la participation des musiciens de l&rsquo;Orchestre Symphonique du Caire


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-09-18T20:00:00",
    "endDate": "2014-09-18T22:00:00",
    "location": "umb://document/0b3c6e108fe740d6951d5a07c1c4d392",
    "key": "f34338ab-357f-4a30-abe7-8fb4816a8bcd"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل موسيقى - عباس أبو الكيلك - بالتعاون مع العلاقات الثقافية الخارجية  (السودان) ]]></Value>
      <Value Culture="en-us"><![CDATA[Music Concert - Abas Abu El Kaleak]]></Value>
      <Value Culture="fr"><![CDATA[Concert Musical - Abas Abu El Kaleak " Sudan"]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>