<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee35995a-feb1-4ef1-ad07-a2f44e9d1722" Alias="حفل مؤلفات احمد عاطف41774.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:39:39</CreateDate>
    <NodeName Default="حفل مؤلفات احمد عاطف41774.8333333333">
      <Name Culture="ar-eg">حفل مؤلفات احمد عاطف41774.8333333333</Name>
      <Name Culture="en-us">Ahmed Atef Compositions Concert 41774.8333333333</Name>
      <Name Culture="fr">Concert des compositions d'Ahmed Atef41774.8333333333</Name>
    </NodeName>
    <SortOrder>602</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"c7671379-bbf5-4e81-9d10-98e8540336d4","mediaKey":"006b4fa4-7f51-4349-b3a8-582a5e196859","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	

&nbsp;

]]></Value>
      <Value Culture="en-us"><![CDATA[

	

&nbsp;

]]></Value>
      <Value Culture="fr"><![CDATA[

	

&nbsp;

]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"c7671379-bbf5-4e81-9d10-98e8540336d4","mediaKey":"006b4fa4-7f51-4349-b3a8-582a5e196859","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-05-15T20:00:00",
    "endDate": "2014-05-15T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "dayImage": "[{\"key\":\"c7671379-bbf5-4e81-9d10-98e8540336d4\",\"mediaKey\":\"006b4fa4-7f51-4349-b3a8-582a5e196859\",\"crops\":null,\"focalPoint\":null}]",
    "key": "3a18669d-3d4a-4502-99d5-f7b7841a52e5"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل مؤلفات احمد عاطف]]></Value>
      <Value Culture="en-us"><![CDATA[Ahmed Atef Compositions Concert ]]></Value>
      <Value Culture="fr"><![CDATA[Concert des compositions d'Ahmed Atef]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>