<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6572ee1-182c-42d5-8307-858405524d07" Alias="حفل اوركسترا عمر خيرت41715.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:12</CreateDate>
    <NodeName Default="حفل اوركسترا عمر خيرت41715.8333333333">
      <Name Culture="ar-eg">حفل اوركسترا عمر خيرت41715.8333333333</Name>
      <Name Culture="en-us">Omar Khairat Orchestra41715.8333333333</Name>
      <Name Culture="fr">Concert de "Omar Khairat" Orchestre41715.8333333333</Name>
    </NodeName>
    <SortOrder>264</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"c2ab8aac-f6ff-467a-8958-5b943da9e46e","mediaKey":"5f69875a-c72c-46bb-99a3-c006e7650d74","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	

&nbsp;

]]></Value>
      <Value Culture="en-us"><![CDATA[

	

&nbsp;

]]></Value>
      <Value Culture="fr"><![CDATA[

	

&nbsp;

]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"c2ab8aac-f6ff-467a-8958-5b943da9e46e","mediaKey":"5f69875a-c72c-46bb-99a3-c006e7650d74","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-03-17T20:00:00",
    "endDate": "2014-03-17T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"c2ab8aac-f6ff-467a-8958-5b943da9e46e\",\"mediaKey\":\"5f69875a-c72c-46bb-99a3-c006e7650d74\",\"crops\":null,\"focalPoint\":null}]",
    "key": "77aaaabf-9d21-46cd-b5b1-d31319be3935"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل اوركسترا عمر خيرت]]></Value>
      <Value Culture="en-us"><![CDATA[Omar Khairat Orchestra]]></Value>
      <Value Culture="fr"><![CDATA[Concert de "Omar Khairat" Orchestre]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>