<?xml version="1.0" encoding="utf-8"?>
<Content Key="218aa1c9-90ae-4970-9593-812de5f862d0" Alias="(حفل عيد الأسرة (رعاية العاملين بدار الأوبرا41721.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:40:04</CreateDate>
    <NodeName Default="(حفل عيد الأسرة (رعاية العاملين بدار الأوبرا41721.8333333333">
      <Name Culture="ar-eg">(حفل عيد الأسرة (رعاية العاملين بدار الأوبرا41721.8333333333</Name>
      <Name Culture="en-us">Family Day Celebration 41721.8333333333</Name>
      <Name Culture="fr">La Fête de la Famille41721.8333333333</Name>
    </NodeName>
    <SortOrder>703</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"fe0ce866-97ca-4b1b-8e81-8b23c357b107","mediaKey":"5027a962-bfe5-4ca4-a83b-0a5452df54b4","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"fe0ce866-97ca-4b1b-8e81-8b23c357b107","mediaKey":"5027a962-bfe5-4ca4-a83b-0a5452df54b4","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-03-23T20:00:00",
    "endDate": "2014-03-23T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "dayImage": "[{\"key\":\"fe0ce866-97ca-4b1b-8e81-8b23c357b107\",\"mediaKey\":\"5027a962-bfe5-4ca4-a83b-0a5452df54b4\",\"crops\":null,\"focalPoint\":null}]",
    "key": "0955d86a-9ba1-4bc7-b99d-677f02b5d738"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[(حفل عيد الأسرة (رعاية العاملين بدار الأوبرا]]></Value>
      <Value Culture="en-us"><![CDATA[Family Day Celebration ]]></Value>
      <Value Culture="fr"><![CDATA[La Fête de la Famille]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>