<?xml version="1.0" encoding="utf-8"?>
<Content Key="cede836f-c5b8-445b-b3c2-16f0f0b071f8" Alias="حفل مجموعة الهارب - منى واصف 42073.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:36</CreateDate>
    <NodeName Default="حفل مجموعة الهارب - منى واصف 42073.8333333333">
      <Name Culture="ar-eg">حفل مجموعة الهارب - منى واصف 42073.8333333333</Name>
      <Name Culture="en-us">Harp Ensemble - Mona Wassef 42073.8333333333</Name>
      <Name Culture="fr">Ensemble d' Harpe - Mona Wassef 42073.8333333333</Name>
    </NodeName>
    <SortOrder>1040</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر: 30


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Tickets Price:30


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Prix du ticket: 30


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-03-10T20:00:00",
    "endDate": "2015-03-10T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "key": "cab3cf98-ccdf-4847-8518-1e1aa660e598"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[حفل مجموعة الهارب - منى واصف ]]></Value>
      <Value Culture="en-us"><![CDATA[Harp Ensemble - Mona Wassef ]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble d' Harpe - Mona Wassef ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>