<?xml version="1.0" encoding="utf-8"?>
<Content Key="20c1b85e-4fd6-4239-9ccd-55559e25a9a9" Alias="ريسيتال فيولينه وهارب - ياسر الصيرفي - مني واصف42141.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:59</CreateDate>
    <NodeName Default="ريسيتال فيولينه وهارب - ياسر الصيرفي - مني واصف42141.8333333333">
      <Name Culture="ar-eg">ريسيتال فيولينه وهارب - ياسر الصيرفي - مني واصف42141.8333333333</Name>
      <Name Culture="en-us">Vioin &amp; Harp Recital - Yasser El Serafy - Mona wassef42141.8333333333</Name>
      <Name Culture="fr">Recital de Violon et Harpe - Yasser El Serafy - Mona Wassef42141.8333333333</Name>
    </NodeName>
    <SortOrder>1550</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


من أعمال سان صانص - شوبان - ساراسات - ديبوسى - دى فايا - بياتسولا وغيرهم

أسعار التذاكر: 25


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


works by Saint-Sa&euml;ns - Chopin - Sarasate - Debussy - De Falla - Piazzolla and others

Tickets Prices: 25&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Compositions de Saint-Sa&euml;ns, Chopin, Sarasate, Debussy, De Falla, Piazzolla et d&rsquo;autre

&nbsp;

Prix de ticket: 25 L.E.


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-05-17T20:00:00",
    "endDate": "2015-05-17T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "key": "8045e5f0-cb21-452c-b607-d74eac70ec51"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[ريسيتال فيولينه وهارب - ياسر الصيرفي - مني واصف]]></Value>
      <Value Culture="en-us"><![CDATA[Vioin & Harp Recital - Yasser El Serafy - Mona wassef]]></Value>
      <Value Culture="fr"><![CDATA[Recital de Violon et Harpe - Yasser El Serafy - Mona Wassef]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>