<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e8eeacb-8b17-4f81-97a4-32f787df85cb" Alias="ريسيتال تشيللو وبيانو - ميريت حنا41756.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:37:24</CreateDate>
    <NodeName Default="ريسيتال تشيللو وبيانو - ميريت حنا41756.8333333333">
      <Name Culture="ar-eg">ريسيتال تشيللو وبيانو - ميريت حنا41756.8333333333</Name>
      <Name Culture="en-us">Cello and Piano Recital - Mirette Hanna41756.8333333333</Name>
      <Name Culture="fr">Recital de Cello et Piano - Mirette Hanna41756.8333333333</Name>
    </NodeName>
    <SortOrder>79</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-04-27T20:00:00",
    "endDate": "2014-04-27T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "key": "8a3e2aff-a8fd-4e5c-a63d-1e006a1a7d4a"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[ريسيتال تشيللو وبيانو - ميريت حنا]]></Value>
      <Value Culture="en-us"><![CDATA[Cello and Piano Recital - Mirette Hanna]]></Value>
      <Value Culture="fr"><![CDATA[Recital de Cello et Piano - Mirette Hanna]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>