<?xml version="1.0" encoding="utf-8"?>
<Content Key="9389414a-ea09-4435-8564-05b52010703b" Alias="ريسيتال بيانو - طارق رفعت42362.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:45:31</CreateDate>
    <NodeName Default="ريسيتال بيانو - طارق رفعت42362.8333333333">
      <Name Culture="ar-eg">ريسيتال بيانو - طارق رفعت42362.8333333333</Name>
      <Name Culture="en-us">Piano Recital – Tarek Refaat42362.8333333333</Name>
      <Name Culture="fr">Récital de Piano - Tarek Refaat42362.8333333333</Name>
    </NodeName>
    <SortOrder>1893</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"f74fe0f1-d475-41dd-8c4b-04dc1b31634d","mediaKey":"2c4147be-914f-4305-bba7-f992e1717de5","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر: 35


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Tickets Prices: 35


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Prix du ticket: 35


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"f74fe0f1-d475-41dd-8c4b-04dc1b31634d","mediaKey":"2c4147be-914f-4305-bba7-f992e1717de5","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-12-24T20:00:00",
    "endDate": "2015-12-24T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "dayImage": "[{\"key\":\"f74fe0f1-d475-41dd-8c4b-04dc1b31634d\",\"mediaKey\":\"2c4147be-914f-4305-bba7-f992e1717de5\",\"crops\":null,\"focalPoint\":null}]",
    "key": "f21bccab-6c3d-4f7d-9164-f2aa56d81881"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[ريسيتال بيانو - طارق رفعت]]></Value>
      <Value Culture="en-us"><![CDATA[Piano Recital – Tarek Refaat]]></Value>
      <Value Culture="fr"><![CDATA[Récital de Piano - Tarek Refaat]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>