<?xml version="1.0" encoding="utf-8"?>
<Content Key="53840524-a97f-4860-9b8e-8d07278b601b" Alias="شرقيات فتحى سلامه42336.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:45:25</CreateDate>
    <NodeName Default="شرقيات فتحى سلامه42336.8333333333">
      <Name Culture="ar-eg">شرقيات فتحى سلامه42336.8333333333</Name>
      <Name Culture="en-us">Sharkiat – Fathi Salama42336.8333333333</Name>
      <Name Culture="fr">Sharkiat -  Fathy Salama42336.8333333333</Name>
    </NodeName>
    <SortOrder>1871</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"02e0063a-d39a-4fcf-9f3f-7537d0ec6beb","mediaKey":"2f03e852-6209-4b25-b5f0-1dc33a57170a","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"02e0063a-d39a-4fcf-9f3f-7537d0ec6beb","mediaKey":"2f03e852-6209-4b25-b5f0-1dc33a57170a","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-11-28T20:00:00",
    "endDate": "2015-11-28T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "dayImage": "[{\"key\":\"02e0063a-d39a-4fcf-9f3f-7537d0ec6beb\",\"mediaKey\":\"2f03e852-6209-4b25-b5f0-1dc33a57170a\",\"crops\":null,\"focalPoint\":null}]",
    "key": "b1275fb5-c407-4530-8207-033bec7ac340"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[شرقيات فتحى سلامه]]></Value>
      <Value Culture="en-us"><![CDATA[Sharkiat – Fathi Salama]]></Value>
      <Value Culture="fr"><![CDATA[Sharkiat -  Fathy Salama]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>