<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ee3e955-5c4d-488c-9225-a62253cbb018" Alias="صالون ثقافى41913.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:18</CreateDate>
    <NodeName Default="صالون ثقافى41913.8333333333">
      <Name Culture="ar-eg">صالون ثقافى41913.8333333333</Name>
      <Name Culture="en-us">Cultural Salon41913.8333333333</Name>
      <Name Culture="fr">Salon Culturel41913.8333333333</Name>
    </NodeName>
    <SortOrder>971</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


&nbsp;ادب الخيال العلمى

فى ذكرى رائد ادب الخيال العلمى&nbsp;

الكاتب الكبير: نهاد شريف&nbsp;

مع الاديب و الاعلامى :صلاح معاطى&nbsp;

الناقد :حمادة هزاع&nbsp;

الناقدة: د. عطيات ابو العنين&nbsp;

عرض فيلم :قاهر الزمن \ أول فيلم خيال علمى فى السينما المصرية&nbsp;

إخراج : كمال الشيخ&nbsp;

تأليف: نهاد شريف&nbsp;

يطولة : نور الشريف - جميل راتب&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Sciencefiction Literature

Commemorating the Egyptian Sciencefiction Novelist Nehad Sherif

with Slah Meaty (Writer)

Hamada Houzaa (Critic)

Atiat Abou El Enein (Critic)

Presenting the movie &quot;Time Conqueror&quot;/ first Egyptian sciencefiction movie

Director: Kamal El Sheikh&nbsp;

Writer: Nehad Sherif

Actors: Nour El Sherif - Gamil Rateb

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;

La litt&eacute;rature de la science-fiction

En comm&eacute;morant le pionnier de la litt&eacute;rature de la science-fiction

Le grand &eacute;crivain &eacute;gyptien Nehad Sherif


avec l&rsquo;&eacute;crivain et l&rsquo;homme de m&eacute;dia Salah Maati


et les critiques

&nbsp;&nbsp; Hamada Hazaa 

Dr. Atiat Abou El Enein

et
la projection du film &laquo;Vainqueur du temps&raquo;

(premier film de science-fiction dans le cin&eacute;ma arabe)

&nbsp;
R&eacute;alisateur: Kamal El Sheikh
&Eacute;crit par: Nehad Sherif
Acteurs: Nour El Sherif - Gamil Rateb

&nbsp;

Le Salon Culturel est anim&eacute; par Amine El Serafi

&nbsp;

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-10-01T20:00:00",
    "endDate": "2014-10-01T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "key": "5c700ab6-366f-46e4-903a-6489cd279fb3"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[صالون ثقافى]]></Value>
      <Value Culture="en-us"><![CDATA[Cultural Salon]]></Value>
      <Value Culture="fr"><![CDATA[Salon Culturel]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>