<?xml version="1.0" encoding="utf-8"?>
<Content Key="9792f0b2-adda-4954-9d15-10c8cac2ccf1" Alias="عرض &quot;مقهى اسبانى&quot; - فرقة Kafe pa 3 (أسبانيا) 42374.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///KafePa3423748333333333</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:46</CreateDate>
    <NodeName Default="عرض &quot;مقهى اسبانى&quot; - فرقة Kafe pa 3 (أسبانيا) 42374.8333333333">
      <Name Culture="ar-eg">عرض "مقهى اسبانى" - فرقة Kafe pa 3 (أسبانيا) 42374.8333333333</Name>
      <Name Culture="en-us">“Café Espagnol” Performance – Kafe pa 3 Company (Spain) 42374.8333333333</Name>
      <Name Culture="fr">Spectacle "Café Espagnol" - Ensemble Kafe pa 3  (Espagne) 42374.8333333333</Name>
    </NodeName>
    <SortOrder>1725</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


كافيه إسبانيول

حكاية المقهى الإسباني

من الشمال إلى الجنوب ومن الكاريبي إلى المتوسط

موسيقى ورقصات من كل بلاد العالم مثل الرومبا، فلامنكو، سامبا، تانجو والصلصا بمشاركة راقصون وعازفون مبدعون بالإضافة إلى الكورال

أسعار التذاكر 250-150-100


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Caf&eacute; Espa&ntilde;ol

The story of the Spanish caf&eacute; 

From the North to the South and from the Caribbean to the Mediterranean.

Songs, dances as well as diverse music genres like Rumba, Flamenco, Tango, Salsa and Samba with musicians, dancers and choir

Tickets Price: 250-150-100

&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


L&rsquo;histoire d&rsquo;un caf&eacute; espagnol

Du nord &agrave; l&rsquo;ouest et des Cara&iuml;bes &agrave; la M&eacute;diterran&eacute;e

Des chansons, danses de tout le monde comme Rumba, Flamenco, Tango, Salsa et Samba avec des musiciens, danseurs, danseuses avec l&rsquo;accompagnement du ch&oelig;ur

&nbsp;

Prix du ticket: 250 &ndash; 150 &ndash; 100


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2016-01-05T20:00:00",
    "endDate": "2016-01-05T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "key": "99ddf205-a883-4f95-ab14-59f8eb9e18ad"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[عرض "مقهى اسبانى" - فرقة Kafe pa 3 (أسبانيا) ]]></Value>
      <Value Culture="en-us"><![CDATA[“Café Espagnol” Performance – Kafe pa 3 Company (Spain) ]]></Value>
      <Value Culture="fr"><![CDATA[Spectacle "Café Espagnol" - Ensemble Kafe pa 3  (Espagne) ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>