<?xml version="1.0" encoding="utf-8"?>
<Content Key="b304dfa2-aeb2-4af0-bc39-2c11ce03e6fa" Alias="عرض &quot;المولد&quot;- فرقة فرسان الشرق للتراث42158.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:42:22</CreateDate>
    <NodeName Default="عرض &quot;المولد&quot;- فرقة فرسان الشرق للتراث42158.8333333333">
      <Name Culture="ar-eg">عرض "المولد"- فرقة فرسان الشرق للتراث42158.8333333333</Name>
      <Name Culture="en-us">"El Mouled" Perfomance Forsan El Shark Heritage Company42158.8333333333</Name>
      <Name Culture="fr">"El Mouled" - Compagnie Forsan El Charq d’Heritage42158.8333333333</Name>
    </NodeName>
    <SortOrder>1210</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"767eb902-1e7b-44f8-8b7c-d18d4d567fe1","mediaKey":"107ea9c0-3e99-4a9c-adec-1a70d91288ce","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


تصميم واخراج: طارق حسن

&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Choreographer &amp; Director: Tarek Hassan


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Chor&eacute;graphe et metteur en sc&egrave;ne: Tarek Hassan

&nbsp;

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"767eb902-1e7b-44f8-8b7c-d18d4d567fe1","mediaKey":"107ea9c0-3e99-4a9c-adec-1a70d91288ce","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-06-03T20:00:00",
    "endDate": "2015-06-03T22:00:00",
    "location": "umb://document/034665f7770149b1ac60c7fd4b329327",
    "dayImage": "[{\"key\":\"767eb902-1e7b-44f8-8b7c-d18d4d567fe1\",\"mediaKey\":\"107ea9c0-3e99-4a9c-adec-1a70d91288ce\",\"crops\":null,\"focalPoint\":null}]",
    "key": "5f9c3a4c-fa30-4b3e-83ec-cdb68abac414"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[عرض "المولد"- فرقة فرسان الشرق للتراث]]></Value>
      <Value Culture="en-us"><![CDATA["El Mouled" Perfomance Forsan El Shark Heritage Company]]></Value>
      <Value Culture="fr"><![CDATA["El Mouled" - Compagnie Forsan El Charq d’Heritage]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>