<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7a0cbea-3ef1-4600-97ab-f92cd643a739" Alias="فرقة عبد الحليم نويرة للموسيقى العربية42356.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:44:42</CreateDate>
    <NodeName Default="فرقة عبد الحليم نويرة للموسيقى العربية42356.8333333333">
      <Name Culture="ar-eg">فرقة عبد الحليم نويرة للموسيقى العربية42356.8333333333</Name>
      <Name Culture="en-us">Abdel Halim Nowera Ensemble for Arab Music42356.8333333333</Name>
      <Name Culture="fr">Ensemble Abdel Halim Noweira de Musique Arabe42356.8333333333</Name>
    </NodeName>
    <SortOrder>1711</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"4fd2f554-8e85-404f-b8b2-628049c36f78","mediaKey":"007252b6-9554-4365-9183-7823538b333b","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


مصر و المغرب ...تاريخ طويل من التواصل و المحبة

قيادة : صلاح غباشى

مشاركة خاصة من المغرب

عبد الوهاب الدكالى

سميرة سعيد

فؤاد زبادى

كريمة الصقلى

جنات

ابراهيم بركات

&nbsp;

مشاركة خاصة

هانى شاكر

غادة رجب

أسعار التذاكر: 100 - 75 - 50


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


&nbsp;Egypt and Morocco

Conductor : Salah Ghobashi

Morocoo

Abdel Wahab El Dokaly

Samira Saeed

Fouad Zabady

Ganat

Ibrahim Barakat

Egypt

Hany Shaker

Ghada Ragab

&nbsp;

Tickets Prices: 100 - 75 - 50


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Chef de l&rsquo;ensemble: Salah Ghobashi

avec la participation des chanteurs marocains

Abdel Wahab El Dokaly

Samira Sa&iuml;d

Fouad Zabady

Ganat

Ibrahim Barakat

&nbsp;

une participation sp&eacute;ciale de l&rsquo;&Eacute;gypte avec

Hani Shaker

Ghada Ragab

&nbsp;

Prix du ticket: 100 - 75 - 50


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"4fd2f554-8e85-404f-b8b2-628049c36f78","mediaKey":"007252b6-9554-4365-9183-7823538b333b","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-12-18T20:00:00",
    "endDate": "2015-12-18T22:00:00",
    "location": "umb://document/221dc377f8ed453a90b0ad0add70a951",
    "dayImage": "[{\"key\":\"4fd2f554-8e85-404f-b8b2-628049c36f78\",\"mediaKey\":\"007252b6-9554-4365-9183-7823538b333b\",\"crops\":null,\"focalPoint\":null}]",
    "key": "77989b97-13ad-47bf-90e0-2850ef307a33"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة عبد الحليم نويرة للموسيقى العربية]]></Value>
      <Value Culture="en-us"><![CDATA[Abdel Halim Nowera Ensemble for Arab Music]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble Abdel Halim Noweira de Musique Arabe]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>