<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f53feeb-0a15-478a-8869-d5bdefbbcaac" Alias="فرقة عبد الحليم نويره للموسيقى العربية41986.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:42:14</CreateDate>
    <NodeName Default="فرقة عبد الحليم نويره للموسيقى العربية41986.8333333333">
      <Name Culture="ar-eg">فرقة عبد الحليم نويره للموسيقى العربية41986.8333333333</Name>
      <Name Culture="en-us">Abdel Halim Nowera Ensemble for Arab Music41986.8333333333</Name>
      <Name Culture="fr">Ensemble Abdel Halim Noweira de Musique Arabe41986.8333333333</Name>
    </NodeName>
    <SortOrder>1184</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"e52bd1fc-ceab-4dc0-9cd5-2f92c531df7a","mediaKey":"86adc2d9-bb1f-436c-85a0-f16662cfdb10","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"e52bd1fc-ceab-4dc0-9cd5-2f92c531df7a","mediaKey":"86adc2d9-bb1f-436c-85a0-f16662cfdb10","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-12-13T20:00:00",
    "endDate": "2014-12-13T22:00:00",
    "location": "umb://document/034665f7770149b1ac60c7fd4b329327",
    "dayImage": "[{\"key\":\"e52bd1fc-ceab-4dc0-9cd5-2f92c531df7a\",\"mediaKey\":\"86adc2d9-bb1f-436c-85a0-f16662cfdb10\",\"crops\":null,\"focalPoint\":null}]",
    "key": "5f57b33a-8b23-4564-ba16-0f6fb93a6720"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة عبد الحليم نويره للموسيقى العربية]]></Value>
      <Value Culture="en-us"><![CDATA[Abdel Halim Nowera Ensemble for Arab Music]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble Abdel Halim Noweira de Musique Arabe]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>