<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e1da156-d10a-4e80-aa67-b49519848a13" Alias="فرقة فرسان الشرق للتراث - عرض &quot;ناعسة&quot;41603.7916666667" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:51</CreateDate>
    <NodeName Default="فرقة فرسان الشرق للتراث - عرض &quot;ناعسة&quot;41603.7916666667">
      <Name Culture="ar-eg">فرقة فرسان الشرق للتراث - عرض "ناعسة"41603.7916666667</Name>
      <Name Culture="en-us">"Na'ssa" Performance - Forsan El Sharq Company41603.7916666667</Name>
      <Name Culture="fr">" Na'ssa" Spectacle - Forsan El Sharque d'heritage Ensemble41603.7916666667</Name>
    </NodeName>
    <SortOrder>414</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"80519712-7af0-4a06-858c-f86cae140ecf","mediaKey":"712d0d4c-40e4-4926-960e-f67f779f22ca","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"80519712-7af0-4a06-858c-f86cae140ecf","mediaKey":"712d0d4c-40e4-4926-960e-f67f779f22ca","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2013-11-25T19:00:00",
    "endDate": "2013-11-25T21:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"80519712-7af0-4a06-858c-f86cae140ecf\",\"mediaKey\":\"712d0d4c-40e4-4926-960e-f67f779f22ca\",\"crops\":null,\"focalPoint\":null}]",
    "key": "ae6e71ee-7835-4be4-879f-3b5dc36f5512"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة فرسان الشرق للتراث - عرض "ناعسة"]]></Value>
      <Value Culture="en-us"><![CDATA["Na'ssa" Performance - Forsan El Sharq Company]]></Value>
      <Value Culture="fr"><![CDATA[" Na'ssa" Spectacle - Forsan El Sharque d'heritage Ensemble]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>