<?xml version="1.0" encoding="utf-8"?>
<Content Key="26ed3770-9606-41bd-932f-e41d846cc854" Alias="فرقة انغام الشرق - ابراهيم فاروق41943.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:27</CreateDate>
    <NodeName Default="فرقة انغام الشرق - ابراهيم فاروق41943.8333333333">
      <Name Culture="ar-eg">فرقة انغام الشرق - ابراهيم فاروق41943.8333333333</Name>
      <Name Culture="en-us">Angham El Shark Ensemble - Ibrahim Farouk41943.8333333333</Name>
      <Name Culture="fr">Ensemble Angham El Shark - Ibrahim Farouk41943.8333333333</Name>
    </NodeName>
    <SortOrder>1443</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"20ee9552-e19f-4e64-a2fe-4fb27b92649b","mediaKey":"4ea45623-0f72-42bb-802c-84d1ac0868db","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


فرقة انغام الشرق

باقة من روائع الغناء العربى

سيد مكاوى - محمد عبد الوهاب - أم كلثوم - محمد رشدى - محمد العزبى - محمد عبد المطلب - محمد قنديل - كارم محمود

صوليست: إبراهيم فاروق - مصطفى النجدى - أشرف زيدان - إيهاب ندا

اسعار التذاكر: 20


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Angham El Shark Ensemble

Selection from great Arab songs by Sayed Mekkawy - Mohamed Abdel Wahab - Om Kolthoum - Mohamed Roushdi - Mohamed El Ezaby - Mohamed Abdel Motteleb - Mohamed Kandeel - Karem Mahmoud

Soloists: Ibrahim Farouk - Moustafa El Nagdy - Ashraf Zeidan - Ihab Nada

Tickets Prices: 20


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Une s&eacute;lection des merveilleuses chansons arabes de Sayed Mekawy - Mohamed Abdel Wahab - Om Kolthoum - Mohamed Roushdi - Mohamed El Ezaby - Mohamed Abdel Moteleb - Mohamed Kandeel - Karem Mahmoud.

avec les chanteurs: Ibrahim Farouk - Moustafa El Nagdy - Ashraf Zeidan - Ihab Nada

&nbsp;

Prix du ticket: 20 L.E.


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"20ee9552-e19f-4e64-a2fe-4fb27b92649b","mediaKey":"4ea45623-0f72-42bb-802c-84d1ac0868db","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-10-31T20:00:00",
    "endDate": "2014-10-31T22:00:00",
    "location": "umb://document/6d4fb3d70e7544aa9c60bbf7577614a2",
    "dayImage": "[{\"key\":\"20ee9552-e19f-4e64-a2fe-4fb27b92649b\",\"mediaKey\":\"4ea45623-0f72-42bb-802c-84d1ac0868db\",\"crops\":null,\"focalPoint\":null}]",
    "key": "4967f9a6-ab2c-4ad0-9bed-844c95118b80"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة انغام الشرق - ابراهيم فاروق]]></Value>
      <Value Culture="en-us"><![CDATA[Angham El Shark Ensemble - Ibrahim Farouk]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble Angham El Shark - Ibrahim Farouk]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>