<?xml version="1.0" encoding="utf-8"?>
<Content Key="403d67a6-6850-4f77-9c04-331dd936cc3a" Alias="فرقة نجوم الطرب - مصطفى احمد42027.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:45</CreateDate>
    <NodeName Default="فرقة نجوم الطرب - مصطفى احمد42027.8333333333">
      <Name Culture="ar-eg">فرقة نجوم الطرب - مصطفى احمد42027.8333333333</Name>
      <Name Culture="en-us">Nogoum El Tarab Ensemble for Music &amp; Singing - Moustafa Ahmed42027.8333333333</Name>
      <Name Culture="fr">Ensemble Nogoum El Tarab de la Musique et du Chant  - Moustafa Ahmed42027.8333333333</Name>
    </NodeName>
    <SortOrder>1503</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"c2ec8fa6-7e3f-47c4-84d3-53a7d045cdb6","mediaKey":"f88a57fa-4c79-4d31-a73a-322b748c955b","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر : 20


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Tickets Price: 20


]]></Value>
      <Value Culture="fr"><![CDATA[

	


Prix du ticket: 20


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"c2ec8fa6-7e3f-47c4-84d3-53a7d045cdb6","mediaKey":"f88a57fa-4c79-4d31-a73a-322b748c955b","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-01-23T20:00:00",
    "endDate": "2015-01-23T22:00:00",
    "location": "umb://document/6d4fb3d70e7544aa9c60bbf7577614a2",
    "dayImage": "[{\"key\":\"c2ec8fa6-7e3f-47c4-84d3-53a7d045cdb6\",\"mediaKey\":\"f88a57fa-4c79-4d31-a73a-322b748c955b\",\"crops\":null,\"focalPoint\":null}]",
    "key": "b4707ee8-2fcc-4033-b6f6-7cf52142dac6"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة نجوم الطرب - مصطفى احمد]]></Value>
      <Value Culture="en-us"><![CDATA[Nogoum El Tarab Ensemble for Music & Singing - Moustafa Ahmed]]></Value>
      <Value Culture="fr"><![CDATA[Ensemble Nogoum El Tarab de la Musique et du Chant  - Moustafa Ahmed]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>