<?xml version="1.0" encoding="utf-8"?>
<Content Key="97629090-3871-4271-9896-de81e10aad3a" Alias="فرقة المولوية المصرية41907.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:49</CreateDate>
    <NodeName Default="فرقة المولوية المصرية41907.8333333333">
      <Name Culture="ar-eg">فرقة المولوية المصرية41907.8333333333</Name>
      <Name Culture="en-us">Egyptian Mawlawyiah Group41907.8333333333</Name>
      <Name Culture="fr">Compagnie Egyptienne Mawlaweya 41907.8333333333</Name>
    </NodeName>
    <SortOrder>1092</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


المولوية المصرية تأسست فى عام 1994 على يد منشدها ومنظرها الفكرى عامر التونى والتي حاول من خلالها طرح التراث المولوى المصري على الساحة العالمية ليؤكد للعالم أجمع أن مصر لها خصوصية تراثية بين الأمم مما يؤكد هويتها الثقافية.

اسعار التذاكر: 35 - 25

&nbsp;

&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


The Egyptian Mawlawiyah was established in 1994 by its singer Amer Eltony. He wanted to present the Egyptian heritage internationally to highlight the peculiarity of the Egyptian heritage and its cultural identity. 

Tickets Prices: 35 - 25


]]></Value>
      <Value Culture="fr"><![CDATA[

	


En 1994, la Compagnie Egyptienne Mawlaweya a &eacute;t&eacute; cr&eacute;&eacute;e par son chanteur de chant religieux Amer El Tony. Amer El Tony a voulu pr&eacute;senter le patrimoine de Mawlaweya &eacute;gyptien sur la sc&egrave;ne internationale pour mettre en &eacute;vidence la particularit&eacute; de l&#39;h&eacute;ritage &eacute;gyptien et son identit&eacute; culturelle.

Prix du ticket: 35 - 25


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-09-25T20:00:00",
    "endDate": "2014-09-25T22:00:00",
    "location": "umb://document/0b3c6e108fe740d6951d5a07c1c4d392",
    "key": "578aa7be-71aa-4471-bff8-f966c47cfab6"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فرقة المولوية المصرية]]></Value>
      <Value Culture="en-us"><![CDATA[Egyptian Mawlawyiah Group]]></Value>
      <Value Culture="fr"><![CDATA[Compagnie Egyptienne Mawlaweya ]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>