<?xml version="1.0" encoding="utf-8"?>
<Content Key="227dd1bf-70cf-4152-8875-893f9375d99b" Alias="فلامنكو &quot;ميريام مينديث&quot;  (أسبانيا)41927.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:41:50</CreateDate>
    <NodeName Default="فلامنكو &quot;ميريام مينديث&quot;  (أسبانيا)41927.8333333333">
      <Name Culture="ar-eg">فلامنكو "ميريام مينديث"  (أسبانيا)41927.8333333333</Name>
      <Name Culture="en-us">Flamenco - Miriam Méndez (Spain)41927.8333333333</Name>
      <Name Culture="fr">Flamenco - Miriam Méndez (Espagne)41927.8333333333</Name>
    </NodeName>
    <SortOrder>1098</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


ميريام مينديث، عازفة بيانو ومؤلفة

تقدم &quot;سحر الفلامنكو&quot;

حفل يضم عزف على البيانو وإيقاع وغناء ورقص. انه استعراض تتمتزج فيه الروح الشعبية والكلاسيكية والجاز والفلامنكو، إنها خلطة متفجرة تجعلنا نهتز لها جميعا. &nbsp;

اسعار التذاكر: 35 - 25 - 15&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


&nbsp;Miriam M&eacute;ndez (Piano, Composer)

&quot;Flamenco Emotions&quot;

A perfromance that includes piano playing, percussion, singing and dancing. A show where the folkloric and classical spirit, jazz and flamenco blend together.

Tickets Prices: 35 - 25 - 15


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;Miriam M&eacute;ndez (Piano, Compositeur)

&quot;&Eacute;motions de Flamenco&quot;

Un concert qui comprend du piano, percussions, chant et danse. Un spectacle o&ugrave; le folklore et l&#39;esprit classique, jazz et flamenco se m&ecirc;lent.

Prix du ticket: 35 - 25 - 15 L.E.


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-10-15T20:00:00",
    "endDate": "2014-10-15T22:00:00",
    "location": "umb://document/0b3c6e108fe740d6951d5a07c1c4d392",
    "key": "85169315-2802-4ce9-b8a1-eb276db9aa89"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[فلامنكو "ميريام مينديث"  (أسبانيا)]]></Value>
      <Value Culture="en-us"><![CDATA[Flamenco - Miriam Méndez (Spain)]]></Value>
      <Value Culture="fr"><![CDATA[Flamenco - Miriam Méndez (Espagne)]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>