<?xml version="1.0" encoding="utf-8"?>
<Content Key="18389678-78b1-4a6d-9c8d-1b2e7ae5efaf" Alias="كلثوميات41546.7921064815" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:37:08</CreateDate>
    <NodeName Default="كلثوميات41546.7921064815">
      <Name Culture="ar-eg">كلثوميات41546.7921064815</Name>
      <Name Culture="en-us">Kolthomiat41546.7921064815</Name>
      <Name Culture="fr">Kolthomiat41546.7921064815</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"61f8dc5f-e2b5-45a2-bb40-5f7305314fee","mediaKey":"e64f9862-45d5-4fa4-bf9b-5b66df70ff82","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"61f8dc5f-e2b5-45a2-bb40-5f7305314fee","mediaKey":"e64f9862-45d5-4fa4-bf9b-5b66df70ff82","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2013-09-29T19:00:38",
    "endDate": "2013-09-29T21:00:55",
    "location": "umb://document/6d4fb3d70e7544aa9c60bbf7577614a2",
    "dayImage": "[{\"key\":\"61f8dc5f-e2b5-45a2-bb40-5f7305314fee\",\"mediaKey\":\"e64f9862-45d5-4fa4-bf9b-5b66df70ff82\",\"crops\":null,\"focalPoint\":null}]",
    "key": "ff2f9f69-169c-443b-a890-ca15db20d571"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[كلثوميات]]></Value>
      <Value Culture="en-us"><![CDATA[Kolthomiat]]></Value>
      <Value Culture="fr"><![CDATA[Kolthomiat]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>