<?xml version="1.0" encoding="utf-8"?>
<Content Key="65fd44cb-c93a-4de6-bdab-dcc7cda72cbd" Alias="كورال أطفال الاوبرا41727.75" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:40:05</CreateDate>
    <NodeName Default="كورال أطفال الاوبرا41727.75">
      <Name Culture="ar-eg">كورال أطفال الاوبرا41727.75</Name>
      <Name Culture="en-us">Cairo Opera Children Choir41727.75</Name>
      <Name Culture="fr">Les Choeurs des Enfants de  l'Opera du Caire41727.75</Name>
    </NodeName>
    <SortOrder>707</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"eb3dd24f-b9b5-42a5-96d8-220ba88f464f","mediaKey":"9f382860-b62c-4319-b80e-bfbd234a1f89","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"eb3dd24f-b9b5-42a5-96d8-220ba88f464f","mediaKey":"9f382860-b62c-4319-b80e-bfbd234a1f89","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2014-03-29T18:00:00",
    "endDate": "2014-03-29T20:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"eb3dd24f-b9b5-42a5-96d8-220ba88f464f\",\"mediaKey\":\"9f382860-b62c-4319-b80e-bfbd234a1f89\",\"crops\":null,\"focalPoint\":null}]",
    "key": "c524b3ab-86be-482e-b722-2f5fda03f34f"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[كورال أطفال الاوبرا]]></Value>
      <Value Culture="en-us"><![CDATA[Cairo Opera Children Choir]]></Value>
      <Value Culture="fr"><![CDATA[Les Choeurs des Enfants de  l'Opera du Caire]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>