<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef311640-e546-403f-b278-55414b812f96" Alias="مهرجان و مؤتمر الموسيقي العربية41596.7916666667" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:38:45</CreateDate>
    <NodeName Default="مهرجان و مؤتمر الموسيقي العربية41596.7916666667">
      <Name Culture="ar-eg">مهرجان و مؤتمر الموسيقي العربية41596.7916666667</Name>
      <Name Culture="en-us">Festival &amp; Conference Arab Music41596.7916666667</Name>
      <Name Culture="fr">Festival et Conference de la Musique Arabe41596.7916666667</Name>
    </NodeName>
    <SortOrder>389</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[[{"key":"6424c7b4-c1bf-49fb-a050-e6cd73c6bd92","mediaKey":"f80faabb-9dd2-4efe-a79b-1f70a0adb3a5","crops":null,"focalPoint":null}]]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	



]]></Value>
      <Value Culture="en-us"><![CDATA[

	



]]></Value>
      <Value Culture="fr"><![CDATA[

	



]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[{"key":"6424c7b4-c1bf-49fb-a050-e6cd73c6bd92","mediaKey":"f80faabb-9dd2-4efe-a79b-1f70a0adb3a5","crops":null,"focalPoint":null}]]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2013-11-18T19:00:00",
    "endDate": "2013-11-18T21:00:00",
    "location": "umb://document/8fd12477b5f54d0f8eb08076eeb23457",
    "dayImage": "[{\"key\":\"6424c7b4-c1bf-49fb-a050-e6cd73c6bd92\",\"mediaKey\":\"f80faabb-9dd2-4efe-a79b-1f70a0adb3a5\",\"crops\":null,\"focalPoint\":null}]",
    "key": "e98e1dc6-e3c4-4483-8c9d-ac63573aafb6"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[مهرجان و مؤتمر الموسيقي العربية]]></Value>
      <Value Culture="en-us"><![CDATA[Festival & Conference Arab Music]]></Value>
      <Value Culture="fr"><![CDATA[Festival et Conference de la Musique Arabe]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>