<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4796350-4128-4e41-8f05-a0d3c92b08c3" Alias="موسيقي حجرة - بيتر اولا42153.8333333333" Level="3">
  <Info>
    <Parent Key="22f4f4d4-fc2f-4d11-b3c3-2ceaa033be4b">الحفلات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-04T18:43:56</CreateDate>
    <NodeName Default="موسيقي حجرة - بيتر اولا42153.8333333333">
      <Name Culture="ar-eg">موسيقي حجرة - بيتر اولا42153.8333333333</Name>
      <Name Culture="en-us">Chamber Music Concert-  Peter Olah42153.8333333333</Name>
      <Name Culture="fr">Concert de Musique de Chambre -  Peter Olah42153.8333333333</Name>
    </NodeName>
    <SortOrder>1539</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="a87456bb-b8e9-4d9b-8b20-d3041fe074cf">Event</Template>
  </Info>
  <Properties>
    <calendarImage>
      <Value><![CDATA[]]></Value>
    </calendarImage>
    <companies>
      <Value><![CDATA[]]></Value>
    </companies>
    <description>
      <Value Culture="ar-eg"><![CDATA[

	


أسعار التذاكر: 10 - 5&nbsp;

&nbsp;


]]></Value>
      <Value Culture="en-us"><![CDATA[

	


Tickets Prices: 10 - 5&nbsp;


]]></Value>
      <Value Culture="fr"><![CDATA[

	


&nbsp;

Prix des tickets: 10 L.E

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; et 5 L.E (pour &eacute;tudiants)

&nbsp;


]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </metaKeywords>
    <multipleImages>
      <Value><![CDATA[]]></Value>
    </multipleImages>
    <nestedDateAndLocation>
      <Value><![CDATA[[
  {
    "ncContentTypeAlias": "eventTimeLocation",
    "startDate": "2015-05-29T20:00:00",
    "endDate": "2015-05-29T22:00:00",
    "location": "umb://document/9f8df1e4a22146778ae8f0bb3775c207",
    "key": "6fbce889-f1a6-4aef-97b9-a7266384bcf4"
  }
]]]></Value>
    </nestedDateAndLocation>
    <performanceCategory>
      <Value><![CDATA[["umb://document/4bb1ec90b2054a91a4a7e38096cbfd1e"]]]></Value>
    </performanceCategory>
    <ticketsMallUrl>
      <Value><![CDATA[]]></Value>
    </ticketsMallUrl>
    <title>
      <Value Culture="ar-eg"><![CDATA[موسيقي حجرة - بيتر اولا]]></Value>
      <Value Culture="en-us"><![CDATA[Chamber Music Concert-  Peter Olah]]></Value>
      <Value Culture="fr"><![CDATA[Concert de Musique de Chambre -  Peter Olah]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>