<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa60a693-8425-48c4-92ac-8fae0b07802d" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-client color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="644f88cc-f34b-4813-a74f-277a70c04450">featureControls</Composition>
      <Composition Key="236d7a3c-0a70-49eb-8c3d-ab6f3956f27c">sEOControls</Composition>
      <Composition Key="279d1f2e-ddcd-4ca7-8c51-720603504997">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a2b010f-0a6f-4651-aaa9-25f2dc606419">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d5c4ddce-7cba-405b-920f-88f1c8b89408</Key>
      <Name>About Opera Description</Name>
      <Alias>aboutOperaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>329a30e4-4a85-4d12-b35b-cb146a233f23</Key>
      <Name>About Opera Image</Name>
      <Alias>aboutOperaImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46e6bedb-29b7-4424-96af-cc4cbeedfe78</Key>
      <Name>About Opera Title</Name>
      <Alias>aboutOperaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27a3a3b6-bfc9-463f-a83b-38ecb983343f</Key>
      <Name>About Opera Video</Name>
      <Alias>aboutOperaVideo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83fe63c7-8aac-4eb3-8226-0c3414db928f</Key>
      <Name>About Opera Video Titile</Name>
      <Alias>aboutOperaVideoTitile</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c7c4453-5b49-4f69-9a33-f690ce3d9e72</Key>
      <Name>Charmin Description</Name>
      <Alias>charminDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="charmin">Charmin</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7224195a-0205-440a-819b-e4e47032a499</Key>
      <Name>Charmin Image</Name>
      <Alias>charminImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="charmin">Charmin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9f636f5-8a7a-4dcf-9c58-a2e7a592b891</Key>
      <Name>Charmin Title</Name>
      <Alias>charminTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="charmin">Charmin</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c29c749-4a52-4b16-be34-5c488806cbf1</Key>
      <Name>Current Presidents</Name>
      <Alias>currentPresidents</Alias>
      <Definition>a9222d53-ed02-442a-b5ff-2049df4d3f1c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbeabe8b-a568-4879-988e-e55b2ee96f52</Key>
      <Name>Current Presidents Title</Name>
      <Alias>currentPresidentsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13801a5a-15e0-4815-91a0-56e0fa1eab58</Key>
      <Name>Minister Description</Name>
      <Alias>ministerDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="minister">Minister</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f4f5211-0b81-4fb3-bc2d-8096b0711de8</Key>
      <Name>Minister Image</Name>
      <Alias>ministerImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="minister">Minister</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06c432cb-8515-4f8e-a4f4-006ea7b75dcb</Key>
      <Name>Minister Title</Name>
      <Alias>ministerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="minister">Minister</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a146662d-5b75-415b-80ea-2bcd900d18d7</Key>
      <Name>Mission Description</Name>
      <Alias>missionDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mission">Mission</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13f58cfc-a2a0-4d88-b09c-9c92067a0b55</Key>
      <Name>Mission Title</Name>
      <Alias>missionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mission">Mission</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>458a34d4-7321-4a17-ab76-4f47eeca9a6a</Key>
      <Name>Mobile About Opera Subtitle</Name>
      <Alias>mobileOperaSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutOpera1">About Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5417c863-81b7-4955-a1a0-259d28f0c725</Key>
      <Name>Mobile Royal Opera Subtitle</Name>
      <Alias>mobileRoyalOperaSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c6d65e7-07ed-41f8-920a-3f3c1593f146</Key>
      <Name>Previous Presidents</Name>
      <Alias>previousPresidents</Alias>
      <Definition>a9222d53-ed02-442a-b5ff-2049df4d3f1c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d134bb9c-a11f-4adf-92a0-4bb5fa5ff533</Key>
      <Name>Previous Presidents Title</Name>
      <Alias>previousPresidentsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4470a0b5-6b1a-4469-98db-409bfb165022</Key>
      <Name>Royal Opera Description</Name>
      <Alias>royalOperaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c2ceec4-6cc6-4ff5-94cd-f416a45a6aac</Key>
      <Name>Royal Opera Image</Name>
      <Alias>royalOperaImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cdeb426f-62c5-4633-aa02-a2f9d85c9905</Key>
      <Name>Royal Opera Title</Name>
      <Alias>royalOperaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86f50c4d-de30-487e-b7fd-6c9165debcc7</Key>
      <Name>Royal Opera Video</Name>
      <Alias>royalOperaVideo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0386f2b8-2e66-4839-9152-c0ba5470c674</Key>
      <Name>Royal Opera Video Titile</Name>
      <Alias>royalOperaVideoTitile</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="aboutOpera">Royal Opera</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Minister</Caption>
      <SortOrder>1</SortOrder>
      <Alias>minister</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Charmin</Caption>
      <SortOrder>2</SortOrder>
      <Alias>charmin</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Mission</Caption>
      <SortOrder>3</SortOrder>
      <Alias>mission</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Royal Opera</Caption>
      <SortOrder>5</SortOrder>
      <Alias>aboutOpera</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>About Opera</Caption>
      <SortOrder>6</SortOrder>
      <Alias>aboutOpera1</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>