<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2babc1d-370a-4480-ae4a-e949e16223fb" Alias="contacts" Level="2">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-phone-ring color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b16af6aa-3018-47bc-9ae8-fb94c4373813">contactsControls</Composition>
      <Composition Key="36d6a8b6-cb78-4b5b-8e92-b0b23500d7f5">headerControls</Composition>
      <Composition Key="00e53dad-6600-4fb5-ae09-e78eeef7ad5e">introControls</Composition>
      <Composition Key="236d7a3c-0a70-49eb-8c3d-ab6f3956f27c">sEOControls</Composition>
      <Composition Key="0de246fa-6070-4a12-85ce-0fc86e1efb03">socialLinksControls</Composition>
      <Composition Key="279d1f2e-ddcd-4ca7-8c51-720603504997">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d1970913-e9ca-41d1-8f1c-d7825ab9fc55">Contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>