<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5af83f7-f2dc-4f4a-be85-8083fe3b3f45" Alias="dailyMagazine" Level="2">
  <Info>
    <Name>Daily Magazine</Name>
    <Icon>icon-billboard color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a0ff9318-8646-4521-9e6f-17c23a15db0d">magazineItem</Composition>
      <Composition Key="236d7a3c-0a70-49eb-8c3d-ab6f3956f27c">sEOControls</Composition>
      <Composition Key="279d1f2e-ddcd-4ca7-8c51-720603504997">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>DailyMagazine</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9cf43ed7-d422-4777-a4a6-431210f62ea3">DailyMagazine</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>