<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54358e93-1bed-456b-9a86-709ec3b1331d" Alias="festivalList" Level="2">
  <Info>
    <Name>Festival List</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fb6680f6-4821-4f39-8d81-b31f48c3efb5">imageControls</Composition>
      <Composition Key="00e53dad-6600-4fb5-ae09-e78eeef7ad5e">introControls</Composition>
      <Composition Key="236d7a3c-0a70-49eb-8c3d-ab6f3956f27c">sEOControls</Composition>
      <Composition Key="279d1f2e-ddcd-4ca7-8c51-720603504997">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>FestivalList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5839ea52-4f14-410c-a1ad-5a35abbb48d6">FestivalList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bb9dc892-1543-4bd7-b89d-bf5c17b9ef6e" SortOrder="0">festivalEdition</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>