<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb6680f6-4821-4f39-8d81-b31f48c3efb5" Alias="imageControls" Level="2">
  <Info>
    <Name>Image Controls</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5e6dc0f5-c3c7-45f7-88c4-54ce18bbe0cc</Key>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Preferred to be all with the same size]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="mainImageContent1">Main Image Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Image Content</Caption>
      <SortOrder>2</SortOrder>
      <Alias>mainImageContent1</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>