<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08b2af1f-7092-4006-a119-c1b80892f4f6" Alias="museumList" Level="2">
  <Info>
    <Name>Museum List</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="36d6a8b6-cb78-4b5b-8e92-b0b23500d7f5">headerControls</Composition>
      <Composition Key="00e53dad-6600-4fb5-ae09-e78eeef7ad5e">introControls</Composition>
      <Composition Key="236d7a3c-0a70-49eb-8c3d-ab6f3956f27c">sEOControls</Composition>
      <Composition Key="279d1f2e-ddcd-4ca7-8c51-720603504997">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>MuseumList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f18437c-17ff-46a3-a7e6-6d0c3ae6483f">MuseumList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="90c4b8c4-37b1-47ed-95ff-df4bf9580c62" SortOrder="0">museum</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>