<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4a2246b-b59d-49d7-8e47-232b42438e3a" Alias="Btn.CompetitionRegister" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">سجل الان</Translation>
    <Translation Language="en-US">Register Now</Translation>
    <Translation Language="fr">Register Now</Translation>
  </Translations>
</Dictionary>