<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f48d348-1f42-484a-9816-5d956574caf5" Alias="CalendarFilter.Categories" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">الفئات</Translation>
    <Translation Language="en-US">Categories</Translation>
    <Translation Language="fr">Categories</Translation>
  </Translations>
</Dictionary>