<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="459e895e-4751-4465-bc09-2729b0feefae" Alias="Competition.InvalidFirstName" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">ادخل الاسم بالعربي</Translation>
    <Translation Language="en-US">Enter the name in Arabic</Translation>
    <Translation Language="fr">Enter the name in Arabic</Translation>
  </Translations>
</Dictionary>