<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1a9d0895-4e33-4b93-8d23-faa3cd961b95" Alias="Company.About" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">عن الفرقه</Translation>
    <Translation Language="en-US">About</Translation>
    <Translation Language="fr">About</Translation>
  </Translations>
</Dictionary>