<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="691f6a0c-e3e5-4522-9340-b1ec523acb09" Alias="Competition.LastName" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">اللقب</Translation>
    <Translation Language="en-US">Family Name</Translation>
    <Translation Language="fr">Family Name</Translation>
  </Translations>
</Dictionary>