<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9a4b7eb6-afd9-492a-beee-f3454a4aa0ed" Alias="Competition.Url" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">رابط مرفقات (YouTube - WeTransfer - Google Drive ..etc)</Translation>
    <Translation Language="en-US">URL (YouTube - WeTransfer - Google Drive ..etc)</Translation>
    <Translation Language="fr">URL (YouTube - WeTransfer - Google Drive ..etc)</Translation>
  </Translations>
</Dictionary>