<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e4a6c8c-b6e9-4f97-bb7b-fe79f1951ca3" Alias="Competition.SendOtpBtn" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">ارسال رقم التحقق</Translation>
    <Translation Language="en-US">Send OTP</Translation>
    <Translation Language="fr">Send OTP</Translation>
  </Translations>
</Dictionary>