<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="46a29508-7a85-4c6a-95ea-3bf2ee06968d" Alias="Conferenece.TxtSortOldest" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">الاقدم</Translation>
    <Translation Language="en-US">Oldest</Translation>
    <Translation Language="fr">Oldest</Translation>
  </Translations>
</Dictionary>