<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eb63eda3-9920-4fb6-8d90-f3f04a3b1541" Alias="ForYou.LoginDesc" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">الرجاء تسجيل الدخول لتلقي الأحداث المفضلة لديك</Translation>
    <Translation Language="en-US">Please login to receive your favourite events </Translation>
    <Translation Language="fr">Please login to receive your favourite events </Translation>
  </Translations>
</Dictionary>