<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4f3989e-4394-4cd0-b1a7-a56b8fa82bb7" Alias="Home.UpcomingShowsTitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">العروض القادمة</Translation>
    <Translation Language="en-US">Upcoming Shows</Translation>
    <Translation Language="fr">Upcoming Shows</Translation>
  </Translations>
</Dictionary>