<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a22e08d-9af8-48d3-8751-f16845927ae7" Alias="Language" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">اللغة</Translation>
    <Translation Language="en-US">Language</Translation>
    <Translation Language="fr">Language</Translation>
  </Translations>
</Dictionary>