<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1fe6f12-8d61-4ec3-b0e4-040463c3e5fa" Alias="Nested Features" Level="1">
  <Info>
    <Name>Nested Features</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featureItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>