<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f3ec5cd-4792-431b-9f56-1435320fb020" Alias="Nested School Announcements" Level="1">
  <Info>
    <Name>Nested School Announcements</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "schoolAnnouncement",
      "ncTabAlias": "School Announcement",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>