<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bae76639-b9d0-4d3f-bcc8-a957d4e2fe8a" Alias="Performance Classification Dropdown" Level="1">
  <Info>
    <Name>Performance Classification Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": []
}]]></Config>
</DataType>