<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5208e727-4716-4556-a190-7d17eed5f2fa" Alias="Social Links" Level="1">
  <Info>
    <Name>Social Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>